<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message"
} @-->

{{template config_path="design/email/header_template" template_id=$this.id}}

<table class="main-table">
    <tr class="email-intro">
        <td>
            <p class="greeting order-greeting">
                {{trans "Hi"}} <span class="customer-name">{{trans "%customer_name," customer_name=$order.getCustomerName()}}</span>
            </p>
            <p>
                {{trans "Thank you for shopping with us."}}
                <br>
                {{trans "This order %increment_id requires your approval." increment_id=$order.increment_id |raw}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p class="info-title">{{trans "Your account login details"}}</p>
            <ul class="summary-list">
                <li>{{trans "<strong>Order Number:</strong> %increment_id" increment_id=$order.increment_id |raw}} {{trans 'placed on %created_at' created_at=$order.getCreatedAtFormatted(3) |raw}}</li>
                <li>{{trans "<strong>Customer Code:</strong> %customer_id" customer_id=$order.getCustomerId() |raw}}</li>
                <li>{{trans '<strong>Payment:</strong>' |raw}} {{var payment_html|raw}}</li>
                <li>{{trans '<strong>Customer&apos;s Industry:</strong> %store_name' store_name=$store.getFrontendName() |raw}}</li>
                <li>{{trans '<strong>Campaign Code:</strong> %campaign_code' campaign_code=$order.getCampaignCode() |raw}}</li>
            </ul>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
            <table class="order-details">
                <tr>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <h3>{{trans "Delivery Address"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                    <td class="address-details">
                        <h3>{{trans "Billing Address"}}</h3>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                </tr>

                <tr>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <h3>{{trans "Shipping Method"}}</h3>
                        <p>{{var order.getShippingDescription()}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    {{/depend}}
                    <td class="method-info">
                        <h3>{{trans "Payment Method"}}</h3>
                        {{var payment_html|raw}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
