<?php
// @codingStandardsIgnoreFile
/** @var \Magento\Sales\Block\Order\Totals $block */
/** @var \Magento\Sales\Model\Order $_order */
$_order  = $block->getOrder();
$_currency = $_order->getOrderCurrency();
$_currencyCode = $_currency->getCode();
$_currencyOptions = ['precision' => 2, 'display' => \Magento\Framework\Currency::NO_SYMBOL];
?>
<tr class="totals-tax-summary">
    <th colspan="3"><?= $block->escapeHtml(__('Total GST')) ?></th>
    <td><?= $block->escapeHtml($_currencyCode) ?></td>
    <td><?= $block->escapeHtml($_currency->formatTxt($_order->getTaxAmount(), $_currencyOptions)) ?></td>
</tr>
