<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome to %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">Hi {{trans "%name," name=$customer.name}}</p>
<p class="info-title">{{trans "Your account login details"}}</p>
<ul class="info-list">
    <li><strong>{{trans "E-mail address:"}}</strong> {{var customer.email}}</li>
    <li><strong>{{trans "Password:"}}</strong> {{trans "xxxxxx"}}</li>
</ul>

{{template config_path="design/email/footer_template"}}
