<?php
// @codingStandardsIgnoreFile
/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */
?>
<?php if (!$block->isLoggedIn()): ?>
    <li class="authorization-link" data-label="<?= $block->escapeHtml(__('or')) ?>">
        <a <?= /* @noEscape */ $block->getLinkAttributes() ?>>
            <?= $block->escapeHtml($block->getLabel()) ?>
        </a>
    </li>
<?php endif; ?>
