<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block Magento\Framework\View\Element\Html\Link */ ?>
<?php if($block->getChildHtml()):?>
<li class="customer-register links-container desktop-only">
    <span class="links-container-title"
          role="link"
          tabindex="0"
          data-mage-init='{"dropdown":{}}'
          data-toggle="dropdown"
          data-trigger-keypress-button="true"
          title="<?= $block->escapeHtml(__('Create an Account')) ?>"
    >
        <i class="fas fa-user"></i>
        <button type="button"
                class="action switch"
                tabindex="-1">
            <span><?= $block->escapeHtml(__('Change')) ?></span>
        </button>
    </span>
    <div class="customer-menu" data-target="dropdown">
        <ul class="header links">
            <?= $block->getChildHtml() ?>
        </ul>
    </div>
</li>
<?php endif; ?>
