<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block Magento\Framework\View\Element\Html\Link */ ?>
<?php if($block->getChildHtml()):?>
<div class="customer-register links-container mobile-only">
    <ul>
        <?= $block->getChildHtml() ?>
    </ul>
</div>
<?php endif; ?>
