//
//  Variables
//  _____________________________________________

@_page-footer__color: #fff;
@_page-footer__background-color: #282829;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .page-footer {
    color: @_page-footer__color;
    background-color: @_page-footer__background-color;

    a {
      color: #fff;
    }
  }

  .footer {
    &.content {
      padding: 11px 0 0;
      border: 0;

      .block {
        &.newsletter {
          float: none;
          width: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 0 0 13px;
          padding: 0 10px;

          .title {
            margin: 0;
            padding: 0 0 10px;
            display: block;
            font-size: 1.4rem;
            line-height: 1.43;
          }

          .subscribe-holder {
            background: #fff;
            padding: 3px;
            border-radius: 8px;
            width: 100%;
          }

          input {
            padding: 0 15px;
            height: 38px;
            border: 0;
            font-size: 1.2rem;

            &:focus {
              box-shadow: none;
            }
          }

          .field {
            .control {
              &::before {
                display: none;
              }
            }
          }

          .action {
            &.subscribe {
              padding: 9px 29px;
              border-radius: 5px;
              color: @_page-footer__color;
            }
          }
        }
      }

      .links {
        a {
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }

      .links-holder {
        border-top: 1px solid #4a4a4a;
        padding: 0;

        .row {
          margin: 0 0 0 -30px;
          display: flex;
          flex-wrap: wrap;

          > div[data-content-type='row'][data-appearance='contained']{
            flex-basis: 75%;
            margin-left: 0px !important;
            margin-right: 0px !important;

            @media screen and (max-width: 768px){
              flex-basis: 100%;
            }
          }

          > .store-info-col{
            flex-basis: 25%;

            @media screen and (max-width: 768px){
              flex-basis: 100%;
            }
          }

          .footer-links-wrap > div {
            display: flex;
            flex-wrap: wrap;

            .col{
              flex-basis: 33.33%;

              @media screen and (max-width: 768px){
                flex-basis: 100%;
              }
            }
          }

          .col,
          .store-info-col {
            width: 100%;
            padding: 0 0 0 30px;
            box-sizing: border-box;

            .links-title {
              margin: 0;
              padding: 14px 40px 12px 14px;
              border-bottom: 1px solid #4a4a4a;
              font-size: 1.6rem;
              line-height: 1.3;
              font-weight: normal;
              position: relative;
              cursor: pointer;

              &::before {
                content: '\f067';
                font: 1.4rem "Font Awesome 5 Free Solid";
                position: absolute;
                right: 16px;
                top: 15px;
              }

              .footer-logo {
                display: inline-block;
                max-width: 150px;

                img {
                  display: inline-block;
                  vertical-align: top;
                }
              }
            }

            &[aria-expanded="true"] {
              .links-title::before {
                content: '\f068';
              }
            }

            div.links-title {
              text-align: center;
              margin: 0 0 7px;
              padding: 0px 14px 11px;
              cursor: default;

              &::before {
                display: none;
              }
            }
          }

          .store-info-col div.links-title{
            @media screen and (max-width: 768px){
              padding: 37px 14px 33px
            }
          }
        }

        .social-list {
          margin: 0 0 20px -30px;
          padding: 0;
          letter-spacing: normal;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          font-size: 1.8rem;

          li {
            margin: 0;
            padding: 0 0 0 30px;

            a {
              padding: 5px;
              display: inline-block;
              vertical-align: top;
              transition: opacity .3s;

              &:hover {
                text-decoration: none;
                opacity: .7;
              }

              &.ico-blog {
                font-size: 6px;
                color: #4a4a4a;
                position: relative;

                span {
                  display: inline-block;
                  vertical-align: top;
                  background: #fff;
                  border-radius: 50%;
                  min-width: 19px;
                  min-height: 19px;
                  padding: 5px 3px;
                  box-sizing: border-box;
                }
              }
            }
          }
        }
      }

      .links-content {
        padding: 11px 10px;
        border-bottom: 1px solid #4a4a4a;
        display: none;
      }

      .footer-links {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.357;
      }

      .contact-list {
        margin: 0 0 -8px;
        padding: 0 27px;
        list-style: none;
        line-height: 1.357;

        > li {
          padding: 0 0 20px 27px;
          position: relative;

          &::before {
            font: 1.2rem/1.42 "Font Awesome 5 Free Solid";
            position: absolute;
            left: 4px;
            top: 1px;
          }

          &.phone {
            &::before {
              content: '\f095';
            }
          }

          &.landline-phone {
            &::before {
              content: '\f1ac';
            }
          }

          &.email {
            word-wrap: break-word;

            &::before {
              content: '\f0e0';
            }
          }

          &.working-hours {
            &::before {
              content: '\f017';
              top: 0;
            }
          }

          &.contact-address {
            &::before {
              content: '\f3c5';
              left: 6px;
              top: 0;
            }
          }
        }
      }
    }
    .footer-bottom {
      overflow: hidden;
      padding: 0;
      text-align: center;
    }

    .footer-middle {
      font-size: 1rem;
      line-height: 13px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #4a4a4a;

      .payment-logos {
        margin: 0 auto;
        padding: 13px 0;
        list-style: none;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;

        li {
          float: left;
          padding: 0 2px;

          svg {
            vertical-align: top;
          }
        }
      }
    }

    .abn-text {
      display: block;
      font-weight: normal;
      padding: 17px 0;
      border-top: 1px solid #4a4a4a;
      width: 100%;
      text-align: center;
      order: 1;
    }

    .copyright {
      background: none;
      padding: 12px 0 24px;
      font-size: 1rem;
      line-height: 13px;
      border-top: 1px solid #4a4a4a;
    }
  }
}

//
//  Mobile
//  _____________________________________________

//.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
//
//}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-footer {
    color: @_page-footer__color;
    background-color: @_page-footer__background-color;
    padding-bottom: 8px;

    a {
      color: #fff;
    }
  }

  .footer {
    &.content {
      padding: 15px 20px 0;
      max-width: 1230px;

      .block {
        &.newsletter {
          flex-wrap: nowrap;
          margin: 0 0 16px;
          padding: 0;

          .title {
            padding: 3px 7.2% 0 0;
            font-size: 1.6rem;
            line-height: 1.38;
            font-weight: bold;
          }

          .subscribe-holder {
            width: auto;
          }

          input {
            padding: 0 21px;
            min-width: 290px;
            font-size: 1.4rem;
          }
        }
      }

      .links-holder {
        border-top: 1px solid #979797;
        padding: 49px 0 0;

        .row {
          .col,
          .store-info-col {
            width: 25%;
            padding-bottom: 15px;

            .links-title {
              max-width: 180px;
              font-weight: bold;
              margin: 0 0 10px;
              padding: 0 0 9px;
              cursor: default;
              border-color: #979797;
              &::before {
                display: none;
              }
            }

            div.links-title {
              text-align: left;
              margin: 0;
              padding: 0 0 9px;
            }
          }
        }

        .social-list {
          margin-top: 7px;
          justify-content: left;
        }
      }

      .links-content {
        border: 0;
        padding: 0;
        display: block !important;
      }

      .contact-list {
        margin: 0;
        padding: 0;

        > li {
          padding: 0 0 8px 27px;
        }
      }
    }

    .footer-middle {
      .payment-logos {
        margin: -5px 0 0;
        padding: 0;
        float: left;
      }
    }

    .footer-bottom {
      padding: 15px 0 0;
      border-top: 1px solid #979797;
    }

    .footer-middle {
      max-width: 506px;
      margin: 0 auto;
      padding: 20px 0 16px;
      border: 0;
    }

    .abn-text {
      border: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      width: auto;
      order: 0;
    }

    .copyright {
      border: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .footer {
    &.content {
      padding: 15px 0 0;

      .block {
        &.newsletter {
          padding: 0 0 0 78px;
        }
      }

      .links-holder {
        .row {
          margin: 0 auto;
          max-width: 1040px;
        }
      }
    }
  }
}
