// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

//  Colors
//@requisition-link__color: @color-gray40;
//@requisition-label__color: @primary__color__darker;
//@requisition-order__color: @color-blue1;
//@requisition-print__color: @color-gray20;
//@requisition-print__border-color: @color-gray80;
//@requisition-icons__color: @color-gray56;
//@requisition-table__border-color: @color-gray-middle1;

//  Icons
//@icon-dropdown-list: '\e901';
//@icon-configure: '\e601';

//  Fonts
//@requisition-print__font-size-m: 1.4rem;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}
