<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Store\Block\Switcher $block */
?>
<?php if (count($block->getGroups())>1): ?>
<div class="store switcher-store store-list">
    <ul class="switcher-list">
        <?php foreach ($block->getGroups() as $_group): ?>
            <li>
            <?php if ($_group->getId() == $block->getCurrentGroupId()): ?>
                <strong><?= $block->escapeHtml($_group->getName()) ?></strong>
            <?php else: ?>
                <a href="#" data-post='<?= /* @noEscape */ $block->getTargetStorePostData($_group->getDefaultStore()) ?>'>
                    <?= $block->escapeHtml($_group->getName()) ?>
                </a>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
