<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Store\Block\Switcher $block */
?>
<?php if (count($block->getGroups())>1): ?>
<li class="store-set links-container desktop-only" id="switcher-store">
    <?php foreach ($block->getGroups() as $_group): ?>
    <?php if ($_group->getId() == $block->getCurrentGroupId()): ?>
        <span class="links-container-title"
             role="button"
             tabindex="0"
             data-mage-init='{"dropdown":{}}'
             data-toggle="dropdown"
             data-trigger-keypress-button="true"
             id="switcher-store-trigger"
             title="<?= $block->escapeHtml($_group->getName()) ?>"
        >
            <i class="fas fa-planet"></i>
            <button type="button"
                    class="action switch"
                    tabindex="-1">
                <span><?= $block->escapeHtml($_group->getName()) ?></span>
            </button>
        </span>
    <?php endif; ?>
    <?php endforeach; ?>
    <div class="customer-menu" data-target="dropdown">
        <ul class="header links">
            <?php foreach ($block->getGroups() as $_group): ?>
            <?php if (!($_group->getId() == $block->getCurrentGroupId())): ?>
                <li class="switcher-option">
                    <a href="#" data-post='<?= /* @noEscape */ $block->getTargetStorePostData($_group->getDefaultStore()) ?>'>
                        <?= $block->escapeHtml($_group->getName()) ?>
                    </a>
                </li>
            <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</li>
<?php endif; ?>
