<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Wrapper for product sections to include title
 *
 * @var \Magento\Framework\View\Element\Template $block
 */
$childHtml = $block->getChildHtml();
?>
<?php if (trim($childHtml) !== "") : ?>
    <div class="product-full-width-section product data items active" id="tab-container-reviews" role="tab" data-role="tab" >
        <h2 class="product-section-title" href="#reviews"><?= $block->escapeHtml($block->getTitle()); ?></h2>
        <div class="data item content" id="reviews" data-role="content"><?= $block->getChildHtml(); ?></div>
    </div>
<?php endif; ?>