<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\RequisitionList\Block\Catalog\Product\View\Addto\Requisition */
?>
<div class="block block-requisition-list social-button" data-bind="scope: 'requisition_<?php echo $block->escapeJs($block->getComponentId()); ?>'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "requisition_<?= $block->escapeJs($block->getComponentId()) ?>": {
                        "component": "Magento_RequisitionList/js/requisition/action/product/view/add",
                        "editModuleName": "requisition_<?= $block->escapeJs($block->getComponentId()) ?>.edit",
                        "title": "<?= /* @noEscape */ __('Requisition List'); ?>",
                        "action": "<?= /* @noEscape */ $block->getUrl('requisition_list/item/add'); ?>",
                        "sku": "<?= $block->escapeJs($block->getProduct()->getSku()) ?>",
                        "productFormSelector": "#product_addtocart_form"
                    },
                    "requisition_<?= $block->escapeJs($block->getComponentId()) ?>.edit": {
                        "component": "Magento_RequisitionList/js/requisition/list/edit",
                        "modal": "add_to_requisition_popup",
                        "saveUrl": "<?= /* @noEscape */ $block->getUrl('rest/V1/requisition_lists') ?>"
                    }
                }
            }
        }
    }
</script>

