<div id="homeSlider">
    <div class="items">
        <div class="item">
            <div class="item-photo">
                <a href="#" class="photo">
                    <img class="image-photo" src="" alt="photo 1" />
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item-photo">
                <a href="#" class="photo">
                    <img class="image-photo" src="" alt="photo 2" />
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item-photo">
                <a href="#" class="photo">
                    <img class="image-photo" src="" alt="photo 3" />
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    require([
        'jquery',
        'bxFunctions',
        'sameheight'
    ], function($) {
        $("#homeSlider").easyBxSlider({
            mode: 'horizontal',
            infiniteLoop: true,
            galleryListSelector: '.items',
            slideSelector: '.item',
            pager: true,
            slideMargin: 16,
            slideWidth: 2500
        });
    });
</script>