//
//  Variables
//  _____________________________________________


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .products-grid.wishlist {
    .product-items {
      .product-item {
        position: relative;
        z-index: 0;

        &:hover {
          z-index: 1;
        }
      }
    }
  }
}


//
//  Mobile
//  _____________________________________________

//.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
//
//}


//
//  Desktop
//  _____________________________________________

//.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
//
//}

//.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
//
//}
