//FROM _forms.less
//
//  Variables
//  _____________________________________________
@form-field-label-asterisk__color: @color-black;
@form-field-label-asterisk__font-size: 14px;
@form-field-label-asterisk__margin: 0;

@form-field__vertical-indent: 10px;

@blue_link_color: #2c9cf2;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .opc-wrapper {
    .fieldset {
      .field {
        > .control > .field {
          ._lib-form-field-type-block(
            @_type-block-margin: 0 0 10px,
            @_type-block-label-margin: 0 0 4px,
            @_type-block-label-padding: 0,
            @_type-block-label-align: left
          );
          ._lib-form-field-required();

          &:last-child {
            margin-bottom: 0;
          }
        }

        > .label {
          margin-bottom: 4px;
        }
      }
    }

    .actions-toolbar {
      > .secondary {
        .action.back {
          font-size: 1.2rem;
          line-height: 1.67;
          margin: 15px 0 0;
          font-weight: @font-weight__semibold;
          color: @blue_link_color;
          &:hover {
            text-decoration: underline;
          }

          &::before {
            vertical-align: top;
          }

          .lib-icon-font(
              @fa-var-angle-left,
            @_icon-font: @font-face__fontawesome-solid,
            @_icon-font-size: 1.6rem,
            @_icon-font-line-height: 1.67,
            @_icon-font-text-hide: false,
            @_icon-font-position: before,
            @_icon-font-margin: -3px 17px 0 0,
            @_icon-font-display: inline-block
          );
        }
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .opc-wrapper {
    .actions-toolbar {
      > .secondary {
        .action.back {
          margin: 20px 0 0;
        }
      }
    }
  }
}



//FROM _store-tile.ess
//
//  Variables
//  _____________________________________________

@color__aged_care_store: #054872;
@color__hair_and_beauty_store: #de4889;
@color__childcare_store: #eeb300;
@color__school_store: #e88604;
@color__dental_store: #7aba1e;
@color__healthcare_store: #7aba1e;
@color__hospital_store: #00d1f2;
@color__laboratory_store: #f38874;
@color__packaging_store: #858789;
@color__pharmacy_store: #8e6aad;
@color__universities_store: #ad1d56;
@color__veterinary_store: #00aeb4;
@color__first_aid: #df4e2c;
@color__general_public: #4a4a4a;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .store-tile {
    display: inline-block;
    vertical-align: top;
    width: 175px;
    border-radius: 8px;

    .title {
      height: 36px;
      .aged_care_store& {
        color: @color__aged_care_store;
      }
      .hair_and_beauty& {
        color: @color__hair_and_beauty_store;
      }
      .childcare_store& {
        color: @color__childcare_store;
      }
      .school_store& {
        color: @color__school_store;
      }
      .dental_store& {
        color: @color__dental_store;
      }
      .healthcare_store& {
        color: @color__healthcare_store;
      }
      .hospital_store& {
        color: @color__hospital_store;
      }
      .laboratory_store& {
        color: @color__laboratory_store;
      }
      .packaging_store& {
        color: @color__packaging_store;
      }
      .pharmacy_store& {
        color: @color__pharmacy_store;
      }
      .universities_store& {
        color: @color__universities_store;
      }
      .veterinary_store& {
        color: @color__veterinary_store;
      }
      .first_aid_store& {
        color: @color__first_aid;
      }
      .general_public_store& {
        color: @color__general_public;
      }
    }

    .content {
      height: 179px;
      color: @color-white;
      .link {
        display: block;
        text-decoration: none;
        overflow: hidden;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
