<?php
// @codingStandardsIgnoreFile
/** @var \Magento\Sales\Block\Order\Email\Items $block */
/** @var \Magento\Sales\Model\Order $_order */
$_order = $block->getOrder();
$_currencySymbol = $block->escapeHtml($_order->getOrderCurrency()->getCurrencySymbol());
?>
<?php if ($_order): ?>
    <?php $_items = $_order->getAllItems(); ?>
    <table class="email-items">
        <thead>
            <tr>
                <th class="item-number">&#x23;</th>
                <th class="item-sku"><?= $block->escapeHtml(__('Item No.')) ?></th>
                <th class="item-info"><?= $block->escapeHtml(__('Description')) ?></th>
                <th class="item-price"><?= $block->escapeHtml(__('Unit Price')) ?>&nbsp;<?= $_currencySymbol ?></th>
                <th class="item-qty"><?= $block->escapeHtml(__('Qty')) ?></th>
                <th class="item-subtotal"><?= $block->escapeHtml(__('Subtotal')) ?>&nbsp;<?= $_currencySymbol ?></th>
            </tr>
        </thead>
        <?php $counter = 1; ?>
        <?php foreach ($_items as $_item): ?>
            <?php if (!$_item->getParentItem()) : ?>
                <tbody>
                    <?php $_item->setData('index', $counter++) ?>
                    <?= $block->getItemHtml($_item) ?>
                </tbody>
            <?php endif; ?>
        <?php endforeach; ?>
        <tfoot class="order-totals">

            <?= $block->getChildHtml('order_totals') ?>
        </tfoot>
    </table>
    <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
        <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_order->getGiftMessageId()); ?>
        <?php if ($_giftMessage): ?>
            <br />
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?= /* @escapeNotVerified */  __('Gift Message for this Order') ?></h3>
                        <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                        <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
