<?php
// @codingStandardsIgnoreFile
/** @var \Magento\Sales\Block\Order\Totals $block */
$_totals = $block->getTotals();
$_totalsCount = count($_totals);
$_order = $block->getOrder();
$_itemsCount = count($_order->getItems());
$_currency = $_order->getOrderCurrency();
$_currencyCode = $_currency->getCode();
$_currencyOptions = ['precision' => 2, 'display' => \Magento\Framework\Currency::NO_SYMBOL];
$_codeLabelMap = [
    'shipping' => __('Shipping'),
    'grand_total' => __('Total with GST'),
];
?>
<?php foreach ($block->getTotals() as $_code => $_total): ?>
    <?php if ($_total->getBlockName()): ?>
        <?= $block->getChildHtml($_total->getBlockName(), false) ?>
    <?php elseif ($_code === 'subtotal'): ?>
        <tr class="subtotal">
            <td>
                <?= $block->escapeHtml(__('%1 item(s)', $_itemsCount)) ?>
            </td>
            <td colspan="3">
                <?= $block->escapeHtml(__('Products with GST')) ?>
            </td>
            <td>
                <?= $block->escapeHtml($_currencyCode) ?>
            </td>
            <td>
                <?= $block->escapeHtml($_currency->formatTxt($_total->getValue(), $_currencyOptions)) ?>
            </td>
        </tr>
        <tr class="spacer">
            <td rowspan="<?= $_totalsCount ?>"></td>
            <td colspan="5"></td>
        </tr>
    <?php else: ?>
        <tr class="<?= $block->escapeHtmlAttr($_code) ?>">
            <th colspan="3">
                <?= isset($_codeLabelMap[$_code]) ? $block->escapeHtml($_codeLabelMap[$_code]) : $block->escapeHtml($_total->getLabel()) ?>
            </th>
            <td>
                <?= $block->escapeHtml($_currencyCode) ?>
            </td>
            <td>
                <?= $block->escapeHtml($_currency->formatTxt($_total->getValue(), $_currencyOptions)) ?>
            </td>
        </tr>
    <?php endif?>
<?php endforeach?>
