<script type="text/x-magento-template" id="tier-prices-template">
    <ul class="prices-tier items">
        <li class="title-row">
            <strong class="qty-label"><?= /* @escapeNotVerified */ __('Qty') ?></strong>
            <strong class="tier-price"><?= /* @escapeNotVerified */ __('Bulk pricing (incl. GST)') ?></strong>
        </li>

        <% _.each(tierPrices, function(item, key) { %>
        <%  var priceStr = '<span class="price-container price-tier_price">'
                + '<span data-price-amount="' + priceUtils.formatPrice(item.price, currencyFormat) + '"'
                + ' data-price-type=""' + ' class="price-wrapper ">'
                + '<span class="price">' + priceUtils.formatPrice(item.price, currencyFormat) + '</span>'
                + '</span>'
        + '</span>'; %>

        <li class="item">
            <span class="qty-label"><%= item.qty %>+</span>
            <span class="tier-price"><%= priceStr %></span>
        </li>
        <% }); %>
    </ul>
</script>
<div data-role="tier-price-block"></div>
