<div class="actions requisition-view-links">
    <a class="action print"
       href="<?= /* @noEscape */ $block->getPrintUrl() ?>"
       data-mobile-label="<?= $block->escapeHtml(__('Print')) ?>"
       target="_blank">
        <i class="fas fa-print"></i>
        <span><?= $block->escapeHtml(__('Print')) ?></span>
    </a>
</div>
