//
//  Variables
//  _____________________________________________

@_footer-promo__color: #fff;
@_footer-promo__background-color: #878787;
@_footer-promo-list-separator__color__mobile: #979797;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .footer-promo {
    display: block;
    background-color: @_footer-promo__background-color;
    color: @_footer-promo__color;

    .footer-promo-list {
      margin: 0 auto;
      list-style: none;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: center;
      width: 100%;
      box-sizing: border-box;
      text-transform: uppercase;

      li {
        margin: 0;

        a,
        span {
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          color: @_footer-promo__color;

          i {
            display: inline-block;
            vertical-align: middle;
            .lib-font-size(24);
            padding-right: 16px;
          }
        }
        a:hover {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .footer-promo {
    .lib-font-size(14);
    line-height: 1.31;

    .footer-promo-list {
      flex-direction: column;
      padding: 1px 20px 0 20px;

      li {
        border-top: 1px solid @_footer-promo-list-separator__color__mobile;
        padding: 10px 11px 10px 12px;
        text-align: center;

        &:first-child {
          border: 0;
        }
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .footer-promo {
    .lib-font-size(16);
    line-height: 1.31;

    .footer-promo-list {
      max-width: 1278px;
      flex-flow: row wrap;
      padding: 17px 20px 16px;

      li {
        padding: 11px 15px 11px 0;
      }
    }
  }
}
