//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .cms-block.store-description {
    max-width: 840px;
    margin: 0 auto;
    padding: 13px 0 17px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;

    h2 {
      margin: 0 0 30px;
    }

    .cms-block-content {
      p {
        margin: 0 0 18px;
      }

      &.read-more {
        max-height: 150px;
        overflow: hidden;
      }
    }

    .read-more-link {
      display: inline-block;
      position: relative;
      color: #4a90e2;
      text-decoration: underline;
      margin: 10px 0 0;
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 100vw;
        transform: translateX(-50vw);
        pointer-events: none;
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .cms-block.store-description {
    padding-bottom: 37px;
    h2 {
      font-size: 3.6rem;
      line-height: 1.36;
      font-weight: 600;
    }

    .read-more-link {
      margin-top: 20px;

      &::after,
      &::before {
        top: -32px;
        height: 15px;
        background: -moz-linear-gradient(top, rgba(249,249,249,0.8) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top, rgba(249,249,249,0.8) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(249,249,249,0.8) 0%,rgba(255,255,255,0) 100%);
      }

      &::before {
        top: -47px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.8) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(249,249,249,0.8) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(249,249,249,0.8) 100%);
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .cms-block.store-description {
    h2 {
      font-size: 4.8rem;
      line-height: 1.29;
      font-weight: 400;
    }

    .read-more-link {
      &::after,
      &::before {
        top: -14px;
        height: 27px;
        background: -moz-linear-gradient(top, #f9f9f9 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top, #f9f9f9 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, #f9f9f9 0%,rgba(255,255,255,0) 100%);
      }

      &::before {
        top: -41px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #f9f9f9 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#f9f9f9 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#f9f9f9 100%);
      }
    }
  }
}
