<?php
/** @var \Magento\Framework\View\Element\Template $block */
$blockId = str_replace(['/','\\','.'], '_', $block->getNameInLayout());
$_product = $block->getLayout()->getBlock('product.info')->getProduct();
?>
<div class="field qty">
    <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
    <div class="control" data-control="<?= $blockId . '-' . $_product->getId() ?>" data-mage-init='{"qtyControl": {"storage": "<?= 'qty-control_' . $blockId ?>"}}'>
        <button type="button" class="qty-btn" data-role="decrement">
            <i class="fas fa-minus"></i>
        </button>
        <input type="number"
               name="qty"
               maxlength="2"
               min="1"
               max="99"
               step="1"
               value="<?= $block->getProductDefaultQty() ?>"
               title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
               class="input-text qty"
               data-role="input"
               data-validate='{"required-number":true,"validate-item-quantity":{"minAllowed":1,"maxAllowed":99}}'
        />
        <button type="button" class="qty-btn" data-role="increment">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>