<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required">
            <label class="label" for="customer-email">
                <span data-bind="i18n: 'Email Address'"></span>
            </label>
            <div class="control" data-bind="css: {'_with-tooltip': tooltip && !isPasswordVisible()}">
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused,
                            mageInit: {'mage/trim-input':{}}"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email" />
                <!-- ko ifnot: isPasswordVisible -->
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div class="note" data-bind="fadeVisible: isPasswordVisible() == false, i18n: 'You can create an account after checkout.'"></div>


        <!-- ko if: isPasswordVisible -->
        <div class="field">
            <label class="label" for="customer-password">
                <span data-bind="i18n: 'Password'"></span>
            </label>
            <div class="control">
                <input class="input-text"
                       type="password"
                       name="password"
                       id="customer-password"
                       data-validate="{required:true}" autocomplete="off"/>
            </div>

        </div>
        <div class="note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></div>
        <!-- ko foreach: getRegion('additional-login-form-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="actions-toolbar">
            <input name="context" type="hidden" value="checkout" />
            <div class="primary">
                <button type="submit" class="action login primary gray" data-action="checkout-method-login"><span data-bind="i18n: 'Login'"></span></button>
            </div>
            <div class="secondary">
                <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                    <span data-bind="i18n: 'Forgot your password'"></span>
                </a>
            </div>
        </div>
        <!-- /ko -->


        <!--Hidden fields -->
<!--        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">-->

<!--        </fieldset>-->
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
