/* Variables */
@bright-border-color:        #d2d1d1;
@light-blue-color:           #2c9cf2;
@account-border-color:       #979797;
@account-border-light-color: #878787;
@account-gray-color:         #404040;
@previously_ordered:         #273271;
@custom_pricing:             #009fdf;
@top_recommendation:         #f38874;
@my_favourites:              #eeb300;
@light-border-color:         #e0e0e0;

.account {
  .page-main {
    max-width: 1270px;
    padding-top: 5px;
    padding-bottom: 157px;
    @media all and (max-width: 767px) {
      padding-top: 74px;
      padding-bottom: 0;
    }
  }

  .messages {
    margin: 0;
  }

  .table-wrapper {
    border-bottom: 2px solid @account-border-color;
    @media all and (max-width: 767px) {
      float: left;
      width: 100%;
      &:last-child {
        margin-bottom: 20px;
      }
      &.orders-history, &.additional-addresses{
        float: none;
      }
    }
  }

  .block-collapsible-nav {
    font-size: 1.2rem;
    line-height: 1.67;
    font-weight: 600;
    @media all and (max-width: 767px) {
      top: 11px;
      left: 14px;
      right: 14px;
      width: auto;
      margin: 0;
      .title {
        border-color: @account-border-light-color;
        padding: 10px 35px 10px 0;
        &::after {
          content: '\f107';
          margin: 2px 0 0 0;
          right: 11px;
          font: 2rem 'Font Awesome 5 Free Solid';
          color: @account-gray-color;
        }

        &.active {
          &::after {
            content: '\f106';
          }
        }

        strong {
          font-size: 1.6rem;
          line-height: 1.67;
          font-weight: 400;
        }
      }
    }

    .content {
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.22);
      background: @color-white;
      padding: 0;

      .items {
        padding: 3px 17px 5px 12px;

        strong {
          font-weight: 600;
        }
      }

      .item {
        margin: 0;
        border-bottom: 1px solid @account-border-color;
        .delimiter {
          display: none;
        }

        &:last-child {
          border: 0;
        }

        strong,
        a {
          border-left: 0;
          padding: 11px 18px 11px 0;

          &:hover {
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.page-layout-2columns-left {
    .sidebar-main,
    .sidebar-additional {
      width: 22%;
    }

    .column {
      &.main {
        width: 78%;
      }
    }
  }

  .block-requisition-management {
    position: relative;
    margin-bottom: 15px;
    @media all and (max-width: 767px) {
      margin: 0;
    }

    .action {
      &.edit {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 8px;
        color: @color-links-blue;
        &:hover {
          text-decoration: none;
        }

        @media all and (max-width: 767px) {
          position: absolute;
          right: 20px;
          top: 6px;
        }

        span {
          display: none;
        }

        &::before {
          content: @fa-var-pencil-alt;
          font-family: 'Font Awesome 5 Free Solid';
          font-weight: 400;
        }
      }
    }
    .requisition-list-title {
      margin: 0 0 24px 4px;
      h1 {
        font-size: 3.6rem;
        line-height: 1.025;
        font-weight: 600;
      }

      @media all and (max-width: 767px) {
        margin: 0;
        padding: 0 52px 0 0;
        text-align: center;
        h1 {
          margin: 0;
          font-size: 2.4rem;
          line-height: 1.37;
          font-weight: 600;
          min-height: 65px;
        }
      }

      .requisition-list-description {
        padding: 7px 0 0;
      }
    }

    .requisition-view-links {
      position: absolute;
      right: 6px;
      top: 0;
      margin: 0;
      @media all and (max-width: 767px) {
        right: 18px;
        top: 40px;
      }
      .print {
        color: @color-links-blue;
        font-size: 1.8rem;
        line-height: 1.12;
        padding: 0;
        span {
          display: none;
        }
      }
    }
  }

  .requisition-toolbar-bottom {
    font-size: 1.2rem;
    line-height: 1.67;
    font-weight: 600;
    padding: 0 0 20px;
    position: relative;
    &::after {
      content: '';
      display: block;
      clear: both;
    }

    @media all and (max-width: 767px) {
      width: 50%;
      float: left;
      margin: 14px 0 0;
      padding: 68px 0 20px;

      .block-requisition-list {
        &.link-button {
          #requisition-type-list {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0 0 22px;
            padding: 0 5px 0 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            &.active {
              z-index: 1;
              width: ~"calc(100vw - 36px)";
              padding: 0;
              &::after {
                content: '\f106';
                right: 24px;
                top: 17px;
              }
              .toggle {
                z-index: 101;
                border-color: transparent;
                &::after {
                  content: '\f106';
                  right: 24px;
                  top: 15px;
                }
              }
            }

            .items {
              left: 0;
              max-width: none;
              width: 100%;
              background: @color-white;
              border: 0;
              top: 0;
              margin: 0;
              padding: 55px 0 22px;
              -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
              -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
              box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;

              > a {
                display: inline-block;
                vertical-align: bottom;
                margin: 0 0 0 54px;
                cursor: pointer;
              }

              li {
                margin: 0 0 37px;
                padding-left: 0;
                border: 0;

                label {
                  display: inline-block;
                  vertical-align: top;
                  padding: 0 0 0 28px;
                  position: relative;
                  &::before {
                    content: "\f0c8";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 400;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }

                input[type="checkbox"] {
                  display: none;

                  &:checked {
                    + span {
                      &::before {
                        content: "\f14a";
                      }
                    }
                  }
                }
              }
              .list-items {
                padding: 0 0 16px 25px;
              }
            }
          }

          .requisition-list-button {
            &.toggle {
              border: 1px solid @bright-border-color;
              background: @color-white;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              padding: 15px 20px 14px 13px;
              font-size: 1.2rem;
              line-height: 1.17;
              font-weight: 600;
              position: relative;
              text-align: left;
              color: @color-dark-grey;
              width: 100%;

              &::after {
                margin: 0;
                content: "\f107";
                font: 1.2rem/1.2rem "Font Awesome 5 Free Solid";
                position: absolute;
                right: 3px;
                top: 16px;
                color: @color-dark-grey;
              }
            }
          }
        }
      }
    }

    .requisition-toolbar-select {
      float: left;
      padding: 0 10px 0 0;
      @media all and (max-width: 767px) {
        padding-left: 20px;
      }

      label {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 26px;
        color: @color__general_public;
        &::before {
          content: "\f0c8";
          font-family: 'Font Awesome 5 Free';
          font-weight: 400;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      input[type="checkbox"] {
        display: none;

        &:checked {
          + label {
            &::before {
              content: "\f14a";
            }
          }
        }
      }
    }

    @media all and (min-width: 768px) {
      .block-requisition-list {
        overflow: hidden;
        vertical-align: middle;
        margin: 0;
        .list-items {
          float: right;
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            float: left;
            margin: 0;
            padding: 0 0 0 50px;
            input[type="checkbox"] {
              display: none;
              &:checked {
                + span {
                  &::before {
                    content: "\f14a";
                  }
                }
              }

              &[name="wishlist"] {
                + span {
                  color: @my_favourites;
                }
              }

              &[name="top_recommendation"] {
                + span {
                  color: @top_recommendation;
                }
              }

              &[name="previously_ordered"] {
                + span {
                  color: @previously_ordered;
                }
              }

              &[name="custom_pricing"] {
                + span {
                  color: @custom_pricing;
                }
              }
            }

            label {
              span {
                display: inline-block;
                vertical-align: top;
                position: relative;
                padding: 0 0 0 28px;
                &::before {
                  content: "\f0c8";
                  font-family: 'Font Awesome 5 Free';
                  font-weight: 400;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .requisition-toolbar {
    &::after {
      content: '';
      display: block;
      clear: both;
    }

    @media all and (max-width: 767px) {
      position: relative;
      margin: 14px 0 0;
      padding: 68px 0 20px;
      width: 50%;
      float: right;
    }
  }

  .requisition-toolbar-actions {
    margin: 0;
    @media all and (max-width: 767px) {
      display: flex;
      flex-flow: row wrap;
      min-height: 20px;
    }

    .mobile-label {
      display: none;
    }

    .remove-selected {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.2rem;
      line-height: 1.67;
      font-weight: 600;
      color: @light-blue-color;
      margin: 0 5px 0 0;
      order: 2;
      @media all and (max-width: 767px) {
        margin: 0 auto;
        position: relative;
        z-index: 1;
      }

      &.action {
        &::before {
          display: none;
        }

        span {
          display: inline;
        }
      }
    }

    .block-requisition-list {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      @media all and (max-width: 767px) {
        margin: 0 0 23px !important;
        padding: 0 0 0 5px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        .requisition-list-action {
          width: 100%;
          .action {
            &.toggle {
              width: 100%;
              min-width: auto;
            }
          }
        }
      }

      &.move-items-select {
        display: none;
      }

      .items {
        left: auto;
      }
    }

    .requisition-list-action {
      .action {
        &.toggle {
          border: 1px solid @bright-border-color;
          background: @color-white;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          padding: 15px 20px 14px 13px;
          font-size: 1.2rem;
          line-height: 1.17;
          font-weight: 600;
          position: relative;
          min-width: 153px;
          text-align: left;
          color: @color-dark-grey;
          @media all and (max-width: 767px) {
            margin: 0;
          }

          &::after {
            margin: 0;
            content: "\f107";
            font: 1.2rem/1.2rem "Font Awesome 5 Free Solid";
            position: absolute;
            right: 3px;
            top: 16px;
            color: @color-dark-grey;
          }

          &.active {
            &::after {
              content: '\f106';
            }
          }
        }
      }
    }
  }

  .requisition-content {
    @media all and (max-width: 767px) {
      margin: 0 0 15px;
    }
    .table {
      > tbody {
        > tr {
          > th,
          > td {
            border-top: 2px solid @account-border-color;
            vertical-align: middle;
            &.col-checkbox {
              padding-right: 6px;
              padding-top: 16px;
            }
          }
        }
      }

      @media all and (max-width: 1024px) {
        &:not(.totals) {
          &:not(.cart) {
            &:not(.table-comparison) {
              display: block;
              > tbody {
                display: block;
                > tr {
                  display: flex !important;
                  flex-flow: row wrap;
                  border-top: 2px solid @account-border-color;

                  td {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 0;
                  }

                  .col {
                    &.col-checkbox,
                    &.listing-type,
                    &.product,
                    &.price,
                    &.qty,
                    &.action {

                    }

                    &.number {
                      display: none;
                    }

                    &.col-checkbox {
                      flex-grow: 10;
                      order: 1;
                      padding: 17px 0 7px 30px;
                    }

                    &.listing-type {
                      order: 2;
                      width: 175px;
                      padding: 8px 5px 6px 15px;
                      &::before {
                        display: none;
                      }
                    }

                    &.product {
                      width: 100%;
                      padding: 0 50px 0 18px;
                      order: 3;
                      &::before {
                        display: none;
                      }

                      .product-item-image {
                        float: left;
                        display: block;
                        margin-right: 13px;
                      }

                      .product-item-description {
                        padding: 0;
                        .product-item-name {
                          margin-bottom: 12px;
                        }
                      }
                    }

                    &.price,
                    &.qty,
                    &.action {
                      order: 4;
                      padding: 5px 8px 10px;
                      &::before {
                        content: attr(data-th);
                        padding: 0 0 10px;
                        display: block;
                        font-size: 1.4rem;
                        line-height: 1.67;
                        font-weight: 600;
                      }
                    }

                    &.qty {
                      width: 50%;
                      text-align: center;
                    }

                    &.price {
                      width: 25%;
                      text-align: left;
                      .price {
                        margin-right: 0;
                      }
                    }

                    &.action {
                      width: 25%;
                      height: auto;
                      text-align: right;
                      position: relative;
                      .price {
                        margin-right: 0;
                      }

                      .actions-toolbar {
                        .action-edit {
                          right: 25px;
                          bottom: 100%;
                          top: auto;
                          margin: 0 0 55px;
                        }

                        .action-delete {
                          right: 25px;
                          bottom: 100%;
                          top: auto;
                          margin: 0 0 22px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .requisition-grid {
    thead,
    .item {
      .col {
        &.number {
          display: none;
        }

        &.col-checkbox {
          max-width: none;
          width: 0;
          .label {
            font-size: 2rem;
            line-height: 1;
            color: @color-dark-grey;
            .fa-check-square {
              display: none;
            }
          }

          .input-checkbox {
            display: none;
            &:checked {
              + .label {
                .fa-check-square {
                  display: inline-block;
                }

                .fa-square {
                  display: none;
                }
              }
            }
          }
        }

        &.listing-type {
          .category {
            width: 155px;
            max-width: 100%;
            font-size: 1.2rem;
            line-height: 1.67;
            font-weight: 600;
            margin: 0 0 10px;
            padding: 1px 10px;
            -webkit-border-radius: 11px;
            -moz-border-radius: 11px;
            border-radius: 11px;
            color: @color-white;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            &.previously_ordered {
              background: @previously_ordered;
            }

            &.custom_pricing {
              background: @custom_pricing;
            }

            &.top_recommendation {
              background: @top_recommendation;
            }

            &.wishlist {
              background: @my_favourites;
            }
          }
        }

        &.price {
          vertical-align: top;
          padding-top: 17px;
          .price {
            font-size: 1.4rem;
            line-height: 1.67;
            font-weight: 600;
          }
        }

        &.subtotal {
          padding-top: 17px;
          padding-right: 7px;
          min-width: 72px;

          .price {
            font-size: 1.4rem;
            line-height: 1.67;
            font-weight: 600;

          }
        }

        &.listing-type {
          vertical-align: top;
          width: 20.6%;
        }

        &.qty {
          text-align: center;
          vertical-align: top;
          padding-top: 18px;
          white-space: nowrap;
          font-size: 1px;
          line-height: 1px;
          width: 20%;

          .qty-btn {
            height: 44px;
            margin: 0;
            padding: 0 14px;
            border: 0;
            background: no-repeat;
            box-shadow: none;
            font-size: 1.2rem;
            line-height: 1.63;
            vertical-align: top;
            @media all and (max-width: 1024px) {
              margin: 3px 0 0;
              padding: 0 17px;
            }
          }

          .input-text {
            margin: 0;
            width: 50px;
            height: 43px;
            font-size: 1.8rem;
            vertical-align: top;
            @media all and (max-width: 1024px) {
              margin: 3px 0 0;
            }
          }
        }
      }
    }

    .col {
      padding-top: 14px;
      padding-bottom: 14px;
      &.listing-type {
        padding-top: 18px;
      }
    }

    .product-item-image {
      margin-right: 17px;
      img {
        display: inline-block;
        vertical-align: top;
      }
    }

    .product-item-description {
      float: none;
      overflow: hidden;
      padding: 5px 0 0;
      width: auto;

      .product-item-sku {
        font-size: 1rem;
        line-height: 1.67;
        font-weight: 400;
        margin: 0 0 2px;
        b {
          font-weight: normal;
        }
      }

      .item-options {
        margin: 0;
        font-size: 1rem;
        line-height: 2;
        font-weight: 600;
        color: @color-dark-grey;
        overflow: hidden;
        dt {
          clear: left;
          float: left;
          margin: 0 3px -1px 0;
        }

        dd {
          display: inline-block;
          float: left;
          margin: 0 0 -1px;
        }
      }
    }

    .product-item-name {
      font-size: 1.2rem;
      line-height: 1.67;
      font-weight: 600;
    }

    .actions-toolbar {
      bottom: 4px;
      right: 9px;
      white-space: nowrap;
      font-size: 1px;
      line-height: 1px;
      > .action-delete {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 28px;

        &::before {
          content: '\f1f8';
          font-family: 'Font Awesome 5 Free Solid';
          font-size: 1.4rem;
          line-height: 1.29;
          color: @color-links-blue;
        }
      }

      > .action-edit {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 28px;

        &::before {
          content: '\f303';
          font-family: 'Font Awesome 5 Free Solid';
          font-weight: 900;
          font-size: 1.4rem;
          line-height: 1.29;
          color: @color-links-blue;
        }
      }
    }
  }

  .message {
    &.info {
      @media all and (max-width: 767px) {
        float: left;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.requisition-view-buttons {
  &.actions-toolbar {
    margin: 0 -18px 0 0;
    @media all and (max-width: 767px) {
      margin: 0;
      float: left;
      width: 100%;
      > .primary {
        display: flex;
        flex-flow: row wrap;
        padding: 0 4px;
      }
    }
  }

  .action {
    &.delete {
      float: left;
      margin: 12px 0 0 22px;
      padding: 0;
      border: 0;
      background: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-size: 1.2rem;
      line-height: 1.67;
      font-weight: 600;
      color: @light-blue-color;
      @media all and (max-width: 767px) {
        order: 1;
        margin-left: 0;
        margin-top: 33px;
      }
    }

    &.btn-add-to-cart,
    &.btn-update-list {
      float: right;
      margin: 0 0 0 38px;
      min-width: 232px;
      border-radius: 22px;
      @media all and (max-width: 767px) {
        margin-left: 0;
        margin-bottom: 20px;
      }
      &.gray {
        border-radius: 20px;
      }
    }
  }
}

.requisition_list-requisition-index {
  .columns {
    padding: 38px 0 0;
  }

  .page-title-wrapper {
    margin: 0 0 40px;
    .page-title {
      margin-bottom: 0;
      line-height: 1.025;
    }
  }

  .data-grid-wrap {
    .list-name-field {
      .cell-label-line-name {
        font-size: 1.4rem;
        line-height: 1.67;
        font-weight: 600;
      }
    }
  }

  .title-actions-links {
    margin-top: 16px;
    .action {
      &.add {
        font-size: 1.2rem;
        line-height: 1.67;
        font-weight: 600;
        vertical-align: top;
        color: @color-links-blue;
      }
    }
  }

  .cell-label-line-description {
    font-size: 1.2rem;
    font-weight: 400;
    &:empty {
      display: none;
    }
  }

  .data-grid {
    tr {
      th,
      td{
        font-weight: 600;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }

        &.number-field {
          text-align: center;
          font-size: 1.8rem;
          line-height: 1.11;
          color: @color-dark-grey;
        }
      }

      th {
        &:last-child {
          padding-right: 6px;
          text-align: right;
        }
      }

      td {
        padding-top: 15px;
        padding-bottom: 12px;
        &.number-field {
          font-weight: 400;
        }
      }
    }

    tbody {
      tr {
        td {
          border-color: @light-border-color;
        }
        &:first-child {
          td {
            border-top: 2px solid @account-border-color;
          }
        }
      }
    }

    .action-menu-item {
      display: inline-block;
      border: 0;
      color: @color-white;
      margin: -3px 0 0;
      padding: 3px 27px;
      font-size: 1.4rem;
      line-height: 1.43;
      font-weight: 600;
      border-radius: 20px;
      background: #208ccc;
      background: -moz-linear-gradient(left, #208ccc 0%, #43c0e8 100%);
      background: -webkit-linear-gradient(left, #208ccc 0%,#43c0e8 100%);
      background: linear-gradient(to right, #208ccc 0%,#43c0e8 100%);
      text-transform: uppercase;
      @media all and (max-width: 639px) {
        padding-left: 14px;
        padding-right: 14px;
      }
      &:active,
      &:focus,
      &:hover {
        border: 0;
        background: #43c0e8;
        background: -moz-linear-gradient(left, #43c0e8 0%, #208ccc 100%);
        background: -webkit-linear-gradient(left, #43c0e8 0%,#208ccc 100%);
        background: linear-gradient(to right, #43c0e8 0%,#208ccc 100%);
        box-shadow: none;
        text-decoration: none;
      }
    }
  }

  .table-wrapp {
    border-bottom: 1px solid ;
  }

  .table-wrapper {
    margin-bottom: 27px;
    border-bottom: 1px solid @light-border-color;
    .table {
      &:not(.totals) {
        &:not(.cart) {
          &:not(.table-comparison) {
            > tbody {
              > tr {
                td {
                  @media all and (max-width: 639px) {
                    padding: 10px 5px;
                    border-bottom: 0;
                    font-size: 1.3rem;
                    line-height: 1.67;
                    &::before {
                      display: none;
                    }

                    &:first-child {
                      padding-left: 0;
                    }

                    &:last-child {
                      padding-right: 0;
                    }

                    .cell-label-line-name {
                      font-size: 1.3rem;
                      line-height: 1.67;
                    }
                  }
                }
              }
            }

            @media all and (max-width: 639px) {
              > thead {
                > tr {
                  > th {
                    font-size: 1.3rem;
                    line-height: 1.67;

                    &:last-child {
                      text-align: right;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .quotes-grid-toolbar {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.67;
    margin: 0 0 10px;
    padding: 0 0 40px;
    border-bottom: 2px solid @account-border-color;

    .toolbar-amount {
      line-height: inherit;
      margin: 2px 0 0;
    }

    .limiter-text,
    .label {
      display: inline-block;
      vertical-align: top;
      margin: 3px 0 0 9px;
    }
  }

  .toolbar {
    select {
      width: 63px;
      margin: 0 0 0 9px;
      background-color: transparent;
      padding: 0 20px 0 10px;
      box-shadow: none;
      border-radius: 0;
      background-position: 100% 7px;
      background-size: 14px 14px;
    }
  }
}


.wishlist-index-index {
  .products-grid {
    .product-items {
      position: relative;
      z-index: 2;
    }
  }

  .product-item-inner {
    @media all and (min-width: 768px) {
      border: 0;
      left: 0;
      right: 0;
      margin: -4px 0 0;
      z-index: auto;
      -webkit-border-radius: 0 0 8px 8px;
      -moz-border-radius: 0 0 8px 8px;
      border-radius: 0 0 8px 8px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 2px 34px 16px rgba(0, 0, 0, 0.08);
        border-radius: 0 0 8px 8px;
        z-index: -1;
      }

      .comment-box {
        margin: 0;
      }

      .price-as-configured {
        margin: 0;
      }
    }
  }

  @media all and (min-width: 768px) {
    .product-item-name {
      margin: 0;
      padding: 0 10px 5px;
    }

    .price-box {
      padding: 0 10px 10px;
      .price-as-configured {
        margin: 0;
      }
    }
  }

  .product-item-tooltip {
    margin: 0 10px 10px;
    .tooltip {
      &.content {
        min-width: 201px;
      }
    }
  }

  .box-tocart {
    margin: 0 0 10px;
    .fieldset {
      margin-bottom: 10px;
    }
  }
}