/* Buttons */
a.action,
.action {
  &.primary {
    border: 0;
    padding: 12px 30px;
    font-size: 1.4rem;
    line-height: 1.43;
    font-weight: 600;
    border-radius: 20px;
    background: #208ccc;
    background: -moz-linear-gradient(left, #208ccc 0%, #43c0e8 100%);
    background: -webkit-linear-gradient(left, #208ccc 0%,#43c0e8 100%);
    background: linear-gradient(to right, #208ccc 0%,#43c0e8 100%);
    text-transform: uppercase;
    &:active,
    &:focus,
    &:hover {
      border: 0;
      background: #43c0e8;
      background: -moz-linear-gradient(left, #43c0e8 0%, #208ccc 100%);
      background: -webkit-linear-gradient(left, #43c0e8 0%,#208ccc 100%);
      background: linear-gradient(to right, #43c0e8 0%,#208ccc 100%);
      box-shadow: none;
    }

    &.gray {
      background: #525252;
      background: -moz-linear-gradient(left, #525252 0%, #8f8f8f 100%);
      background: -webkit-linear-gradient(left, #525252 0%,#8f8f8f 100%);
      background: linear-gradient(to right, #525252 0%,#8f8f8f 100%);
      &:active,
      &:focus,
      &:hover {
        background: #525252;
        background: -moz-linear-gradient(left, #8f8f8f 0%, #525252 100%);
        background: -webkit-linear-gradient(left, #8f8f8f 0%,#525252 100%);
        background: linear-gradient(to right, #8f8f8f 0%,#525252 100%);
      }
    }
  }
}










