/* Variables */
@bright-border-color:    #d2d1d1;
@light-border-color:     #e0e0e0;
@very-bright-gray-color: #404040;
@light-gray-color:       #878787;
@cart-links-color:       #4a90e2;
@cart-border-color:      #979797;
@cart-black:             #000;

.checkout-cart-index {
  /* Breadcrumbs */

  .breadcrumbs {

    a {
      font-weight: 400;
    }

    .item {
      &.home {
        display: none;
      }
    }
  }

  .form-cart {
    .actions.main {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media all and (max-width: 640px) {
        justify-content: center;
      }

      .update {
        margin: 0 0 6px;
      }
      .clear {
        display: block;
        float: left;
        margin: 0 0 10px;
        padding: 0;
        border: 0;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: @cart-links-color;
        font-size: 1.2rem;
        line-height: 1.67;
        font-weight: 600;
      }
    }
  }

  .page-wrapper {
    > .breadcrumbs {
      max-width: 1264px;
    }
  }

  #maincontent {

    .form-cart {
      .action {
        &.update {
          &.gray {
            order: 2;
          }
        }
      }
    }

    .block-addbysku,
    .cart-summary,
    .form-cart {
      .action {
        &.update,
        &.check,
        &.primary {
          border: 0;
          padding: 10px 25px;
          font-size: 1.4rem;
          line-height: 1.43;
          font-weight: 600;
          border-radius: 20px;
          background: #208ccc;
          background: -moz-linear-gradient(left, #208ccc 0%, #43c0e8 100%);
          background: -webkit-linear-gradient(left, #208ccc 0%,#43c0e8 100%);
          background: linear-gradient(to right, #208ccc 0%,#43c0e8 100%);
          text-transform: uppercase;
          color: #fff;
          margin: 0 0 10px;
          box-shadow: none;

          &:active,
          &:focus,
          &:hover {
            border: 0;
            color: #fff;
            background: #43c0e8;
            background: -moz-linear-gradient(left, #43c0e8 0%, #208ccc 100%);
            background: -webkit-linear-gradient(left, #43c0e8 0%,#208ccc 100%);
            background: linear-gradient(to right, #43c0e8 0%,#208ccc 100%);
          }

          &:not(:focus) {
            box-shadow: none;
          }

          &.gray {
            background: #525252;
            background: -moz-linear-gradient(left, #525252 0%, #8f8f8f 100%);
            background: -webkit-linear-gradient(left, #525252 0%,#8f8f8f 100%);
            background: linear-gradient(to right, #525252 0%,#8f8f8f 100%);
            &:active,
            &:focus,
            &:hover {
              background: #525252;
              background: -moz-linear-gradient(left, #8f8f8f 0%, #525252 100%);
              background: -webkit-linear-gradient(left, #8f8f8f 0%,#525252 100%);
              background: linear-gradient(to right, #8f8f8f 0%,#525252 100%);
            }
          }
        }

        &.checkout {
          font-size: 1.4rem;
          line-height: 1.43;
          padding: 14px 25px;
          border-radius: 22px;
        }

        &.update {
          min-width: 259px;
          @media all and (max-width: 640px) {
            width: 100%;
          }
        }
      }
    }

    .cart-summary {
      .action {
        &.update,
        &.check,
        &.primary {
          width: 100%;
        }
      }

      .table-wrapper {
        margin: 0;
      }
    }

    .block-addbysku {
      .action {
        &.links,
        &.tocart {
          padding: 9px 35px 8px;
          font-size: 1rem;
          line-height: 13px;
          font-weight: 600;

          @media all and (max-width: 767px) {
            padding: 11px 35px;
          }
        }

        &.links {
          margin: 0 0 0 35px;
          padding: 8px 34px 7px;
          border: 1px solid @color-dark-grey;
          border-radius: 20px;
          text-transform: uppercase;
          color: @color-dark-grey;
          transition: all .3s;
          float: left;
          @media all and (max-width: 767px) {
            margin: 0;
            float: right;
            padding: 10px 34px;
          }

          &:hover {
            text-decoration: none;
            background: @color-dark-grey;
            color: @color-white;
          }
        }
      }
    }
  }

  .page-main {
    > .page-title-wrapper {
      box-sizing: border-box;
      overflow: hidden;
      @media all and (min-width: 768px) {
        margin: 0;
        width: 75%;
        padding-right: 5.4%;
      }
      .btn-print {
        float: right;
        font-size: 1.8rem;
        line-height: 1.3;
        margin: 3px -3px 0 0;
        color: @cart-links-color;
        @media all and (max-width: 767px) {
          display: none;
        }
      }

      .page-title {
        display: block;
        font-size: 2.4rem;
        line-height: 36px;
        font-weight: 600;
        margin: 0;
        overflow: hidden;
        @media all and (min-width: 768px) {
          font-size: 3.6rem;
          line-height: 44px;
        }

        span {
          display: inline-block;
          vertical-align: top;
        }
      }
    }

    @media all and (min-width: 768px) {
      padding: 13px 21px 0 69px;
    }

    .cart-summary {
      .block {
        margin-bottom: -1px;
        &#block-delivery {
          border-bottom: 1px solid @color-dark-grey;
        }
      }
    }
  }

  .cart-container {
    padding-bottom: 120px;
    @media all and (max-width: 767px) {
      padding: 0 13px 74px;
    }

    .widget {
      float: none;
    }

    .form-cart {
      padding: 0;
      @media all and (min-width: 768px) {
        margin: -9px 0 16px;
        padding-top: 45px;
        padding-right: 5.4%;
      }
    }

    .block-addbysku {
      position: relative;
      box-sizing: border-box;
      clear: none;
      margin: 0 0 48px;
      @media all and (min-width: 768px) {
        width: 75%;
        float: left;
        padding-right: 5.4%;
        margin: 0 0 25px;
      }

      .block-title {
        border-top: 2px solid @light-border-color;
        margin: 0;
        padding: 21px 0 15px;
        position: relative;
        cursor: pointer;

        &::before {
          content: "\f107";
          position: absolute;
          right: 10px;
          top: 50%;
          color: @very-bright-gray-color;
          font: 2rem/1.2rem "Font Awesome 5 Free Solid";
          margin: -6px 0 0;
        }

        strong {
          font-size: 1.6rem;
          line-height: 22px;
          font-weight: 600;
        }
      }

      &.active .block-title::before {
        content: "\f106";
      }

      .block-content {
        padding: 0 0 9px;
        border-bottom: 2px solid @light-border-color;
      }

      .form-addbysku {
        &::after {
          content: '';
          display: block;
          clear: both;
        }

        .fieldset {
          .fields {
            float: left;
            @media all and (max-width: 767px) {
              width: 100%;
            }

            + .fields {
              width: 100%;
            }

            .actions-toolbar {
              position: static;
              margin: 5px 28px 0 0;
              float: left;
              clear: none;
              @media all and (max-width: 767px) {
                margin: 8px 10px 0 0;
              }
            }
          }
        }

        .field {
          float: left;
          padding-right: 36px;
          @media all and (max-width: 767px) {
            margin-bottom: 15px;
            padding-right: 10px;
            &.qty {
              float: right;
              padding-right: 0;
            }
          }

          .control,
          > .label {
            float: left;
          }

          > .label {
            margin: 6px 11px 0 0;
            text-transform: uppercase;
            @media all and (max-width: 767px) {
              margin-top: 9px;
            }

            &::after {
              display: none;
            }
          }

          input[type="text"],
          input[type="password"],
          input[type="url"],
          input[type="tel"],
          input[type="search"],
          input[type="number"],
          input[type="datetime"],
          input[type="email"] {
            height: 30px;
            border-color: @bright-border-color;
            border-radius: 10px;
            @media all and (max-width: 767px) {
              height: 35px;
            }
          }
        }

        .actions-toolbar {
          float: left;
          position: static;
          clear: none;
          &.btn-add {
            @media all and (max-width: 767px) {
              width: 100%;
              .secondary {
                text-align: center;
              }
            }
          }
        }

        .actions-toolbar {
          margin: 0;

          .action {
            &.add {
              margin: 0 20px 0 -7px;
              padding: 6px 8px;
              border: 0;
              background: none;
              box-shadow: none;
              position: relative;
              @media all and (max-width: 767px) {
                margin-right: 0;
              }

              &::before {
                content: "\f067";
                color: @very-bright-gray-color;
                font: 1.6rem/15px "Font Awesome 5 Free Solid";
              }
            }
          }
        }
      }

      .sku {
        margin-right: 0;
        padding-right: 0;
        width: auto;

        input[type="text"],
        input[type="password"],
        input[type="url"],
        input[type="tel"],
        input[type="search"],
        input[type="number"],
        input[type="datetime"],
        input[type="email"] {
          width: 128px;
          text-align: center;
        }
      }

      .qty {
        input[type="text"],
        input[type="password"],
        input[type="url"],
        input[type="tel"],
        input[type="search"],
        input[type="number"],
        input[type="datetime"],
        input[type="email"] {
          width: 50px;
        }
      }
    }
  }

  .page-title-wrapper {
    @media all and (max-width: 767px) {
      text-align: center;
      padding: 12px 10px 20px;
    }
  }

  .cart {
    &.table-wrapper {
      @media all and (max-width: 767px) {
        border-color: @light-gray-color;
      }
      .cart {
        thead {
          tr {
            th {
              &.col {
                padding: 0 11px 8px;
                font-weight: 600;
                border-bottom: 2px solid @cart-border-color;
                &.subtotal {
                  padding-right: 24px;
                }

                &.item {
                  padding-left: 26px;
                }
              }
            }
          }
        }
        .col.price {
          .price-including-tax + .price-excluding-tax {
            margin-top: 5px;
              &:before {
                  content: attr(data-label);
                  .lib-font-size(11);
                  float: right;
              }
          }
        }
        > .item {
          border-bottom: 1px solid @cart-border-color;
          @media all and (max-width: 767px) {
            position: relative;
          }

          @media all and (min-width: 768px) {
            border-width: 2px;
          }
        }
      }

      .item {
        .col {
          &.item {
            padding: 15px 45px 10px 105px;
          }
        }
      }

      .product-item-details {
        padding: 12px 0 0;
      }

      @media all and (min-width: 768px) {
        .item {
          .col {
            &.item {
              padding: 10px 8px 7px 4px;
            }
          }
        }

        .product-item-details {
          padding: 8px 0 0;
        }

        .product-item-photo {
          padding-right: 28px;
          padding-bottom: 4px;
          .product-image-container {
            display: inline-block;
            vertical-align: top;
          }
        }
      }

      .product-item-name {
        font-size: 1.2rem;
        line-height: 1.67;
        font-weight: 600;
        color: @color-black;
        margin: -3px 0 11px;
        @media all and (min-width: 768px) {
          margin: -3px 0 2px;
        }

        > a {
          color: @color-black;
        }
        + .item-options {
          margin-top: 0;
        }
      }

      .item-options {
        font-size: 1rem;
        line-height: 2;
        font-weight: 600;
        color: @color-dark-grey;

        dt {
          font-weight: 600;
        }

        dt,
        dd {
          margin-bottom: -1px;
        }
      }

      .product-sku {
        font-size: 1rem;
        line-height: 2;
        display: block;
        font-weight: normal;
      }

      .col {
        &.price,
        &.subtotal {
          text-align: left;
          width: 25%;
          padding: 1px 0 9px 6px;
          position: relative;
          @media all and (min-width: 768px) {
            width: 1px;
            padding: 16px 0 11px 11px;
          }
          .price-including-tax {
            font-size: 1.4rem;
            font-weight: 600;
            color: @color-black;
            .price {
              font-weight: 600;
            }
          }

          &[data-th]::before {
            padding-bottom: 17px;
          }
        }

        &.subtotal {
          @media all and (max-width: 767px) {
            padding: 1px 7px 11px 0;
            text-align: right;
          }
        }

        &.price {
          width: 25%;

          @media all and (min-width: 768px) {
            width: 100px;
          }

          span {
            float: left;
          }

          .product-unit-of-measurement {
            font-size: 1rem;
            padding: 0 0 0 18px;
            color: @color-dark-grey;
            @media all and (max-width: 767px) {
              color: @cart-black;
              padding: 16px 0 0;
              width: 100%;
            }
          }
        }

        &.qty {
          text-align: center;
          padding: 1px 0 11px 5px;
          width: 50%;
          @media all and (min-width: 768px) {
            padding: 14px 20px 11px;
            width: 202px;
          }

          @media all and (max-width: 767px) {
            &[data-th]::before {
              padding-bottom: 15px;
            }
          }

          .field {
            display: inline-block;
            vertical-align: top;
            .qty-btn,
            .input-text {
              float: left;
            }

            .input-text {
              margin: 0;
              width: 51px;
              height: 44px;
              border-radius: 10px;
              border-color: @color-gray3;
              font-size: 1.8rem;
              color: @color-dark-grey;
            }

            .qty-btn {
              background: none;
              box-shadow: none;
              border: 0;
              transition: opacity .3s;
              height: 44px;
              font-size: 1.2rem;
              padding-left: 17px;
              padding-right: 17px;
              @media all and (min-width: 768px) {
                padding-left: 13px;
                padding-right: 13px;
              }

              &:hover {
                opacity: .5;
              }
            }
          }
        }
      }

      .actions-toolbar {
        min-height: auto;
        padding-bottom: 0;
        .towishlist {
          display: none;
        }

        @media all and (max-width: 767px) {
          position: static;
        }

        > .action-delete {
          right: 21px;
          top: 65px;
          @media all and (min-width: 768px) {
            right: 42px;
            top: -38px;
          }

          &::before {
            content: '\f1f8';
          }
        }

        > .action-edit {
          right: -5px;
          top: 34px;
          @media all and (min-width: 768px) {
            right: 57px;
            top: -38px;
          }

          &::before {
            content: '\f303';
          }
        }

        > .action-delete,
        > .action-edit {
          &::before {
            color: @cart-links-color;
            font-family: 'Font Awesome 5 Free Solid';
            font-weight: 900;
            transition: opacity .3s;
            font-size: 1.4rem;
            line-height: 1.29;
          }

          &:hover {
            &::before {
              opacity: .5;
            }
          }
        }
      }
    }
  }

  .table-wrapper {
    margin-bottom: 23px;
    @media all and (min-width: 768px) {
      margin-bottom: 3px;
    }
  }

  .block {
    &.crosssell {
      margin: 0;
      padding: 0;
      @media all and (min-width: 768px) {
        padding: 0 5.4% 0 0;
      }
      .title {
        margin: 0 0 10px;
        padding: 0 40px 31px 0;
        border-bottom: 2px solid @cart-border-color;
        position: relative;
        @media all and (min-width: 768px) {
          margin: 0 0 9px;
          padding: 0 0 9px;
        }

        @media all and (max-width: 767px) {
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &::after {
            content: "\f107";
            position: absolute;
            right: 19px;
            top: 13px;
            color: #404040;
            font: 2rem/1.2rem "Font Awesome 5 Free Solid";
          }
        }

        strong {
          margin: 0;
          font-size: 2.4rem;
          line-height: 1.35;
          font-weight: 600;
          color: @light-gray-color;
        }
      }

      @media all and (max-width: 767px) {
        &.active .title::after {
          content: "\f106";
        }
      }

      @media all and (max-width: 767px) {
        .products {
          margin: 0 32px 0 -8px;
        }
      }

      .products-list {
        margin: 0;
        .product-items {
          margin: 0;
        }
      }
    }
  }

  .slick-list {
    overflow: visible;
    .slick-slide {
      transition: all .3s;
      &:not(.slick-active) {
        opacity: 0;
        visibility: hidden;
        @media all and (max-width: 767px) {
          .products {
            opacity: .5;
            visibility: visible;
          }
        }
      }
    }

    .product-item {
      padding: 0 10px;
      @media all and (max-width: 767px) {
        padding: 0 5px;
      }
    }

    .product-item-info {
      width: auto;
    }
  }
}

.cart-summary {
  background: none;
  z-index: 2;
  margin: 0;
  padding: 1px 0 14px;
  @media all and (min-width: 768px) {
    margin: -9px 0 0;
    padding: 1px 0 25px 2.1%;
    position: relative;
  }

  > .title {
    font-weight: 600;
    margin: 0 0 19px;
  }

  .block {
    > .title {
      border-top: 1px solid @color-dark-grey;
      font-size: 1.6rem;
      margin: 0;
      padding: 26px 30px 28px 1px;
      position: relative;
      @media all and (min-width: 768px) {
        padding: 23px 30px 25px 1px;
      }

      strong {
        margin: 0;
      }

      &::after {
        content: "\f107";
        position: absolute;
        right: 10px;
        top: 50%;
        color: @very-bright-gray-color;
        font: 2rem/1.2rem "Font Awesome 5 Free Solid";
        margin: -6px 0 0;
      }
    }

    &.active {
      > .title {
        &::after {
          content: "\f106";
        }
      }
    }

    .content {
      padding: 0 0 15px;
    }

    .actions-toolbar {
      .primary,
      .secondary {
        display: block;
        float: none;
      }
    }

    .fieldset {
      margin: 0;

      .field {
        max-width: 242px;
        margin: 0 0 19px;

        > .label {
          margin: 0 0 4px;
        }
      }
    }

    .methods {
      dt {
        font-weight: 600;
        margin: 0 0 14px;
      }

      dd {
        margin: 0 0 10px 19px;
        color: @color__general_public;
        .field {
          margin: 0;
          .label {
            margin: 0;
          }
        }
      }
    }

    form {
      &:not(:last-of-type) {
        .fieldset {
          margin: 0;
        }
      }
    }

    .price {
      font-weight: 400;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="tel"],
  input[type="search"],
  input[type="number"],
  input[type="datetime"],
  input[type="email"],
  select {
    border-radius: 10px;
    height: 30px;
    font-size: 1.4rem;
    color: @color-dark-grey;
    border: 1px solid @bright-border-color;

    @media all and (max-width: 767px) {
      padding: 0 6px;
    }
  }

  .checkout-methods-items {
    margin: 25px 0 0;
    padding: 0;
    @media all and (min-width: 768px) {
      margin: 22px 0 0;
    }

    .action {
      &:not(.primary) {
        font-size: 1.2rem;
        line-height: 1.67;
        font-weight: 600;
      }
    }

    .item {
      margin: 0;
    }
  }

  .cart-totals {
    font-size: 1.6rem;
    border-color: @color-dark-grey;
    padding: 0;

    .totals-tax-summary {
      .mark {
        border-bottom: 1px solid @color-dark-grey;
        border-color: @color-dark-grey;
      }

      .amount {
        border-bottom: 1px solid @color-dark-grey !important;
        border-top: 1px solid @color-dark-grey !important;

        .price {
          padding: 0 20px 0 0;

          &::after {
            content: "\f107";
            position: absolute;
            right: 0;
            top: 50%;
            color: @very-bright-gray-color;
            font: 2rem/1.2rem "Font Awesome 5 Free Solid";
            margin: -5px 0 0;
          }
        }
      }

      &.expanded {
        .amount {
          .price {
            &::after {
              content: "\f106";
            }
          }
        }
      }
    }

    .totals {

      tbody {
        > tr.totals.shipping.incl {
          > td:last-child {
            @media all and (max-width: 767px) {
              border-bottom: 1px solid @color-dark-grey;
            }
          }
        }

        .totals {
          &.sub {
            th,
            td {
              padding-top: 20px;
            }
          }

          &.grand {
            th,
            td {
              padding-bottom: 22px;
            }
          }
        }

        th {
          padding: 9px 0 8px;
        }

        td {
          padding: 9px 17px 8px 14px;
          border: 0;

          strong {
            padding: 3px 0 0;
          }


        }
      }
    }

    .grand .mark {
      font-size: 1.4rem;
      border: none;
    }

    strong {
      .price {
        font-size: 1.6rem;
      }
    }

    .totals-tax-details {
      border-color: @color-dark-grey;
    }
  }

  .action {
    &.multicheckout {
      color: @cart-links-color;
    }
  }
}

#checkout_cart_crosssell {

  .block-content {
    @media all and (min-width: 1024px) {
      padding: 0 4.55%;
    }
  }

//  color: @cart-black;
//  @media all and (min-width: 768px) {
//    color: @light-gray-color;
//  }
//
//  a {
//    color: @cart-black;
//    @media all and (min-width: 768px) {
//      color: @light-gray-color;
//    }
//  }
//
//  .product-item-actions {
//    display: block;
//  }
//
//  .product-items {
//    border-top: 1px solid @cart-border-color;
//    @media all and (min-width: 768px) {
//      border-width: 2px;
//    }
//
//    .product-item {
//      @media all and (max-width: 767px) {
//        display: block;
//      }
//    }
//  }
//
//  .product-item-info {
//    background: none;
//    display: block;
//    align-items: start;
//    width: 100%;
//    border-bottom: 1px solid @cart-border-color;
//    border-radius: 0;
//    padding: 24px 11px 14px;
//    box-sizing: border-box;
//    overflow: hidden;
//    @media all and (min-width: 768px) {
//      padding: 14px 9px 12px;
//      border-width: 2px;
//      display: flex;
//    }
//
//    &::before {
//      display: none;
//    }
//
//    .product-item-photo {
//      padding: 0 3px 0 0;
//      width: 78px;
//      @media all and (min-width: 768px) {
//        padding: 0 20px 0 0;
//      }
//
//      @media all and (max-width: 767px) {
//        float: left;
//      }
//    }
//
//    .product-item-details {
//      flex-grow: 1;
//    }
//
//    .product-item-details,
//    .price-column,
//    .attr-column,
//    .btn-column {
//      padding: 0 11px;
//    }
//
//    .btn-column {
//      padding-right: 9px;
//
//      .action {
//        &.primary {
//          &.tocart {
//            padding: 12px 18px 12px 17px;
//          }
//        }
//      }
//    }
//
//    .price-column {
//      max-width: 28.3%;
//      min-width: 28.3%;
//
//      .price-box {
//        float: left;
//        margin: -1px 0 0;
//
//        .price {
//          font-weight: 600;
//        }
//      }
//
//      .product-attr {
//        float: left;
//        font-size: 1rem;
//        line-height: 14px;
//        padding: 2px 0 0 16px;
//        @media all and (min-width: 768px) {
//          padding: 0 0 0 42.7%;
//        }
//      }
//    }
//
//    @media all and (max-width: 767px) {
//      .product-item-details,
//      .price-column {
//        float: right;
//        width: ~"calc(100% - 81px)";
//        box-sizing: border-box;
//        max-width: none;
//        min-width: auto;
//      }
//
//      .btn-column {
//        overflow: hidden;
//        width: 100%;
//        padding-top: 19px;
//        text-align: center;
//        box-sizing: border-box;
//        .action {
//          &.primary {
//            &.tocart {
//              min-width: 177px;
//            }
//          }
//        }
//      }
//    }
//  }
//
//  .product-item-name {
//    margin: 0 0 12px;
//    @media all and (min-width: 768px) {
//      margin: 0 0 6px;
//    }
//
//    a {
//      font-size: 1.2rem;
//      line-height: 1.67;
//      font-weight: 600;
//    }
//  }
//
//  .product-sku {
//    display: block;
//    @media all and (max-width: 767px) {
//      padding: 0 0 14px;
//    }
//  }
}