.catalogsearch-result-index,
.catalog-category-view {
  background: @color-white-smoke;
  position: static;

  .columns {
    .column {
      &.main {
        padding-bottom: 28px;
      }
    }
  }

  .page-title-wrapper {
    .page-title {
      @media all and (max-width: 767px) {
        margin: 0 0 22px;
        font-size: 2.4rem;
        line-height: 1.25;
        text-align: center;
      }
    }
  }

  .page-main {
    padding-right: 8px;
    @media all and (max-width: 767px) {
      padding-top: 17px;
    }
  }

  .products {
    margin: 16px 0 -8px;
  }

  .price-holder-block {
    display: block;
    padding: 0;
    .price-sub-block {
      padding: 0;
      overflow: hidden;
      .price-box {
        float: left;
      }
      .product-unit-of-measurement {
        display: block !important;
        float: left;
      }
    }

    div.qty {
      float: left;
      padding: 0 5px 9px 0;
      @media all and (min-width: 768px) {
        padding: 5px 18px 15px 0;
      }

      .qty-label {
        display: none;
      }
    }
  }

  .sorter-action {
    display: inline;
  }

  .product-item-info {
    .product-item-details {
      .product-sku {
        padding: 0 0 22px;
      }
    }
  }

  .column {
    &.main {
      .product-item {
        .price-sub-block {
          width: 100%;
          .product-unit-of-measurement {
            padding: 1px 0 0;
            font-size: 1rem;
            line-height: 2;
            font-weight: 600;
          }

          .old-price {
            padding-right: 5px;
          }

          .minimal-price-link {
            display: none;
          }
        }
      }
    }
  }

  .products-grid {
    .product-item-info {
      height: 100%;
      display: flex;
      flex-flow: column;

      .product-item-details {
        flex-grow: 1;
      }
    }

    .product-item-actions {
      overflow: hidden;
      margin-bottom: 10px;
      @media all and (min-width: 768px) {
        min-width: 110px;
      }
      a,
      &{
        .action {
          &.primary {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }

  .bulk-pricing {
    &:not(:empty) {
      padding-top: 8px;
    }
  }

  .category-bottom-information {
    max-width: 840px;
    margin: 0 auto;
    padding: 13px 0 17px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    position: relative;
    clear: both;
    order: 1;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      transform: translateX(-50%);
      width: 100vw;
      background: @color-white;
      z-index: -1;
    }

    .page-title {
      margin: 0 0 30px;
    }

    .category-description {
      max-height: 150px;
      overflow: hidden;
      margin: 0;
      p {
        margin: 0 0 18px;
      }
    }

    .read-more-link {
       display: inline-block;
       position: relative;
       color: #4a90e2;
       text-decoration: underline;
       margin: 10px 0 0;
       font-weight: 600;

       &:hover {
         text-decoration: none;
       }

       &::after,
       &::before {
         content: '';
         position: absolute;
         left: 50%;
         width: 100vw;
         transform: translateX(-50vw);
         pointer-events: none;
       }
     }
  }

  @media all and (max-width: 767px) {
    .category-bottom-information {
      padding-bottom: 37px;
      .page-title {
        font-size: 3.6rem;
        line-height: 1.36;
        font-weight: 600;
      }

      .read-more-link {
        margin-top: 20px;

        &::after,
        &::before {
          top: -32px;
          height: 15px;
          background: -moz-linear-gradient(top, rgba(249,249,249,0.8) 0%, rgba(255,255,255,0) 100%);
          background: -webkit-linear-gradient(top, rgba(249,249,249,0.8) 0%,rgba(255,255,255,0) 100%);
          background: linear-gradient(to bottom, rgba(249,249,249,0.8) 0%,rgba(255,255,255,0) 100%);
        }

        &::before {
          top: -47px;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.8) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(249,249,249,0.8) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(249,249,249,0.8) 100%);
        }
      }
    }
  }

  @media all and (min-width: 768px) {
    .category-bottom-information {
      .page-title {
        font-size: 4.8rem;
        line-height: 1.29;
        font-weight: 400;
      }

      .read-more-link {
        &::after,
        &::before {
          top: -14px;
          height: 27px;
          background: -moz-linear-gradient(top, #f9f9f9 0%, rgba(255,255,255,0) 100%);
          background: -webkit-linear-gradient(top, #f9f9f9 0%,rgba(255,255,255,0) 100%);
          background: linear-gradient(to bottom, #f9f9f9 0%,rgba(255,255,255,0) 100%);
        }

        &::before {
          top: -41px;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #f9f9f9 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#f9f9f9 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#f9f9f9 100%);
        }
      }
    }
  }

  .catalog-topnav {
    .block-content {
      &.filter-content {
        display: none;
      }
    }
  }

  .page-footer {
    margin-top: 0;
  }

  #layered-filter-block {
    .block-content {
      &.filter-content {
        @media all and (max-width: 767px) {
          display: none;
        }
      }
    }

    &.active {
      .block-content {
        &.filter-content {
          @media all and (max-width: 767px) {
            display: block;
          }
        }
      }
    }
  }

  .toolbar {
    .pages {
      width: 80%;
    }
    @media all and (max-width: 794px) {
      .pages {
        width: 70%;
      }
    }
  }

  .products.wrapper ~ .toolbar {

    .limiter {
      display: block;
      text-align: right;
      position: static;
      top: 0px;
      right: 10px;
      z-index: 1;
      float: right;

      .limiter-options {
        width: auto;
      }
    }

    .pages {
      width: 80%;
    }

    @media all and (max-width: 887px) {
      .pages {
        width: 70%;
      }
    }

    @media all and (max-width: 767px) {
      .limiter {
        display: inline-block !important;
        float: none;
      }
      .pages {
        width: 100%;
      }
    }
    
    
  }
}
