//
//  Variables
//  _____________________________________________

@color_general_border: #4a4a4a;
@color_light_border:   #e0e0e0;
@color_bright_border:  #d2d1d1;
@color_blue_border:    #2c9cf2;

//
//  Common
//  _____________________________________________

.checkout-index-index {

  .modal-popup {
    &.modal-slide {
      left: 10px;
      padding: 10px 10px 10px 0;
    }

    &:not(.agreements-modal) {
      &:not(.popup-authentication) {
        .modal-inner-wrap {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  &:not(.general),
  &.industry-page {
    .header {
      &.content {
        @media all and (max-width: 767px) {
          padding: 0 18px 0 46px;
        }
      }
    }
  }

  .page-main {
    max-width: 1176px;
    padding-top: 25px;
    @media all and (max-width: 767px) {
      padding: 23px 20px 0 18px;
    }
  }

  .opc-wrapper {
    @media all and (min-width: 768px) {
      width: 46.45%;
    }
    .step-title {
      font-size: 3.6rem;
      line-height: 1.23;
      font-weight: 600;
      padding: 0 0 15px;
      border-bottom: 1px solid @color_general_border;
      @media all and (max-width: 767px) {
        font-size: 2.4rem;
        line-height: 33px;
        margin: 0 0 8px;
        padding: 0 0 10px;
      }
    }

    .payment-method,
    .form-login,
    .form-shipping-address {
      margin-top: 13px;
      position: relative;
      @media all and (max-width: 767px) {
        background: none;
        margin: 8px 0;
        padding: 0;
      }
      .fieldset {
        > .field {
          margin: 0 0 7px;
          > .label {
            font-weight: 600;
            &::after {
              margin: 0 0 0 -4px;
            }
          }
        }
      }

      select {
        height: 30px;
      }
    }

    .payment-method {
      margin-top: 0;
      margin-bottom: 0;
      .actions-toolbar:not(#paypal-express-in-context-button) {
        display: none;
      }

      .fieldset {
        > .field {
          margin: 0 0 13px;
        }
      }
    }

    .form-login {
      padding-bottom: 17px;

      #msp-recaptcha-checkout-inline-login-wrapper{
        clear:both;

        iframe{
          margin: 10px 0px 0px 10px;
        }
      }
    }
  }

  .opc-sidebar {
    margin: 0 0 20px;
    padding: 13px 38px 0 0;
    box-sizing: border-box;
    @media all and (min-width: 768px) {
      width: 53.55%;
      max-width: 464px;
    }

    @media all and (max-width: 767px) {
      padding: 10px 10px 10px 0;
    }
  }

  .opc-block-summary {
    margin: 0;
    padding: 0;
    background: no-repeat;
    > .title {
      color: @color-black;
      font-size: 2.4rem;
      line-height: 1.37;
      font-weight: 600;
    }
    .items-in-cart {
      margin: 0 0 -2px;
      > .title {
        border-color: @color_general_border;
        padding: 4px 40px 17px 0;
        &::after {
          content: "\f107";
          position: absolute;
          right: 16px;
          top: 5px;
          margin: 0;
          color: @color_general_border;
          font: 2rem/1.2 @font-face__fontawesome-solid;
        }

        strong {
          font-size: 1.6rem;
          line-height: 22px;
          font-weight: 400;
          margin: 0;
        }
      }

      &.active {
        > .title {
          &::after {
            content: "\f106";
          }
        }
      }

      .product {
        font-size: 1.2rem;
        line-height: 1.42;
        font-weight: 400;
        display: inline-block;
      }
    }

    .minicart-items-wrapper {
      padding: 17px 0 0;
    }

    .minicart-items {
      .product-item-details {
        padding-left: 113px;
        .details-qty {
          margin-top: 0;
          font-size: 1.2rem;
          line-height: 1.42;
        }
      }

      .product-item-name {
        font-weight: 600;
        margin: -2px 0 5px;
        font-size: 1.4rem;
        line-height: 1.37;
      }

      .product-image-container {
        margin-left: 0;
      }

      .product-image-wrapper {
        img {
          height: 90px;
          vertical-align: top;
        }
      }
    }

    .product-item {
      border: 0;
      padding: 0 0 17px;
      .product-item-inner {
        margin: 0;
      }

      .price-including-tax,
      .price-excluding-tax {
        margin: 0;
      }

      .price {
        font-size: 1.4rem;
        line-height: 19px;
        vertical-align: top;
      }

      .product-item-name-block {
        vertical-align: top;
      }
    }
  }

  .footer {
    &.content {
      padding: 0;
    }

    .footer-bottom {
      border: 0;
      padding: 16px 0 0;
    }
  }

  .page-footer {
    padding-bottom: 10px;
  }

  .opc-estimated-wrapper {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    @media all and (max-width: 767px) {
      margin: 16px 0 11px;
      padding: 10px 0;
      border: solid @color_general_border;
      border-width: 1px 0;
      .minicart-wrapper {
        float: left;
        .action {
          &.showcart {
            min-width: auto;
            height: auto;
            padding: 0 20px 0 0;
            font-size: 1.2rem;
            line-height: 1.67;
            font-weight: 600;
            position: relative;
            color: @color-black;
            &::after {
              content: "\f107";
              position: absolute;
              right: 2px;
              top: 0;
              margin: 0;
              color: @color_general_border;
              font: 1.2rem/1.67 @font-face__fontawesome-solid;
            }
          }
        }
      }
    }

    .estimated-block {
      font-size: 1.2rem;
      line-height: 1.67;
      font-weight: 600;
      float: right;

      .estimated-label {
        display: none;
      }
    }
  }


  .custom-slide {
    max-height: 100%;
    @media all and (max-width: 767px) {
      left: 10px;
      .modal-inner-wrap {
        padding: 15px;
      }
    }
  }

  #customer-email-fieldset {
    margin: 0 -7px;
    .field {
      float: left;
      width: 50%;
      margin: 0 0 7px;
      padding: 0 7px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      @media all and (max-width: 767px) {
        width: 100%;
      }
      .control {
        &._with-tooltip {
          input {
            margin-right: 0;
            width: 100%;
          }
        }
      }

      .field-tooltip {
        right: -29px;
        top: 15px;
        @media all and (max-width: 767px) {
          display: none;
        }
      }
    }

    .note {
      width: 100%;
      float: left;
      margin: 0;
      padding: 4px 7px 0;
      color: @color_general_border;
      font-size: 1rem;
      line-height: 1.45;
      font-weight: 400;
    }

    .actions-toolbar {
      float: left;
      width: 100%;
      margin: 0 0 8px;
      padding: 20px 7px 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      @media all and (max-width: 767px) {
        margin: 0 0 -5px;
        padding-top: 12px;
      }

      .primary {
        @media all and (max-width: 767px) {
          float: right;
          min-width: 140px;
          margin: 0;
        }
        .action {
          &.login {
            margin: 0 28px 0 0;
            padding: 5px 20px 4px;
            font-size: 1rem;
            line-height: 1.66;
            min-width: 112px;
            @media all and (max-width: 767px) {
              margin: 0;
              padding: 12px 20px 11px;
            }
          }
        }
      }

      .secondary {
        @media all and (max-width: 767px) {
          margin: 10px 5px 0 0;
          overflow: hidden;
          text-align: left;
        }

        .action {
          &.remind {
            margin: 3px 0 0;
            font-size: 1.2rem;
            line-height: 1.67;
            font-weight: 600;
            color: @blue_link_color;
          }
        }
      }
    }
  }

  .methods-shipping {
    @media all and (max-width: 639px) {
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
    }
  }

  .form {
    .payments {
      .actions-toolbar {
        .primary {
          margin: 0;
        }
        .action {
          &.primary {
            font-size: 1.4rem;
            line-height: 1.43;
            font-weight: 600;
            margin: 0;
            padding: 14px 44px 15px;
            -webkit-border-radius: 22px;
            -moz-border-radius: 22px;
            border-radius: 22px;
            @media all and (max-width: 639px) {
              padding: 12px 44px 13px;

            }
          }
        }
      }
    }
  }

  .field {
    &.addresses {
      padding: 0 0 11px;
      h3 {
        margin: 17px 0 14px;
        font-size: 1.6rem;
        line-height: 22px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }

  .order-comment-form {
    border-top: 1px solid @color_general_border;
    margin: 8px 0 0;
    padding: 15px 0 0;
    .order-comment {
      height: 63px;
      resize: vertical;
    }
  }

  .opc-block-summary {
    .table-totals {
      border-color: @color_general_border;

      tbody,
      tfoot {
        .totals {
          &.sub {
            .amount,
            .mark {
              padding-top: 16px;
              font-size: 1.6rem;
              line-height: 22px;
              padding-bottom: 9px;
            }
          }
        }
        .amount {
          font-size: 1.6rem;
          line-height: 22px;
        }

        .grand {
          .amount,
          .mark {
            border-color: @color_general_border;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .opc-block-shipping-information {
    padding: 17px 0 0;

    .ship-to,
    .ship-via {
      margin: 0 0 37px;
    }

    .shipping-information-title {
      margin: 0 0 16px;
      padding: 0 0 14px;
      font-size: 2.4rem;
      line-height: 33px;
      color: @color-black;

      .action-edit {
        margin: -4px 0 0;
        &::before {
          display: none;
        }

        > span {
          margin: 0;
          position: static;
          width: auto;
          height: auto;
          color: @color_blue_border;
        }
      }
    }

    .shipping-information-content {
      line-height: 28px;
      font-weight: 400;
      a {
        color: @color-black;
      }
    }
  }

  .checkout-payment-method {
    .payment-methods {
      @media all and (max-width: 767px) {
        margin: 0;
      }
    }
  }

  input[type="checkbox"] {
    margin: 3px 9px 0 2px;
  }

  #promocode-form {
    .action-apply {
      .label {
        font-weight: 600;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 8px;
      }
    }

    .payment-option-content {
      padding-left: 0;
    }

    .primary {
      .action {
        font-size: 1rem;
        line-height: 14px;
        margin: 0 0 0 20px;
        padding: 6px 15px 5px;
        min-width: 100px;
        float: right;
        @media all and (max-width: 767px) {
          margin: 0;
          float: none;
        }
      }
    }
  }

  .credit-card-types-holder {
    margin: 0;
  }

  .credit-card-types {
    position: absolute;
    right: -2px;
    top: 21px;
    .item {
      margin: 0 0 0 4px;
      max-width: 35px;
      float: left;
      border: 2px solid @color_bright_border;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      img {
        vertical-align: top;
      }
    }
  }
}

.opc-wrapper {
  .shipping-address-items {
    padding: 14px 0 0;
    .shipping-address-item {
      border: 2px solid @color_general_border;
      margin: 0 0 5px;
      padding: 2px 43px 1px 38px;
      width: 100%;
      line-height: 1.86;
      font-weight: 400;

      .action-select-shipping-item {
        .on-default {
          display: block;
        }

        .on-check {
          display: none;
        }
      }

      &.selected-item {
        border-color: @color_blue_border;
        &::after {
          display: none;
        }

        .action-select-shipping-item {
          visibility: visible;
          .on-default {
            display: none;
          }

          .on-check {
            display: block;
          }
        }

        .edit-address-link {
          color: @color_blue_border;
          &::before {
            display: none;
          }
        }
      }
    }

    .edit-address-link {
      position: absolute;
      right: 14px;
      top: 5px;
      margin: 0;
      color: @color_general_border;
    }

    .action-select-shipping-item {
      position: absolute;
      left: 8px;
      top: 50%;
      font-size: 2rem;
      margin: -10px 0 0;
      padding: 0;
      border: 0;
      background: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: auto;
      display: block !important;
    }
  }

  .action-show-popup {
    margin: 0 0 10px;
    padding: 0 0 0 21px;
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 1.2rem;
    line-height: 1.67;
    font-weight: 600;
    position: relative;
    color: @color_blue_border;
    @media all and (max-width: 767px) {
      width: auto;
    }

    &::after {
      content: '\f067';
      position: absolute;
      left: 0;
      top: 0;
      font: 1.2rem/1.67 "Font Awesome 5 Free Solid";
    }

    span {
      &::before {
        display: none;
      }
    }
  }

  .step-content {
    margin: 0 0 6px;
  }
}

.checkout-payment-method {
  .payment-method {
    .payment-method-title {
      border-color: @color_light_border !important;
      font-weight: 400;
      padding: 16px 0;
      .payment-icon {
        display: none;
      }

      .radio {
        display: none;
      }

      .label {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        padding: 0 0 0 28px;
        &::before {
          content: '\f111';
          position: absolute;
          left: 0;
          top: 50%;
          color: @color_general_border;
          margin: -10px 0 0;
          font: 2rem/1 'Font Awesome 5 Free';
        }
      }

      .radio {
        &:checked {
          + .label {
            &::before {
              content: '\f058';
            }
          }
        }
      }
    }

    &._active {
      .payment-method-title {
        font-weight: 600;
      }
    }
  }

  .payment-method-content {
    margin: -3px 0 0;
    padding: 0 0 14px;
    .fieldset {
      &:not(:last-child) {
        margin: 0 0 3px;
      }
    }
  }

  .checkout-billing-address {
    margin: 0;
    padding: 3px 0 0;
    label {
      display: inline-block;
      vertical-align: top;
      font-weight: 400;
    }

    .fieldset {
      .actions-toolbar {
        display: block;
      }
    }

    .billing-address-details {
      padding: 4px 0 0 29px;
      font-weight: 400;
      line-height: 2;

      @media all and (max-width: 767px) {
        padding: 9px 0 0;
      }

      &:empty {
        padding: 0;
      }
    }

    .fieldset {
      padding: 2px 19px 0;
      .field-select-billing {
        margin: 0 0 16px !important;
      }
    }

    .field-select-billing {
      select {
        border-color: @color_light_border;
        border-width: 2px 0;
        padding: 6px 35px 6px 6px;
        height: 35px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-background-size: 23px 20px;
        background-size: 23px 20px;
        background-position: 100% 6px;
      }

      .actions-toolbar {
        .primary {
          padding: 0;
        }
      }
    }

    @media all and (max-width: 767px) {
      .billing-address-same-as-shipping-block {
        input[type="checkbox"] {
          float: left;
        }

        label {
          display: block;
          overflow: hidden;
        }
      }
    }
  }

  .payment-methods {
    .actions-toolbar {
      .primary-holder {
        overflow: hidden;
        padding: 0 0 2px;
        .primary {
          &.action {
            font-size: 1rem;
            line-height: 14px;
            margin: 0 0 0 20px;
            padding: 6px 15px 5px;
            min-width: 100px;
            float: right;
            &.btn-action-cancel {
              border: 1px solid @color_bright_border;
              background: #fff;
              font-size: 1.2rem;
              color: @color_general_border;
              padding: 5px 15px;
              text-transform: none;
            }
          }
        }
      }
    }
  }

  .payment-option-title {
    padding: 20px 0 !important;
    font-weight: 600;
    .action-toggle {
      color: @color-black;
      display: block;
      padding: 0 8px 0 0;
      &::after {
        content: "\f107";
        float: right;
        color: @color_general_border;
        font-size: 2rem;
        line-height: 1.67;
        font: 2rem/1.2 @font-face__fontawesome-solid;
      }
    }
  }

  .payment-option._active {
    .payment-option-title {
      .action-toggle {
        &::after {
          content: "\f106";
        }
      }
    }
  }

  .payment-group {
    .step-title {

    }
  }

  .payment-option {
    @media all and (max-width: 767px) {
      margin: 0;
    }
  }
}

.page-main {
  .block {
    &.checkout_agreement {
      margin: 0;
      padding: 16px 0 19px;
      border-top: 1px solid @color_general_border;
      font-size: 1.2rem;
      line-height: 1.33;
      font-weight: 400;
      @media all and (max-width: 767px) {
        padding-bottom: 14px;
      }
      a {
        color: inherit;
      }
    }
  }
}

.checkout-onepage-success {
  .page-main {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .column {
    &.main {
      @media all and (max-width: 639px) {
        margin: 0 0 20px;
      }
    }
  }

  .checkout-success {
    @media all and (max-width: 639px){
      .order-items{
        margin-top:20px;
        float: none;

        .table-order-items{
          thead{
            display: none;
          }
          tbody > tr {
            display: block !important;
            margin-bottom: 15px;

            td {
              display: block !important;
              padding: 5px 22px 5px !important;

              &.name{
                font-size: 1.4rem;

                .product-item-name{
                  font-size: 1.4rem;
                }
              }

              &.qty{
                padding: 5px 22px 5px !important;
              }
            } 
          }
        }
      }
    }
  }
}

#registration {
  max-width: 100%;
  border: 0;
  padding: 0;
  @media all and (max-width: 767px) {
    form {
      position: static;
      top: auto;
      right: auto;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
}