/* CMS pages */
.cms-page-view {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;

  .column.main {
    .video-block {
      margin: 0 0 19px;
      padding: 0 0 56.4%;
      position: relative;
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    h2 {
      margin: 0 0 21px;
      font-size: 3.6rem;
      line-height: 1.36;
      font-weight: 600;
    }

    h3 {
      margin: 0 0 18px;
      font-size: 2.4rem;
      line-height: 1.55;
      font-weight: 600;
      text-transform: uppercase;
    }

    h5 {
      margin: 0 0 14px;
      font-size: 1.4rem;
      line-height: 1.355;
      font-weight: 600;
      @media all and (max-width: 767px) {
        margin: 0 0 22px;
      }
    }

    p {
      margin: 0 0 18px;
    }

    .cms-image {
      margin: 0 0 19px;
      display: inline-block;
      vertical-align: top;

    }

    ul {
      margin: 0 0 23px;
      padding: 0;
      list-style: none;
      li {
        padding: 0 0 0 37px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 13px;
          top: 8px;
          width: 3px;
          height: 3px;
          background: #000;
          border-radius: 50%;
        }
      }
    }

    ol {
      margin: 0;
      padding: 0 0 0 11px;
      list-style: none;
      counter-reset: my-awesome-counter;
    }

    ol li {
      position: relative;
      padding: 0 0 0 26px;
      counter-increment: my-awesome-counter;
    }

    ol li::before {
      position: absolute;
      left: 0;
      top: 0;
      content: counter(my-awesome-counter) ". ";
      padding: 0 12px 0 0;
    }
  }

  .page-title-wrapper {
    .page-title {
      margin: 0 0 18px;
      font-size: 4.8rem;
      line-height: 1.19;
      font-weight: 400;
      @media all and (max-width: 767px) {
        font-size: 2.4rem;
        line-height: 33px;
        font-weight: 600;
        margin: 0 0 9px;
      }
    }
  }
}

/* About Us */
.cms-about-us {
  .page-wrapper > {
    .breadcrumbs {
      margin: 0 auto 16px;
      padding: 20px 10px 0;
      display: block;
    }
  }

  .page-main {
    padding-bottom: 93px;
    max-width: 720px;
    @media all and (max-width: 767px) {
      padding-top: 0;
    }
  }
}


