@color-blue:        #054872;
@color-pink:        #de4889;
@color-yellow:      #eeb300;
@color-orange:      #e88604;
@color-green:       #7aba1e;
@color-light-blue:  #009fdf;
@color-sky-blue:    #00d1f2;
@color-links-blue:  #4a90e2;
@color-light-red:   #f38874;
@color-grey:        #858789;
@color-purple:      #8e6aad;
@color-rose-red:    #ad1d56;
@color-aquamarine:  #00aeb4;
@color-dark-orange: #df4e2c;
@color-dark-grey:   #4a4a4a;