.customer-account-login,
.customer-account-forgotpassword,
.company-account-create,
.company-account-index,
.customer-account-create,
.customer-account-createpassword {
  .page-main {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}