@font-face {
  font-family: 'Icon-Font';
  src:  url('@{baseDir}/fonts/icon-font.eot?1lnlz6');
  src:  url('@{baseDir}/fonts/icon-font.eot?1lnlz6#iefix') format('embedded-opentype'),
  url('@{baseDir}/fonts/icon-font.ttf?1lnlz6') format('truetype'),
  url('@{baseDir}/fonts/icon-font.woff?1lnlz6') format('woff'),
  url('@{baseDir}/fonts/icon-font.svg?1lnlz6#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
