/* Footer */
.footer-info {
  background: #878787;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.31;
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 1.31;
  }

  ul {
    margin: 0 auto;
    padding: 0 20px;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    max-width: 1278px;
    width: 100%;
    box-sizing: border-box;
    @media all and (min-width: 768px) {
      flex-flow: row wrap;
      padding: 17px 20px 16px;
    }

    li {
      margin: 0;
      border-top: 1px solid #979797;
      padding: 13px 8px 13px 0;
      position: relative;
      text-align: center;
      &:first-child {
        border: 0;
      }

      @media all and (min-width: 768px) {
        border: 0;
        padding-right: 15px;
      }

      a,
      span {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding: 0 0 0 43px;
        position: relative;
        color: #fff;
        &::before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font: 2.4rem "Font Awesome 5 Free";
        }
      }

      &.ico-map {
        a,
        span {
          &::before {
            content: '\f279';
          }
        }
      }

      &.ico-shipping-fast {
        a,
        span {
          padding-left: 46px;
          &::before {
            content: '\f48b';
          }
        }
      }

      &.ico-dollar-sign {
        a,
        span {
          padding-left: 30px;
          &::before {
            content: '\f155';
          }
        }
      }

      &.ico-gem {
        a,
        span {
          &::before {
            content: '\f3a5';
          }
        }
      }
    }
  }
}

.page-footer {
  color: #fff;
  background: #282829;
  margin-top: 0;
  padding-bottom: 8px;

  a {
    color: #fff;
  }
}

.footer {
  &.content {
    padding: 11px 0 0;
    border-top: 0;
    @media all and (min-width: 768px) {
      padding: 15px 20px 0;
      max-width: 1230px;
    }

    .block {
      &.newsletter {
        float: none;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 0 13px;
        padding: 0 10px;
        @media all and (min-width: 768px) {
          flex-wrap: nowrap;
          margin: 0 0 16px;
          padding: 0;
        }
        @media all and (min-width: 1024px) {
          padding: 0 0 0 78px;
        }

        .title {
          margin: 0;
          padding: 0 0 9px;
          display: block;
          font-size: 1.4rem;
          line-height: 1.43;
          @media all and (min-width: 768px) {
            padding: 3px 7.2% 0 0;
            font-size: 1.6rem;
            line-height: 1.38;
            font-weight: bold;
          }
        }

        .subscribe-holder {
          background: #fff;
          padding: 3px;
          border-radius: 8px;
          width: 100%;
          @media all and (min-width: 768px) {
            width: auto;
          }
        }

        input {
          padding: 0 15px;
          height: 38px;
          border: 0;
          font-size: 1.2rem;
          @media all and (min-width: 768px) {
            padding: 0 21px;
            min-width: 290px;
            font-size: 1.4rem;
          }

          &:focus {
            box-shadow: none;
          }
        }

        .field {
          .control {
            &::before {
              display: none;
            }
          }
        }

        .action {
          &.subscribe {
            padding: 9px 29px;
            border-radius: 5px;
            color: #fff;
          }
        }
      }
    }

    .links {
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }

    .links-holder {
      border-top: 1px solid #4a4a4a;
      padding: 0;
      @media all and (min-width: 768px) {
        border-top: 1px solid #979797;
        padding: 49px 0 0;
      }

      .row {
        margin: 0 0 0 -30px;
        display: flex;
        flex-wrap: wrap;
        @media all and (min-width: 1024px) {
          margin: 0 auto;
          max-width: 1040px;
        }

        .col {
          width: 100%;
          padding: 0 0 0 30px;
          box-sizing: border-box;
          @media all and (min-width: 768px) {
            width: 25%;
            padding-bottom: 15px;
          }

          .links-title {
            margin: 0;
            padding: 14px 40px 12px 14px;
            border-bottom: 1px solid #4a4a4a;
            font-size: 1.6rem;
            line-height: 1.3;
            font-weight: normal;
            position: relative;
            cursor: pointer;
            &::before {
              content: '\f067';
              font: 1.4rem "Font Awesome 5 Free";
              position: absolute;
              right: 16px;
              top: 15px;
            }

            @media all and (min-width: 768px) {
              max-width: 180px;
              font-weight: bold;
              margin: 0 0 10px;
              padding: 0 0 9px;
              cursor: default;
              border-color: #979797;
              &::before {
                display: none;
              }
            }

            .footer-logo {
              display: inline-block;
              max-width: 150px;

              img {
                display: inline-block;
                vertical-align: top;
              }
            }
          }

          div.links-title {
            text-align: center;
            margin: 0 0 7px;
            padding: 36px 14px 32px;
            cursor: default;

            &::before {
              display: none;
            }

            @media all and (min-width: 768px) {
              text-align: left;
              margin: 0;
              padding: 0 0 9px;
            }
          }
        }
      }

      .social-list {
        margin: 0 0 20px -30px;
        padding: 0;
        letter-spacing: normal;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.8rem;
        @media all and (min-width: 768px) {
          margin-top: 7px;
          justify-content: left;
        }

        li {
          margin: 0;
          padding: 0 0 0 30px;

          a {
            padding: 5px;
            display: inline-block;
            vertical-align: top;
            transition: opacity .3s;

            &:hover {
              text-decoration: none;
              opacity: .7;
            }

            &.ico-blog {
              font-size: 6px;
              color: #4a4a4a;
              position: relative;

              span {
                display: inline-block;
                vertical-align: top;
                background: #fff;
                border-radius: 50%;
                min-width: 19px;
                min-height: 19px;
                padding: 5px 3px;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }

    .links-content {
      padding: 11px 10px;
      border-bottom: 1px solid #4a4a4a;
      display: none;
      @media all and (min-width: 768px) {
        border: 0;
        padding: 0;
        display: block;
      }
    }

    .footer-links {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.357;
    }

    .contact-list {
      margin: 0 0 -9px;
      padding: 0 27px;
      list-style: none;
      line-height: 1.357;
      @media all and (min-width: 768px) {
        margin: 0;
        padding: 0;
      }

      > li {
        padding: 0 0 20px 27px;
        position: relative;
        @media all and (min-width: 768px) {
          padding: 0 0 8px 27px;
        }

        &::before {
          font: 1.2rem/1.42 "Font Awesome 5 Free";
          position: absolute;
          left: 4px;
          top: 1px;
        }

        &.phone {
          &::before {
            content: '\f095';
          }
        }

        &.landline-phone {
          &::before {
            content: '\f1ac';
          }
        }

        &.email {
          word-wrap: break-word;

          &::before {
            content: '\f0e0';
          }
        }

        &.working-hours {
          &::before {
            content: '\f017';
            top: 0;
          }
        }

        &.contact-address {
          &::before {
            content: '\f3c5';
            left: 6px;
            top: 0;
          }
        }
      }
    }
  }

  .footer-bottom {
    overflow: hidden;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    line-height: 13px;
    @media all and (min-width: 768px) {
      padding: 15px 0 0;
      border-top: 1px solid #979797;
    }
  }

  .footer-middle {
    font-size: 1rem;
    line-height: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #4a4a4a;
    @media all and (min-width: 768px) {
      max-width: 506px;
      margin: 0 auto;
      padding: 20px 0 16px;
      border: 0;
    }

    .payment-logos {
      margin: 0 auto;
      padding: 13px 0;
      list-style: none;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      @media all and (min-width: 768px) {
        margin: -5px 0 0;
        padding: 0;
        float: left;
      }

      li {
        float: left;
        padding: 0 2px;

        svg {
          vertical-align: top;
        }
      }
    }
  }

  .abn-text {
    display: block;
    font-weight: normal;
    padding: 17px 0;
    border-top: 1px solid #4a4a4a;
    width: 100%;
    text-align: center;
    order: 1;
    @media all and (min-width: 768px) {
      border: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      width: auto;
      order: 0;
    }
  }

  .copyright {
    background: none;
    padding: 12px 0 24px;
    font-size: 1rem;
    line-height: 13px;
    border-top: 1px solid #4a4a4a;
    @media all and (min-width: 768px) {
      border: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
    }
  }
}















