/* Variables */
@category-border-color:            #979797;
@swatch-disabled-background-color: #f1f1f1;
@swatch-disabled-color:            #d2d1d1;
@color_icon:                       #858789;

/* Global */
body {
  color: @color-black;
  font-weight: 200;
  &.filter-active {
    .page-wrapper {
      height: auto;
      margin-top: 0;
      visibility: visible;
    }

    .page-header {
      display: block;
    }
  }
}

dt {
  font-weight: 600;
}

.page-wrapper {
  overflow-x: hidden;
  > .breadcrumbs {
    margin: 0 auto;
    padding: 26px 21px 20px;
  }
}

.ie10,
.ie11 {
  .page-wrapper {
    height: auto;
  }
}

body:not(.general),
.industry-page {
  .header {
    &.content {
      padding: 0 0 0 56px;
      @media all and (min-width: 768px) {
        padding: 18px 8px 0 49px;
      }
    }
  }

  .logo {
    overflow: hidden;
    max-width: none;
    img {
      float: left;
      margin: 0 14px 0 0;
      width: 40px;
      height: 24px;
      @media all and (max-width: 479px) {
        margin: 0 8px 0 0;
        width: 32px;
        height: 20px;
      }
    }

    .logo-text {
      float: left;
      font-size: 1.8rem;
      line-height: 1.3;
      font-weight: 600;
      text-transform: uppercase;
      @media all and (max-width: 479px) {
        font-size: 1.6rem;
        line-height: 1.2;
      }
    }
  }
}

/* Forms */
.fieldset {
  > .field {
    &.required {
      > .label {
        &::after {
          color: inherit;
          font-size: inherit;
          line-height: inherit;
          margin-left: 0;
        }
      }
    }
  }
}

select {
  background: #fff url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-down' class='svg-inline--fa fa-angle-down fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 512'%3E%3Cpath fill='currentColor' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E") 100% 7px no-repeat;
  background-size: 18px 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

input {
  &[type="text"],
  &[type="password"],
  &[type="url"],
  &[type="tel"],
  &[type="search"],
  &[type="number"],
  &[type="datetime"],
  &[type="email"] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: @swatch-disabled-color;
    height: 30px;
  }
}

textarea {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: @swatch-disabled-color;
}

/* Page Title */
.page-title-wrapper {
  .page-title {
    margin: 0 0 28px;
    font-size: 3.6rem;
    line-height: 1.222;
    font-weight: 600;
  }
}

/* Breadcrumbs */

.breadcrumbs {
  .items {
    font-size: 1.4rem;
    line-height: 19px;
    color: @color-black;
    font-weight: 600;
  }

  a {
    color: @color-black;
    font-weight: 600;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: @color-black;
    }
  }

  .item {
    &:not(:last-child) {
      &::after {
        content: '\f105';
        font: 1.2rem/1.33 "Font Awesome 5 Free Solid";
        margin: 2px 3px 0 2px;
      }
    }
  }
}

.columns {
  .column {
    &.main {
      padding-bottom: 0;
    }
  }
}

.desktop-only {
  display: none;
}

@media all and (max-width: 767px) {
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-main,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 768px) {
  .desktop-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }

  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    max-width: 1370px;
  }
}

input {
  &[type="text"],
  &[type="password"],
  &[type="url"],
  &[type="tel"],
  &[type="search"],
  &[type="number"],
  &[type="datetime"],
  &[type="email"] {
    &::-webkit-input-placeholder {
      opacity: 1;
      color: @color-dark-grey;
    }

    &::-moz-placeholder {
      opacity: 1;
      color: @color-dark-grey;
    }

    &:-ms-input-placeholder {
      opacity: 1;
      color: @color-dark-grey;
    }

    &:-moz-placeholder {
      opacity: 1;
      color: @color-dark-grey;
    }
  }
}

.links-container {
  .action {
    &.switch {
      padding: 6px 0 0 11px;
      vertical-align: top;
      color: inherit;
      &::after {
        font-size: 1.8rem;
        line-height: 1.2rem;
        content: "\f107";
        font-family: "Font Awesome 5 Free Solid";
      }
    }
  }
  &.active {
    .action {
      &.switch {
        &::after {
          content: "\f106";
        }
      }
    }
  }
}

/* Icon */

.short-state {
  .header {
    &.content {
      max-width: 1368px;
      padding-top: 22px;
      @media all and (max-width: 767px) {
        padding: 0 0 0 20px;
        text-align: center;
      }
    }
  }

  .nav-toggle {
    display: none;
  }

  .logo {
    margin-bottom: 12px;
    @media all and (max-width: 767px) {
      margin-left: 0;
      margin-right: 16px;
      float: none;
      display: inline-block;
      vertical-align: top;
      max-width: 148px;
    }
  }

  &.page-header {
    @media all and (min-width: 768px) {
      padding: 0 0 18px;
    }

    .submenu-block {
      padding-bottom: 2px;
      @media all and (max-width: 767px) {
        padding-bottom: 0;
      }
    }

    @media all and (max-width: 767px) {
      .submenu-block {
        float: none;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  &.page-footer {
    padding-bottom: 11px;
  }

  .footer {
    &.content {
      padding: 0;
    }

    .footer-bottom {
      border: 0;
    }
  }
}

/* Icon */
.fa-planet::before {
  content: "\e800";
  font-family: "Icon-Font";
  font-weight: normal;
}

/* Product Grid */
.product-item-info {
  width: auto;
  background: @color-white;
  border-radius: 5px;
  position: relative;
  @media all and (min-width: 768px) {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 8px;
      z-index: -1;
    }
  }

  .product-item-details {
    padding: 5px 5px 10px;
    transition: height .6s;
    display: flex;
    flex-flow: column;
    @media all and (min-width: 768px) {
      padding: 5px 10px 8px;
    }

    .swatch-attribute {
      &:not([class*="size"]) {
        display: none;
      }

      @media all and (max-width: 768px) {
        display: none;
      }
    }

    .product-reviews-summary {
      display: none;
    }

    .price-holder {
      display: flex !important;
      flex-flow: column;
      flex-grow: 1;
      .product-item-name {
        //@media all and (min-width: 768px) {
        //  height: auto !important;
        //}
      }
    }

    .product.name a,
    .product-item-name {
      font-size: 1.2rem;
      line-height: 1.33;
      @media all and (min-width: 768px) {
        line-height: 1.67;
        font-weight: 600;
      }
    }

    .product-item-name {
      margin: 0 0 23px;
      overflow: hidden;
      @media all and (min-width: 768px) {
        margin: 0 0 10px;
        height: auto;
      }
    }

    .product-sku {
      padding: 0 0 8px;
      font-size: 1rem;
      line-height: 1.8;
      font-weight: normal;
      display: block;
      text-transform: uppercase;
      flex-grow: 1;
      @media all and (max-width: 767px) {
        overflow: hidden;
        text-indent: -9999px;
        font-size: 0;
        line-height: 0;
        padding: 0 !important;
      }
    }
  }

  .product-item-photo {
    position: relative;
    z-index: 0;
    padding: 5px 5px 0;
    .product-image-wrapper,
    .photo {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      text-align: center;

      .label.sale {
        position: absolute;
        right: 9px;
        top: 9px;
        color: @color-white;
        border-radius: 18px;
        background: @label-sale-color;
        letter-spacing: 0.7px;
        font-size: 1.6rem;
        line-height: 22px;
        font-weight: 600;
        padding: 6px 21px 6px 23px;
        text-transform: uppercase;
        z-index: 1;
        @media all and (max-width: 767px) {
          font-size: 1.2rem;
          line-height: 17px;
          padding: 5px 17px 5px 18px;
        }
      }
    }

    .actions-secondary[data-role='add-to-links'] {
      display: block;
      position: absolute;
      bottom: 6px;
      right: 0;
      z-index: 1;
      font-size: 0;
      padding: 0 10px;

      @media all and (max-width: 767px) {
        display: none;
      }

      .action {
        position: relative;
        margin: 4px 4px 4px 5px;
        display: inline-block;
        vertical-align: bottom;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #3fb9e4;
        transition: background-color .3s;

        &:hover {
          background-color: #208ccc;
        }

        &.towishlist:before {
          position: absolute;
          margin: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: @font-face__fontawesome-solid;
          font-size: 1.4rem;
          color: @color-white;
          content: @fa-var-heart;
        }

        &.tocompare {
          &:before,
          &:after {
            box-sizing: border-box;
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background: transparent;
            border: solid 2px @color-white;
            border-radius: 2px;
            top: 50%;
            left: 50%;
          }

          &:before {
            transform: translate(-68.75%, -68.75%);
          }

          &:after {
            transform: translate(-31.25%, -31.25%);
          }
        }
      }

      .social-button .requisition-list-action{
        padding-left: 0px;
      }
    }
  }
}

.price-holder-block {
  display: flex;
  flex-flow: row wrap;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  div.qty {
    padding: 4px 19px 10px 0;
    white-space: nowrap;
    font-size: 0;
    line-height: 1px;
    @media all and (max-width: 767px) {
      padding: 0 6px 0 0;
    }

    .control {
      .qty-btn {
        background: none;
        box-shadow: none;
        border: 0;
        transition: opacity .3s;
        height: 34px;
        font-size: 1.2rem;
        padding: 0 10px;

        &:hover {
          opacity: .5;
        }
      }

      .qty,
      .qty-btn {
        display: inline-block;
        vertical-align: top;
      }

      .qty-btn {
        @media all and (max-width: 767px) {
          display: none;
        }
      }

      .qty {
        border-radius: 10px;
        height: 34px;
        width: 38px;
        font-size: 1.8rem;
        color: @color-dark-grey;
        border: 1px solid @color-dark-grey;
        text-align: center;
        padding: 0 6px;
        @media all and (max-width: 767px) {
          width: 45px;
          height: 56px;
        }
      }
    }
  }
}

.column {
  &.main {
    .product-item {
      .price-sub-block {
        margin: 0 0 6px;
        .price-box {
          position: relative;
          padding-bottom: 14px;
          vertical-align: bottom;
          .price-excluding-tax {
            bottom:0;
            left:0;
          }
          .price-including-tax, .price-excluding-tax {
            line-height: 1.42857143;
          }
        }
        @media all and (max-width: 767px) {
          margin: 0 0 2px;
        }

        .special-price {
          float: right;
          .price {
            font-weight: 600;
          }
        }

        .old-price {
          margin: 0;
          padding: 0 6px 0 0;
          float: left;
          text-decoration: line-through;
          .price-label {
            display: none;
          }
        }

        .price-box {
          display: inline-block;
          margin: 0;
        }

        .product-unit-of-measurement {
          color: @color-dark-grey;
          font-size: 1rem;
          line-height: 1.3;
          font-weight: 600;
          display: inline-block;
          vertical-align: top;
          padding: 4px 0 0 1px;
          @media all and (max-width: 767px) {
            font-size: 0.8rem;
            font-weight: 400;
          }

          &:not(:empty) {
            &::before {
              content: '/';
            }
          }
        }
      }
    }
  }
}

.products-grid {
  .product-item-actions {
    margin: 0;
    flex-grow: 1;
    display: block;
    text-align: right;
    @media all and (max-width: 767px) {
      margin: 0;
    }

    .actions-primary {
      display: block;
      .action.primary {
        a&,
        &{
          width: 100%;
          padding: 12px 10px;
          @media all and (max-width: 980px) {
            padding: 18px 10px;
            min-width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

.bulk-pricing {
  font-size: 1.2rem;
  line-height: 1.5;
  position: relative;
  width: 100%;

  &:not(:empty) {
    padding-top: 14px;
    padding-bottom: 9px;
  }

  @media all and (max-width: 767px) {
    font-size: 1rem;
    line-height: 1.78;
    display: block;
    &:not(:empty) {
      padding: 18px 0 0;
    }
  }

  .opener {
    display: block;
    position: relative;
    padding: 0 40px 0 0;
    color: @slick-arrow-color;
    cursor: pointer;
    @media all and (min-width: 768px) {
      padding: 0 20px 0 10px;
    }

    &::before {
      content: '\f107';
      font: 1.4rem "Font Awesome 5 Free Solid";
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      margin: -1px 0 0;
      @media all and (min-width: 768px) {
        right: 7px;
      }
    }
  }

  &.active {
    .opener {
      &::before {
        content: '\f106';
      }
    }

    .bulk-list {
      display: block;
    }
  }

  .bulk-list {
    position: absolute;
    left: -5px;
    top: 100%;
    right: -5px;
    margin: 0;
    padding: 9px 20px 12px;
    list-style: none;
    background: @color-white;
    border-radius: 0 0 5px 5px;
    display: none;
    @media all and (min-width: 768px) {
      left: -10px;
      right: -10px;
      padding: 0 38px 14px 42px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 2px 34px 16px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: @color-white;
      border-radius: 8px;
      z-index: 1;
    }

    li {
      margin: 0;
      display: flex;
      position: relative;
      z-index: 2;
      justify-content: space-between;
    }
  }
}
a.action {
  &.primary {
    &.bulk-pricing-btn {
      display: none;
      @media all and (max-width: 767px) {
        font-size: 1.1rem;
        line-height: 1.5;
        font-weight: normal;
        text-transform: none;
        margin: 6px -5px -10px;
        padding: 1px 8px 0;
        border-radius: 6px;
        text-align: center;
        display: none;
      }
    }
  }
}

@media all and (min-width: 640px) {
  .products-grid {
    .product-item-info {
      &:hover,
      &.active {
        margin: 0;
        padding: 0;
        box-shadow: none;
        border: 0;
        z-index: auto;
      }
    }
  }
}

/* Sidebar */
.page-layout-2columns-left {
  .sidebar-main {
    width: 19.6%;
  }

  .column {
    &.main {
      width: 79.12%;
    }
  }
}

/* Filters */
.filter-content {
  background: @color-white;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.22);
  @media all and (min-width: 768px) {
    padding: 8px 12px 17px 8px;
  }

  .filter-options-content {
    padding: 13px 0;
    a {
      color: @color-black;
    }

    .count {
      padding-left: 0;
      padding-right: 0;
      color: inherit;
    }

    .item {
      font-size: 1.2rem;
      line-height: 15px;
      font-weight: 400;

      @media all and (min-width: 768px) {
        margin: 0 0 27px;
        &:last-child {
          margin: 0;
        }
      }

      > a {
        &:hover {
          background: none;
          text-decoration: underline;
          .count {
            text-decoration: underline;
          }
        }
      }

      input[type="radio"] {
        display: none;
      }

      .items {
        display: none;
      }
    }
  }

  .am_shopby_link_selected {
    font-weight: inherit;
  }
}

.filter-options {
  .am-labels-folding,
  .am-category-view {
    .item {
      a {
        &.amshopby-filter-parent {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}


.filter {
  .block-subtitle {
    border-color: @color-dark-grey;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: normal;
    margin: 0 0 3px;
    padding: 6px 0 14px;
  }
}

.filter-options-title {
  text-transform: none;
  padding: 11px 25px 11px 0;
  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: '\f107';
    font: 1.2rem/1.33 "Font Awesome 5 Free Solid";
    right: 4px;
  }
}

.filter-options-item {
  padding: 0;
  border-color: @category-border-color;
  @media all and (min-width: 768px) {
    border-color: @color-dark-grey;
  }

  &.active {
    .filter-options-title {
      &::after {
        content: '\f106';
      }
    }
  }
}

.filter-title {
  strong {
    background: @color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: 0;
    font-size: 1.2rem;
    line-height: 16px;
    border-radius: 8px;
    left: 9px;
    min-width: 46.7%;
    padding: 14px 30px 14px 10px;
    text-align: left;
    box-sizing: border-box;
    &::before {
      content: '\f107';
      position: absolute;
      right: 14px;
      top: 9px;
      font: 1.8rem/26px "Font Awesome 5 Free Solid";
    }
  }
}

/* Toolbar */
.toolbar {
  select {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    margin: 0 0 0 4px;
    padding: 0 20px 0 10px;
    font-size: 1.2rem;
    line-height: 1.67;
    font-weight: normal;
    height: 25px;
    width: 110px;
    background-position: 100% 7px;
    background-size: 14px 14px;

    &:not([disabled]) {
      &:focus {
        box-shadow: none;
      }
    }

    @media all and (max-width: 767px) {
      margin: 0;
      padding: 11px 30px 11px 5px;
      background-color: @color-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      background-size: 23px 18px;
      background-position: 100% 13px;
      width: 100%;
      height: auto;
      &:not([disabled]) {
        &:focus {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .pages {
    margin-bottom: 0;
  }
}

.toolbar-products {
  font-size: 1.2rem;
  line-height: 1.67;
  font-weight: 600;
  margin: 0 0 16px;

  @media all and (max-width: 767px) {
    margin: 0 0 31px;
  }

  .pages {
    display: inline;
    .item {
      line-height: 1.5;
      margin: 0 7px 0 6px;
      @media all and (max-width: 767px) {
        margin: 0 13px 0 12px;
      }
    }

    @media all and (max-width: 767px) {
      .pages-item-next,
      .pages-item-previous {
        top: 3px;
      }
    }

    .pages-items {
      padding: 2px 0 2px 16px;

      @media all and (max-width: 767px) {
        padding: 2px 42px;
        display: inline-block;
      }
    }

    strong {
      &.page {
        line-height: 1.5;
        background: none;
        text-decoration: underline;
      }
    }

    a {
      &.page {
        color: @color-black;
        font-weight: 600;
      }
      &:hover {
        text-decoration: underline;
      }
      &.next,
      &.previous {
        &:hover {
          opacity: .5;
        }
      }
    }

    .action {
      &.next,
      &.previous {
        margin: 0;
        padding: 0 2px;
        border: 0;
        background: no-repeat;
        box-shadow: none;
        width: 14px;
        transition: opacity .3s;
        &::before {
          font: 1.2rem/1.43 "Font Awesome 5 Free Solid";
          color: @color-black;
        }
      }

      &.next {
        &::before {
          content: '\f105';
        }
      }

      &.previous {
        &::before {
          content: '\f104';
        }
      }
    }
  }

  .modes {
    margin-right: 0;
  }

  .pages {
    min-width: 33.333333%;
    flex-grow: 1;
  }

  .toolbar-sorter {
    text-align: right;
    @media all and (max-width: 767px) {
      .sorter-label {
        display: none;
      }
      .sorter-options {
        width: 85%;
        float: left;
        padding-left: 10px;
      }
      .sorter-action {
        position: relative;
        right: 2px;
        top: 8px;
      }
    }
  }
}

.toolbar-amount {
  padding: 3px 0;
  margin-left: 10px;
  @media all and (max-width: 767px) {
    display: none;
  }
}

.page-products {
  .products-grid {
    .product-items {
      margin: 0 -10px 0 -8px;
      display: flex;
      flex-flow: row wrap;
      @media all and (max-width: 767px) {
        margin: 0 5px;
      }
    }

    .product-item {
      width: 25%;
      max-width: 25%;
      min-width: 140px;
      margin: 0 0 42px;
      padding: 0 10px;
      flex-grow: 1;
      &:nth-child(3n+1) {
        margin: 0 0 42px;
      }

      @media all and (max-width: 640px) {
        max-width: 33.333333%;
      }

      @media all and (max-width: 480px) {
        max-width: 50%;
      }
    }
  }

  .product-item-info {
    width: 100% !important;
  }

  .sorter {
    @media all and (max-width: 767px) {
      right: 4px;
      width: 46.7%;
      min-width: auto;
    }
  }

  .columns {
    @media all and (max-width: 767px) {
      padding-top: 75px;
    }
  }
}

.product-item {
  .price-box {
    .price-label {
      display: none !important;
    }
  }
}

.products {
  &.wrapper {
    ~ .toolbar {
      .pages {
        width: 100%;
      }
    }
  }
}

/* Star rating */
.rating-summary {
  .rating-result {
    width: 116px;
    @media all and (max-width: 767px) {
      width: 145px;
    }

    &::before {
      content: '\f005' '\f005' '\f005' '\f005' '\f005';
      height: 20px;
      font: 1.6rem/1.25 "Font Awesome 5 Free Solid";
      letter-spacing: 6.5px;
      @media all and (max-width: 767px) {
        letter-spacing: 13.5px;
      }

    }

    > span {
      &::before {
        content: '\f005' '\f005' '\f005' '\f005' '\f005';
        color: @color-yellow;
        height: 20px;
        font: 1.6rem/1.25 "Font Awesome 5 Free Solid";
        letter-spacing: 6.5px;
        @media all and (max-width: 767px) {
          letter-spacing: 13.5px;
        }
      }
    }
  }
}

.product-reviews-summary {
  margin-bottom: 20px;
  .reviews-actions {
    font-weight: 400;
    @media all and (max-width: 767px) {
      font-size: 1.4rem;
      line-height: 19px;
      padding: 2px 0 0;
    }

    a {
      color: @color-black;
    }
  }
}

/* Tier price */
.prices-tier {
  max-width: 265px;
  font-weight: 400;
  margin: 0 0 22px;
  @media all and (max-width: 767px) {
    max-width: none;
  }
  li {
    display: flex;
    flex-flow: row wrap;
    span,
    strong {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    &.title-row {
      margin: 0 0 11px;
      @media all and (max-width: 767px) {
        margin: 0 0 3px;
        border-bottom: 1px solid @light-border-color;
      }
    }

    &.item {
      margin: 0 0 4px;

      .qty-label {
        padding-left: 4px;
        @media all and (max-width: 767px) {
          padding-left: 6px;
          padding-bottom: 0;
        }
      }

      .tier-price {
        @media all and (max-width: 767px) {
          padding-left: 2px;
          padding-bottom: 0;
        }
      }
    }

    .qty-label {
      padding: 0 10px 0 0;
      width: 43.5%;
      box-sizing: border-box;
      @media all and (max-width: 767px) {
        padding: 0 10px 10px 5px;
        width: 47.8%;
      }
    }

    .tier-price {
      width: 56.5%;
      @media all and (max-width: 767px) {
        width: 52.2%;
        padding: 0 0 10px;
      }
    }

    strong {
      font-weight: 600;
    }
  }
}

/* Product image swatches */

.fotorama__stage,
.fotorama__nav {
  &.fotorama__shadows--right {
    &::after {
      display: none;
    }
  }
}


/* Swatches block */
.swatch-attribute-options {
  margin: 0 -5px 4px 0;
}

.swatch-option {
  &:not(.disabled) {
    &:hover {
      outline: none;
      border: 1px solid #d2d1d1;
      color: @color-dark-grey;
    }
  }

  &.text {
    color: @color-dark-grey;
    border: 1px solid @color-black;
    background: none;
    border-radius: 20px;
    margin: 0 5px 5px 0;
    padding: 0 8px 1px;
    font-weight: normal;
    transition: border .3s;
    width: ~"calc(33.333333% - 5px)";
    min-width: 70px;
    height: auto;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 1.2;

    &.selected {
      outline: none;
      border-color: #d2d1d1;
      color: @color-dark-grey;
    }

    &.disabled {
      background: @swatch-disabled-background-color;
      border-color: @swatch-disabled-color;
      color: @swatch-disabled-color;

      &::after {
        display: none;
      }
    }
  }
}

.filter.active {
  @media all and (max-width: 767px) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;

    .filter-content {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      background: @color-white;
      padding: 5px 18px 5px 22px;
      box-sizing: border-box;
      margin: -5px 0 0;
      z-index: 2;

      .filter-current {
        margin: 0;
        border-color: @category-border-color;
        border-width: 0 0 1px;
        .block-subtitle {
          margin: 0;
          padding: 11px 20px 10px 0;
          font-size: 1.4rem;
          text-transform: none;
          font-weight: 600;

          &::before {
            content: '\f107';
            font: 1.2rem/1.33 "Font Awesome 5 Free Solid";
            right: 6px;
            top: 14px;
          }
        }

        &.active {
          .block-subtitle {
            &::before {
              content: '\f106';
            }
          }
        }
      }
    }

    input[type="radio"] {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px 2px 0;
    }

    .items {
      a {
        padding: 0 !important;
      }

      .items-children {
        padding: 0 !important;

        .item {
          margin: 23px 0 20px;
        }
      }
    }

    .filter-title {
      position: absolute;
      border: none;

      strong {
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        right: auto !important;
        background: @color-white !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: 0;
        font-size: 1.2rem;
        line-height: 16px;
        border-radius: 8px;
        min-width: 46.7%;
        padding: 13px 30px 14px 20px;
        text-align: left;
        box-sizing: border-box;
        color: #000 !important;
        width: 100%;

        &:after {
          display: none;
        }

        &:before {
          right: 21px;
        }
      }
    }

    .filter-subtitle {
      position: static;
      box-shadow: none;
      background: none;
      border-radius: 0;
      display: none;
    }

    .filter-options-title {
      font-size: 1.4rem;
      padding: 11px 20px 10px 0;

      &::after {
        right: 6px;
        top: 14px;
      }
    }

    .filter-options {
      position: static;
      overflow: auto;
    }

    .filter-options-content {
      padding: 0;

      a {
        font-weight: normal;
        font-size: 12px;
        color: #000;
      }
    }

    .am_shopby_link_selected {
      font-weight: normal;
      font-size: 12px;
      color: #000;
    }
  }
}

.field-tooltip {
  .field-tooltip-action {
    &::before {
      color: @color_icon;
      content: '\f05a';
      font: 1.8rem/1.67 "Font Awesome 5 Free Solid";
    }
  }
}

.products-grid {
    .product-item-info {
        @media all and (min-width: 768px) {
            box-shadow: 0 2px 34px 16px rgba(0, 0, 0, 0.08);
        }
    }
}

.products-list {
    margin-bottom: 16px !important;

    .product-item-info {
        .product-item-details {
            padding: 10px;
        }
        
        .product-item-photo {
            padding: 5px;
            .actions-secondary[data-role='add-to-links'] {
                bottom: 15px !important;
            }
        }

        .product-image-photo {
            bottom: 0;
            display: block;
            height: auto;
            left: 0;
            margin: 0;
            max-width: 100%;
            position: static;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
    .product-item {
        margin-bottom: 10px;
        @media all and (min-width: 768px) {
            box-shadow: 0 2px 34px 16px rgba(0, 0, 0, 0.08);
        }
    }
    .product-item:hover {
        box-shadow: none;
    }
}

.table-wrapper.orders-history, .table-wrapper.additional-addresses {
    @media all and (max-width: 639px) {
        table.table-order-items, table.table-additional-addresses-items {
            thead > tr > th {
                display: none !important;
            }

            tbody > tr > td {
                display: block !important;
            }
        }
    }
}

.table-wrapper.orders-history ~ .order-products-toolbar.toolbar.bottom, .table-wrapper.additional-addresses ~ .customer-addresses-toolbar.toolbar.bottom {
    @media all and (max-width: 767px) {
        .pager > div.limiter > select.limiter-options {
            width: auto !important;
        }
    }
}