/* Header */
.page-header {
  z-index: 6;
  color: @color-white;
  background: #152384;
  margin: 0;
  border: 0;
  background: -moz-linear-gradient(-45deg, #152384 0%, #13299b 100%);
  background: -webkit-linear-gradient(-45deg, #152384 0%, #13299b 100%);
  background: linear-gradient(135deg, #152384 0%, #13299b 100%);
  @media all and (min-width: 768px) {
    background: #172272;
    padding: 0 0 9px;
    background: -moz-linear-gradient(-45deg, #172272 0%, #14569d 100%);
    background: -webkit-linear-gradient(-45deg, #172272 0%, #14569d 100%);
    background: linear-gradient(135deg, #172272 0%, #14569d 100%);
  }

  a {
    color: @color-white;
  }

  .submenu-block {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
    line-height: 1.22;

    ul {
      font-size: 1.2rem;
      line-height: 1.22;
      font-weight: 600;
    }

    @media all and (min-width: 768px) {
      margin: -2px 0 0;
      padding: 0 0 8px 4%;
    }

    .links-container-title {
      min-width: 44px;
      height: 44px;
      padding: 0 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      z-index: 102;

      .fa-planet {
        &::before {
          font-size: 26px;
          line-height: 30px;
        }
      }

      &.active,
      &:hover {
        background: @color-white;
        color: #01172f;
      }
    }

    > li {
      float: left;
      margin: 0;
      padding: 0;
      @media all and (min-width: 768px) {
        margin: 0 0 0 5px;
        padding: 0;
      }

      &.phone {
        padding: 12px 17px 0 0;

        a {
          &:hover {
            text-decoration: none;
          }
        }

        .fas {
          font-size: 22px;
          line-height: inherit;
          vertical-align: top;
          margin: -3px 3px 0 0;
        }
      }
    }
  }

  .links-container {
    .header {
      &.links {
        min-width: 138px;
        border: 0;
        margin: 0;
        padding: 0;
        box-shadow: 0 2px 34px 16px rgba(0, 0, 0, 0.08);
        list-style: none;
        background: @color-white;
        z-index: 101;
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        right: 0;

        &::after,
        &::before {
          display: none;
        }
      }
    }
  }

  .links-container {
    li {
      margin: 0;
      padding: 0;
      a {
        padding: 4px 10px;
        transition: all .3s;
        border-top: 1px solid @color-black;
        color: @color-black;
        display: block;
        line-height: 1.4;

        &:hover {
          text-decoration: none;
          border-top: 1px solid #273271;
          background: #273271;
          color: @color-white;
        }
      }

      &:first-child {
        a {
          border-top: 0;
        }
      }
    }

    &.store-set {
      .header {
        &.links {
          right: auto;
          left: 0;
        }
      }
    }
  }

  .active-sticky-header & {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    transition: left .3s;
  }
}

.nav-open {
  .active-sticky-header {
    .page-header {
      left: ~"calc(100% - 65px)";
    }
  }
}

.active-sticky-header {
  .page-header {
    z-index: 6;
  }
}

.header {
  &.content {
    max-width: 1378px;
    padding: 0 0 0 64px;
    @media all and (min-width: 768px) {
      padding: 18px 8px 0 49px;
    }
  }
}

/* Logo */
.logo {
  max-width: 58%;
  margin: 13px 0 0;
  @media all and (min-width: 768px) {
    position: static;
    margin: 8px 20px 18px 0;
    padding: 0;
    transform: none;
  }
}

/* MiniCart */
.minicart-wrapper {
  margin: 0;

  @media all and (max-width: 767px) {
    margin-right: 8px;
  }

  &::after,
  &::before {
    display: none;
  }

  .minicart-widgets {
    margin: 0;
  }

  .product {
    .actions {
      margin: 0;

      > .primary {
        margin: 0 !important;
        display: block;
        position: absolute;
        right: 6px;
        top: 54px;
        font-weight: 400;

        .edit {
          &:before {
            display: none;
          }

          &:hover {
            text-decoration: underline;

            > span {
              text-decoration: underline;
            }
          }

          > span {
            width: auto;
            height: auto;
            overflow: visible;
            margin: 0;
            position: static;
            font-size: 1.2rem;
            line-height: 1.67;
            color: @color-black;
          }
        }
      }

      .secondary {
        position: absolute;
        right: -6px;
        top: 1px;
        text-align: center;

        @media all and (max-width: 767px) {
          right: 7px;
          top: 14px;
        }

        .delete {
          display: block;
          width: 20px;
          height: 20px;
          transition: opacity .3s;
          &:hover {
            opacity: .5;
          }
          &:before {
            content: "\f00d";
            font-family: "Font Awesome 5 Free Solid";
            color: @color-black;
            font-size: 10px;
            display: block;
          }
        }
      }
    }
  }
  .action {
    &.showcart {
      min-width: 44px;
      height: 44px;
      padding: 0 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      box-sizing: border-box;
      position: relative;
      z-index: 102;
      &.active {
        display: flex;
        background: @color-white;
        color: #01172f;

        &::before {
          display: none;
        }
      }

      &::before {
        display: none;
      }

      &:hover {
        background: @color-white;
        color: #01172f;
      }

      .counter {
        &.qty {
          background: @color-white;
          color: @color-black;
          border-radius: 50%;
          position: absolute;
          right: 0;
          top: 0;
          width: 18px;
          height: 18px;
          box-sizing: border-box;
          font-size: 1rem;
          line-height: 1.8;
          font-weight: 600;
          margin: 0;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.21);
        }
      }

      .counter-number {
        text-shadow: none;
      }
    }

    &.close {
      display: none;
    }
  }
  .block-minicart {
    border: 0;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    right: 0;
    margin: 0;
    color: @color-black;
    padding: 14px 18px 15px;
    width: 383px;

    @media all and (max-width: 767px) {
      width: 304px;
      padding: 21px 17px 20px;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    }

    &::after,
    &::before {
      display: none;
    }

    .items-total {
      font-size: 14px;
      margin: 0 0 0 14px;
      font-weight: 400;
      @media all and (max-width: 767px) {
        margin: 0;
      }

      .count {
        font-weight: normal;
      }
    }

    .amount {
      .price-wrapper {
        &:first-child {
          .price {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }

    .block-content {

      > .actions {
        margin-top: 0;

        > .primary {
          margin: 0;

          .action {
            &.primary {
              font-size: 1.4rem;
              font-weight: 600;
              padding: 13px 17px;
              border-radius: 22px;
            }
          }
        }

        > .secondary {
          a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            min-height: 48px;
            min-width: 182px;
            border-radius: 20px;
            border: 1px solid #d2d1d1;
            font-size: 1.2rem;
            line-height: 1.67;
            font-weight: 600;
            color: #4a4a4a;
            padding: 13px 10px;
            box-sizing: border-box;
            transition: all .3s;

            &:hover {
              text-decoration: none;
              background: #4a4a4a;
              border-color: #4a4a4a;
              color: @color-white;
            }
          }
        }
      }

      .subtotal {
        font-size: 1.4rem;
        margin: 0 -5px 0 0;
        @media all and (max-width: 767px) {
          margin: 0;
        }

        + .actions {
          margin: 12px 4px 0;

          @media all and (max-width: 767px) {
            margin: 21px 0 0;
          }
        }

        > .label {
          display: none;
        }

        .price-container {
          padding-top: 0;
        }

        .label {
          &:after {
            display: none;
          }
        }
      }
    }

    .minicart-items-wrapper {
      margin: 0 -7px 7px 0;
      padding: 0;
      border: none;

      @media all and (max-width: 767px) {
        margin: 0 0 20px;
      }
    }

    .minicart-items {
      .product {
        &::after {
          display: none;
        }
      }

      li {
        border-bottom: solid 1px #e0e0e0;
        margin: 0 6px 0 0;
        padding: 11px 0 10px 4px;

        &:hover {
          cursor: default;
        }

        &:not(:first-child) {
          border-top: none;
        }

        @media all and (max-width: 767px) {
          padding: 18px 0 20px;
          margin: 0 0 0 -5px;
        }
      }

      .product-item-name {
        margin: 0 0 4px;
        font-size: 1.2rem;
        line-height: 1.67;

        @media all and (max-width: 767px) {
          margin: 0 40px 7px 0;
        }

        a {
          color: @color-black;
        }
      }

      .product {
        > .product-item-photo {
          width: 71px;
          position: relative;
          margin-top: 2px;

          .product-image-container {
            display: block;
          }

          img {
            width: 100% !important;
            height: auto !important;
          }

          .counter-number {
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #2c9cf2;
            font-size: 1.2rem;
            line-height: .167;
            font-weight: 600;
            color: @color-white;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
          }
        }
      }

      .product-item-details {
        padding: 2px 25px 0 81px;
        position: relative;
        @media all and (max-width: 767px) {
          padding-left: 76px;
          position: relative;
        }

        .product {
          &.options {
            display: none;
          }
        }

        .product-item-pricing {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          font-size: 8px;
          line-height: 11px;
          color: #4a4a4a;

          .price-container {
            padding-right: 1px;
          }

          .material {
            padding-left: 0;
            padding-top: 3px;
            &:not(:empty) {
              content: '/ ';
            }
            @media all and (max-width: 767px) {
              padding-top: 1px;
            }
          }
        }

        .price {
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
          color: @color-black;
        }

        .price-including-tax {
          margin: 0;
          line-height: 15px;
        }

        .details-qty {
          margin-top: 5px;
          @media all and (max-width: 767px) {
            margin-top: 10px;
          }

          &::after {
            content: '';
            clear: both;
            display: block;
          }
          > * {
            float: left;
          }

          .label {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 15px 0 0;
            &::after {
              display: none;
            }
          }

          .qty-btn {
            background: none;
            box-shadow: none;
            border: 0;
            transition: opacity .3s;
            height: 44px;
            font-size: 1.2rem;
            padding-left: 17px;
            padding-right: 17px;

            @media all and (min-width: 768px) {
              padding-left: 13px;
              padding-right: 13px;
            }

            &:hover {
              opacity: .5;
            }
          }

          .item-qty {
            margin: 0;
            width: 51px;
            height: 44px;
            border-radius: 10px;
            border-color: #d2d1d1;
            font-size: 1.8rem;
            color: #4a4a4a;
          }
        }
      }
    }
  }
}

/* Search */
.active-sticky-header {
  padding-top: 115px;
  .block-search {
    .control {
      @media all and (max-width: 767px) {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        margin: 0;
        padding: 0 24px 0 22px;
        box-sizing: border-box;
        input {
          position: absolute;
        }
      }
    }

    .label {
      @media all and (max-width: 767px) {
        &.active {
          + .control {
            input {
              height: 44px;
              margin: 10px 0;
              padding: 0 12px;
              border-radius: 0;
              border: 0.5px solid #01172f;
              box-shadow: 0 2px 34px 16px rgba(0, 0, 0, 0.08);
              font-size: 1.2rem;
              line-height: 1.5;
              position: relative;
              left: auto;
              z-index: 1001;
            }
          }
        }
      }
    }
  }
}

body:not(.active-sticky-header) {
  .block-search {
    @media all and (max-width: 767px) {
      .label {
        display: none;
      }
      .control {
        padding: 0 15px 0 16px;
        input {
          height: 30px;
          position: static;
          margin: 5px 0 7px;
          padding: 2px 50px 0 10px;
          border: 0;
          border-radius: 0;
          font-size: 10px;
          color: #4a4a4a;
          box-shadow: none;
        }
      }
      .action {
        &.search {
          display: inline-block;
          background: none;
          -moz-box-sizing: content-box;
          border: 0;
          box-shadow: none;
          line-height: inherit;
          margin: 0;
          padding: 0;
          text-decoration: none;
          text-shadow: none;
          font-weight: 400;
          position: absolute;
          right: 15px;
          top: auto;
          bottom: 7px;
          width: 44px;
          height: 30px;
          z-index: 1;
          &::before {
            font-size: 1.75rem;
          }

          > span {
            display: none;
          }
        }
      }
    }
  }

  @media all and (max-width: 767px) {
    .customer-welcome,
    .customer-register {
      display: block;
      position: relative;
      .customer-menu {
        display: none;
      }
      &.active {
        .customer-menu {
          display: block;
        }
      }

      .action {
        &.switch {
          background: none;
          -moz-box-sizing: content-box;
          border: 0;
          box-shadow: none;
          line-height: inherit;
          margin: 0;
          padding: 0;
          text-decoration: none;
          text-shadow: none;
          font-weight: 400;
          color: @color-white;
          &::after {
            display: none;
          }

          > span {
            display: none;
          }
        }
      }
    }
  }
}

.block-search {
  .control {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .label {
    font-size: 1.8rem;
    line-height: 1.42;
    cursor: pointer;
    min-width: 44px;
    height: 44px;
    padding: 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    box-sizing: border-box;

    &::before {
      display: none;
    }

    &:hover {
      background: @color-white;
      color: #01172f;
    }
  }

  .block-content {
    margin-left: -64px;
  }

  @media all and (min-width: 768px) {
    width: auto;
    padding: 0 0 8px;
    float: none;
    display: table;
    min-width: 300px;
    &::after {
      content: '. .';
      display: block;
      font-size: 1px;
      line-height: 0;
      word-spacing: 9999px;
    }

    .block-content {
      position: relative;
      float: right;
      width: 100%;
      max-width: 500px;

      input {
        font-size: 1.4rem;
        line-height: 1.33;
        color: #4a4a4a;
        height: 40px;
        border: 1px solid #273271;
        border-radius: 4px;
        margin: -1px 0;
        padding: 0 46px 0 15px;
        box-shadow: none;
      }
    }
  }

  .action {
    &.search {
      right: 0;
      width: 46px;
      height: 100%;
      transition: opacity .3s;

      &:hover {
        opacity: .7;

        &::before {
          color: #273271;
        }
      }

      &::before {
        color: #273271;
        content: "\f002";
        font-family: "Font Awesome 5 Free Solid";
      }
    }

    &.search[disabled] {
      opacity: 1;
    }
  }

  @media all and (max-width: 639px) {
    margin: 0;
  }
}

.mst-searchautocomplete__autocomplete {
  margin: 1px 0 0;
  border-radius: 0;
  border: 0;
  overflow: hidden;
  color: @color-black;
  box-shadow: 0 2px 34px 16px rgba(0, 0, 0, 0.08);
  @media all and (min-width: 768px) {
    margin: -1px 0 0;
    border-radius: 8px;
    width: 704px !important;
    max-width: 50vw;
    left: 50% !important;
    transform: translate(-50%);
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
  }

  &._active {
    @media all and (max-width: 767px) {
      overflow: scroll;
      max-height: ~"calc(100vh - 96px)";
    }

    .active-sticky-header & {
      @media all and (max-width: 767px) {
        max-height: ~"calc(100vh - 120px)";
      }
    }
  }

  .mst-searchautocomplete__wrapper {
    margin: -1px 0 0;
  }

  .mst-searchautocomplete__index-title {
    background: #01172f;
    text-align: right;
    color: @color-white;
    font-weight: 600;
    text-transform: none;
    font-size: 1.4rem;
    line-height: 1.46;
    padding: 3px 10px;
    @media all and (min-width: 768px) {
      background: none;
      font-size: 1.6rem;
      line-height: 22px;
      font-weight: 600;
      color: @color-black;
      padding: 11px 22px;
      border-bottom: 1px solid #979797;
      border-top: 1px solid #979797;
      text-transform: uppercase;
    }
  }

  ul {
    padding: 5px 0 2px;
    @media all and (min-width: 768px) {
      padding: 6px 0;
    }

    li {
      margin: 0;
      padding: 2px 10px 3px 12px;
      @media all and (min-width: 768px) {
        padding: 5px 22px 5px 20px;
      }

      a.title {
        color: @color-black;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 400;
      }
    }
  }

  .magento_catalog_product {
    ul {
      padding: 8px 0 7px;

      @media all and (min-width: 768px) {
        padding: 5px 0;
      }

      li {
        border: 0;
        @media all and (min-width: 768px) {
          padding: 5px 40px 5px 41px;
        }
      }
    }
  }

  .mst-searchautocomplete__show-all {
    background: none;
    font-weight: 600;
    a {
      color: @color-black;
      font-size: 1.6rem;
      line-height: 22px;
      border-top: 1px solid #979797;
      padding: 11px 20px 7px;
    }
  }
}

.mst-searchautocomplete__close {
  display: none !important;
}

.mst-searchautocomplete__highlight {
  color: @color-black;
}

.mst-searchautocomplete__item {
  &.magento_catalog_product {
    align-items: normal;
    img {
      width: 100px;
      max-width: 100px;
      height: auto;
      max-height: 100px;
      flex-shrink: 0;
      margin-right: 19px;
    }

    .title {
      font-size: 1.2rem;
      line-height: 1.42;
      margin: 0 0 9px;
      @media all and (min-width: 768px) {
        font-size: 1.4rem;
        line-height: 1.43;
        font-weight: 600;
        color: @color-black;
        margin: 0 0 8px;
        text-transform: uppercase;
      }

      a {
        color: #2c9cf2;
        @media all and (min-width: 768px) {
          color: @color-black;
        }

        .mst-searchautocomplete__highlight {
          color: #2c9cf2;
          @media all and (min-width: 768px) {
            color: @color-black;
          }
        }
      }
    }

    .description {
      height: auto;
      color: @color-black;
      margin: 0 0 10px;
    }

    .store {
      .price {
        margin-left: 0;
        text-align: right;
        font-size: 1.4rem;
        line-height: 17px;
        @media all and (min-width: 768px) {
          text-align: left;
        }
      }
    }
  }
}

/* Navigation */

.nav-toggle {
  top: 0;
  left: 0;
  padding: 0 11px;
  min-width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  box-sizing: border-box;
  z-index: 1002;
  @media all and (min-width: 768px) {
    display: none;
  }

  &::before {
    color: @color-white;
    font-size: 18px;
    content: "\f0c9";
    font-family: "Font Awesome 5 Free Solid";
    transition: opacity .3s;
  }

  &:hover {
    background: @color-white;

    &::before {
      color: #01172f;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .nav-open {
    .page-wrapper {
      left: ~"calc(100% - 65px)";
    }

    .nav-sections {
      z-index: 1003;
    }

    .nav-toggle {
      &::after {
        background: none;
      }
    }

    .nav-sections {
      width: ~"calc(100% - 65px)";
      background: @color-white;
      box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.75);
    }
  }

  .nav-sections-item-title {
    background: none;
    border: 0;
    height: auto;
    width: 25%;
    padding: 0;
    font-size: 1.8rem;

    .nav-sections-item-switch {
      color: #01172f;
      display: flex;
      height: 59px;
      justify-content: center;
      align-items: center;
      padding: 8px 0 0;
      box-sizing: border-box;
      .fa-phone {
        font-size: 2.2rem;
      }

      .fa-planet {
        font-size: 2.6rem;
      }
    }

    &.active {
      background: none;
      box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.3);
      .nav-sections-item-switch {
        background: @color-white;
        position: relative;
        z-index: 1;
      }
    }
  }

  .nav-sections-item-content {
    box-shadow: 0 -6px 10px -6px rgba(50, 50, 50, 0.3);
    margin-top: 59px;
    background: @color-white;
    padding: 0;

    .phone {
      border-bottom: 1px solid @color-black;
      a {
        color: #01172f;
        display: block;
        font-weight: bold;
        padding: 11px 13px 12px;
        letter-spacing: 0.5px;
        border: 0;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &,
    > div.links-container,
    > div {
      > ul {
        margin: 0;
        padding: 0;
        color: #01172f;
        li {
          margin: 0;
          border-bottom: 1px solid @color-black;
          strong,
          a {
            display: block;
            font-weight: bold;
            padding: 11px 13px 12px;
            letter-spacing: 0.5px;
            color: #01172f;
            border: 0;
            &:hover {
              text-decoration: none;
              border: 0;
              background: none;
              color: #01172f;
            }
          }
        }
      }
    }

    .navigation {
      padding: 0;
      background: none;
      .level0 {
        border: 0;
        border-bottom: 1px solid @color-black;
        font-size: 1.4rem;
        line-height: 1.43;
        > .level-top {
          color: #01172f;
          padding: 11px 40px 12px 13px;
        }

        &:last-child {
          border-bottom: 1px solid @color-black;
        }
      }

      .parent {
        .level-top {
          &::after {
            content: '\f105';
            font: 1.8rem 'Font Awesome 5 Free Solid';
            right: 21px;
            top: 12px;
          }

          &.ui-state-active {
            &::after {
              content: '\f107';
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .nav-sections-item-content {
    position: relative;
  }

  .nav-sections {
    margin-bottom: 0;
    background: none;
  }

  .navigation {
    background: none;
    text-align: center;

    ul {
      padding: 0 8px;
      display: flex;
      justify-content: center;
    }

    .level0 {
      margin: 0 10px 0 0;
      width: 174px;
      > .level-top {
        color: @color-white;
        text-transform: uppercase;
        line-height: 1.5;
        transition: all .3s;
        padding: 9px 10px 8px;
        display: block;
        &:hover,
        &.ui-state-focus,
        &.ui-state-active {
          color: #01172f;
          background: @color-white;
        }
      }

      &.active {
        > .level-top {
          border: 0;
          color: #01172f;
          background: @color-white;
        }
      }

      &.parent {
        > .level-top {
          display: flex;
          justify-content: center;
          padding-right: 10px;
          > .ui-menu-icon {
            position: static;
            order: 1;
            margin: 0 0 -1px;
            padding: 0 0 0 5px;
            &::after {
              content: "\f107";
              font-family: "Font Awesome 5 Free Solid";
            }
          }
        }
      }
      .submenu {
        text-align: left;
        li.parent {
          > a {
            > .ui-menu-icon {
              &::after {
                content: "\f105";
                font-family: "Font Awesome 5 Free Solid";
              }
            }
          }
        }
      }
    }
  }
}

/* Mega Menu */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .ub-mega-menu-wrapper {
    .ub-mega-menu {
      padding: 0;
      ul.level0 {
        padding: 0 8px;
        display: flex;
        justify-content: center;
        position: static;
        > li.mega {
          margin: 0 10px 0 0;
          width: 174px;
          text-align: center;
          &:last-child {
            margin-right: 0;
          }

          > a.mega {
            padding: 9px 10px 8px;
            line-height: 1.5;
            transition: all .3s;
            color: @color-white;
            &:focus,
            &:hover,
            &:active {
              background: @color-white;
              color: #01172f;
            }

            > span.menu-title {
              padding: 0;
              background: none;
            }
          }
        }
      }
    }
    .child-content {
      top: 37px;
      border: 0;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

















