@layout__max-width: 100%;

/* Home Page Main Title */
.home-main-title {
  padding: 25px 20px 28px 35px;
  @media all and (max-width: 767px) {
    padding: 15px 20px 17px;
  }

  .page-title {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.32;
    @media all and (max-width: 767px) {
      font-size: 2.8rem;
    }
  }
}

/* Main Home Page Block */

.main-info-block {
  display: flex;
  flex-flow: column;
  @media all and (min-width: 768px) {
    .categories-list {
      order: 0;
    }

    .bestseller,
    .account-promo {
      order: 1;
    }

    .store-description {
      order: 2;
    }
  }

  @media all and (max-width: 767px) {
    .categories-list {
      order: 1;
    }

    .account-promo {
      order: 2;
    }

    .promise {
      order: 3;
    }
  }
}


/* Main Slide Show */
.cms-index-index {
  .page-wrapper {
    > .widget {
      padding: 0;
      margin: 0;
      max-width: none;
    }
  }

  .block-banners {
    .banner-items {
      //&:not(.slick-initialized) {
      //  min-height: 100px;
      //  background: #fff url('@{slick-loader-path}ajax-loader.gif') center center no-repeat;
      //  & * {
      //    display: none;
      //  }
      //}
    }

    .slick-track {
      display: flex;
      .slick-slide {
        height: auto;
        > div {
          height: 100%;
          .banner-item {
            height: 100%;
          }
        }
      }
    }

    .banner-item {
      text-align: center;
      background: #22339a;
      background: -moz-linear-gradient(-25deg, #22339a 0%, #1d3bc7 38%, #1e92cb 100%);
      background: -webkit-linear-gradient(-25deg, #22339a 0%,#1d3bc7 38%,#1e92cb 100%);
      background: linear-gradient(115deg, #22339a 0%,#1d3bc7 38%,#1e92cb 100%);
    }

    .banner-item-content {
      margin: 0 auto;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.375;
      color: #fff;
      @media all and (min-width: 768px) {
        font-size: 2.4rem;
        line-height: 1.375;
      }

      h2 {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        font-size: 2.4rem;
        line-height: 1.375;
        font-weight: 600;
        text-transform: uppercase;
        @media all and (min-width: 768px) {
          padding: 52px 0 40px;
          font-size: 3.6rem;
          line-height: 1.25;
          text-transform: none;
        }
      }

      p {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 20px 11px;
        @media all and (min-width: 768px) {
          padding: 0 20px 30px;
        }
      }

      a {
        color: #fff;
      }

      .btn-subscribe {
        padding: 9px 0 90px;

        @media all and (min-width: 768px) {
          padding: 9px 0 110px;
        }

        a {
          padding: 11px 30px;
          display: inline-block;
          vertical-align: top;
          border: 2px solid #fff;
          border-radius: 20px;
          font-size: 1.4rem;
          line-height: 1.35;
          min-width: 168px;
          transition: all .3s;
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
            background: #fff;
            color: #01172f;
          }
        }
      }
    }
  }
}

/* Categories List */
.page-main {
  .categories-list {
    margin: 0 -9999px;
    padding: 29px 10017px 14px;

    @media all and (min-width: 768px) {
      padding: 90px 9999px 51px;
      background: @color-white-smoke;
    }

    .block-title {
      margin: 0 0 10px;
      padding: 0 21px 0 0;
      overflow: hidden;
      @media all and (max-width: 767px) {
        margin: 0 0 14px;
        text-align: center;
      }

      strong {
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.38;
        font-weight: 600;
        color: @color-black;
        float: left;
        vertical-align: top;
        @media all and (min-width: 768px) {
          font-size: 2.4rem;
          line-height: 1.38;
          text-transform: uppercase;
        }

        @media all and (max-width: 767px) {
          min-height: 33px;
        }
      }
    }

    .categories-grid {
      position: relative;

      .categories-items:not(.slick-initialized) {
        width: 99999px;
        overflow: hidden;
        margin: 0 0 0 -10px;

        li {
          float: left;
          padding: 0 10px;
          width: ~"calc(20vw - 8px)";
          max-width: 266px;
          box-sizing: border-box;
          &:nth-child(n+6) {
            display: none;
          }
        }
      }

      .slick-slider {
        position: static;
        overflow: hidden;
      }
    }

    .slick-list {
      margin: 0 -7px;
      @media all and (min-width: 768px) {
        margin: 0 -10px;
      }

      .slick-slide {
        padding: 0 7px 10px;
        @media all and (min-width: 768px) {
          padding: 0 10px 10px;
        }

        @media all and (max-width: 767px) {
          .category-item {
            padding: 0 0 3px;
          }
        }

        img {
          margin: 0 0 4px;
          width: 100%;
          max-width: none;
          @media all and (min-width: 768px) {
            margin: 0 0 9px;
          }
        }

        a {
          &:hover {
            text-decoration: none;
            strong {
              text-decoration: underline;
            }
          }
        }
      }

      strong {
        display: block;
        color: @color-black;
        font-size: 1.2rem;
        line-height: 1.43;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        @media all and (min-width: 768px) {
          font-size: 1.4rem;
          line-height: 1.43;
          letter-spacing: 0.5px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: left;
        }
      }
    }

    .slick-prev,
    .slick-next {
      top: 50%;
      margin: -32px 0 0;
      @media all and (max-width: 767px) {
        margin: -24px 0 0;
        color: @color-black;
      }
      &::before {
        font-size: 2rem;
        @media all and (min-width: 768px) {
          font-size: 3rem;
        }
      }
    }

    .slick-prev {
      @media all and (max-width: 767px) {
        left: -31px;
      }
    }

    .slick-next {
      @media all and (max-width: 767px) {
        right: -31px;
      }
    }
  }
}

/* Product List */

.page-main {
  .bestseller,
  .onsale {
    margin: 0 -9999px -14px;
    padding: 30px 9999px 25px;
    background: @color-white-smoke;
    @media all and (min-width: 768px) {
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 22px;
    }

    .product-items {
      &:not(.slick-initialized) {
        > * {
          display: none !important;
        }
      }
    }
  }
}

.bestseller,
.onsale {
  .slick-prev,
  .slick-next {
    @media all and (max-width: 767px) {
      display: none !important;
    }
  }

  .block-title {
    margin: 0 0 10px;
    @media all and (max-width: 768px) {
      margin: 0 38px 14px 0;
      text-align: center;
    }

    strong {
      text-transform: uppercase;
      margin: 0;
      font-size: 1.6rem;
      line-height: 1.38;
      font-weight: 600;
      color: @color-black;
      display: inline-block;
      vertical-align: top;
      @media all and (min-width: 768px) {
        font-size: 2.4rem;
        line-height: 1.38;
        font-weight: 600;
      }
    }
  }

  .products {
    margin: 0;
  }

  .slick-list {
    overflow: visible;
    margin: 0 35px 0 -5px;
    @media all and (min-width: 768px) {
      margin: 0 -10px;
    }

    .product-item {
      padding: 0 5px;
      @media all and (min-width: 768px) {
        padding: 0 10px;
      }
    }
  }

  .slick-slide {
    opacity: .3;
    transition: all .5s;
    @media all and (min-width: 768px) {
      visibility: hidden;
      opacity: 0;
      &.slick-active {
        visibility: visible;
      }
    }

    &.slick-active {
      opacity: 1;
    }
  }

  @media all and (max-width: 767px) {
    .slick-slide {
      > div {
        > .product-item {
          position: relative;
          z-index: 1;
        }

        + div {
          padding: 15px 0 0;
          > .product-item {
            position: relative;
            z-index: 0;
          }
        }
      }
    }
  }
}

  /* Stores block */
.stores-block {
  padding: 21px 9px;
  text-align: center;
  @media all and (min-width: 768px) {
    background: @color-white-smoke;
    margin: 0 -9999px;
    padding: 59px 9999px;
  }

  @media all and (max-width: 479px) {
    padding: 21px 9px 14px;
  }

  h2 {
    margin: 0 0 13px;
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 600;
    @media all and (min-width: 768px) {
      margin: 0 0 44px;
      font-size: 3.6rem;
      line-height: 1.22;
    }
  }

  .stores-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
    padding: 0;
    > li {
      width: 50%;
      margin: 0;
      padding: 0 10px 5px;
      list-style: none;
      text-align: left;
      box-sizing: border-box;
      @media all and (min-width: 480px) {
        padding: 0 10px 20px;
        width: 33.333333%;
      }

      @media all and (min-width: 620px) {
        width: 25%;
      }

      @media all and (min-width: 768px) {
        width: 20%;
      }

      @media all and (min-width: 960px) {
        width: 16.666667%;
      }

      @media all and (min-width: 1200px) {
        width: 14.285714%;
      }

      .list-holder {
        background: #fff;
        overflow: hidden;
        border-radius: 8px;
        height: 100%;
        display: flex;
        flex-flow: column;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
        @media all and (min-width: 768px) {
          box-shadow: 0 2px 34px 16px rgba(0, 0, 0, 0.08);
        }
      }

      @media all and (max-width: 479px) {
        &.active {
          margin: 0 0 -9999px;
          position: relative;
          z-index: 2;
          align-self: baseline;
          .list-holder {
            .stores-content {
              padding-bottom: 64px;

              ul {
                li {
                  padding-bottom: 14px;
                  margin-top: 12px;

                  &:nth-child(n+3) {
                    display: block;
                  }
                }
              }

              .btn-select {
                display: block;
                bottom: 16px;
                padding: 13px 20px;
              }
            }
          }
        }
      }

      h3 {
        margin: 0;
        padding: 10px 40px 6px 10px;
        position: relative;
        z-index: 1;
        background: #fff;
        font-size: 1.2rem;
        line-height: 1.25;
        font-weight: normal;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &::before {
          content: '\f107';
          font: 1.8rem "Font Awesome 5 Free Solid";
          position: absolute;
          right: 17px;
          top: 7px;
          @media all and (min-width: 480px) {
            content: '\e800';
            font-size: 2.6rem;
            font-family: "Icon-Font";
            line-height: 1;
            right: 9px;
            top: 6px;
          }
        }

        &.no-icon {
          padding-right: 13px;
          &::before {
            display: none;
          }
        }

        @media all and (min-width: 480px) {
          padding: 8px 40px 8px 13px;
          font-size: 1.6rem;
          line-height: 1.25;
          cursor: default;
          &:hover {
            text-decoration: none;
          }
        }
      }

      .stores-content {
        display: block;
        background: none;
        padding: 5px 10px 6px 12px;
        box-sizing: border-box;
        position: relative;
        flex-grow: 1;
        font-size: 1rem;
        line-height: 1.3;
        @media all and (min-width: 480px) {
          padding: 11px 0 50px 12px;
          font-size: 1.2rem;
          line-height: 1.5;
          min-height: 178px;
        }

        &:hover {
          text-decoration: none;
        }

        .image-block {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-size: cover;
          transition: all .3s;
        }

        &:hover {
          .image-block {
            filter: blur(1px);
            transform: scale(1.05);
          }
        }

        @media all and (min-width: 480px) {
          &::before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: -999px 0 0;
            padding: 999px 0 0;
          }
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
          transition: all .3s;
        }

        &:hover {
          &::after {
            background: transparent;
          }
        }

        ul {
          color: #fff;
          margin: 0;
          padding: 0;
          list-style: none;
          position: relative;
          z-index: 1;

          li {
            margin: 0;
            padding: 0 0 0 8px;
            position: relative;

            &:nth-child(n + 3) {
              display: none;
            }

            @media all and (min-width: 480px) {
              padding: 0 0 0 24px;
              &:nth-child(n + 3) {
                display: block;
              }
            }

            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 5px;
              width: 2px;
              height: 2px;
              border-radius: 50%;
              background: #fff;
              @media all and (min-width: 480px) {
                top: 8px;
              }
            }
          }
        }

        .btn-select {
          position: absolute;
          left: 50%;
          bottom: 10px;
          display: none;
          width: 100%;
          max-width: 88%;
          padding: 6px 27px;
          box-sizing: border-box;
          transform: translateX(-50%);
          z-index: 1;
          color: #fff;
          background: @color-black;
          border-radius: 35px;
          font-size: 1.2rem;
          line-height: 1.5;
          font-weight: 600;
          text-align: center;
          @media all and (min-width: 480px) {
            display: block;
            width: auto;
          }
        }
      }
    }
  }
}

/* Account promo */
.account-promo {
  padding: 0 0 60px;
  text-align: center;
  @media all and (min-width: 768px) {
    padding: 36px 4.2% 50px;
  }

  h2 {
    margin: 0 0 22px;
    font-size: 2.4rem;
    line-height: 1.38;
    font-weight: 600;
    @media all and (min-width: 768px) {
      margin: 0 0 55px;
      font-size: 3.6rem;
      line-height: 1.22;
    }
  }

  .account-promo-list {
    margin: 0;
    padding: 0 0 42px;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    font-size: 1rem;
    line-height: 1.4;
    @media all and (min-width: 768px) {
      padding: 0 0 27px;
      font-size: 1.2rem;
      line-height: 1.5;
    }

    li {
      margin: 0;
      padding: 0 9px 14px;
      width: 50%;
      flex-grow: 1;
      box-sizing: border-box;
      @media all and (min-width: 768px) {
        padding: 0 2.3% 25px;
        width: 25%;
      }

      .fas {
        padding: 0 0 5px;
        font-size: 40px;
        line-height: 50px;
        color: #208ccc;
        @media all and (min-width: 768px) {
          padding: 0 7px 10px 0;
        }
      }

      h3 {
        margin: 0 0 6px;
        font-size: 1.4rem;
        line-height: 1.35;
        font-weight: 600;
        @media all and (min-width: 768px) {
          margin: 0 0 11px;
        }
      }

      p {
        margin: 0 0 10px;
      }
    }
  }
  .btn-register {
    min-width: 166px;
  }
}

body:not(.general),
.industry-page {
  .block-search {
    .block-content {
      input {
        border-color: @color-white;
        background: @color-white;
        border-radius: 5px;
      }
    }

    .action {
      &.search {
        &::before {
          color: @color-black;
        }
      }
    }
  }

  .page-main {
    .categories-list {
      background: @color-white-smoke;
      @media all and (min-width: 768px) {
        padding-top: 46px;
        padding-bottom: 19px;
      }

      .block-title {
        @media all and (max-width: 767px) {
          margin: 0 0 18px;
          padding: 0 19px 0 0;
        }
        strong {
          text-transform: uppercase;
        }
      }

      .slick-list {
        @media all and (max-width: 767px) {
          margin: 0 49px 0 0;
          overflow: visible;
        }

        .slick-slide {
          @media all and (max-width: 767px) {
            opacity: .8;
            transition: opacity .3s;
            &.slick-active {
              opacity: 1;
            }

            .category-item {
              padding: 0 0 12px;
            }
          }

          img {
            @media all and (max-width: 767px) {
              margin: 0 0 6px;
            }
          }
        }

        strong {
          @media all and (max-width: 767px) {
            padding: 0 5px;
            text-transform: none;
          }
        }
      }
    }

    .bestseller {
      padding-top: 26px;
      order: 1;
      @media all and (min-width: 768px) {
        padding-top: 16px;
      }

      + .bestseller {
        padding-top: 15px;
      }

      .block-title {
        @media all and (max-width: 767px) {
          margin: 0 0 22px;
        }
      }
    }
  }

  .account-promo {
    padding-bottom: 16px;
    padding-top: 25px;
    @media all and (min-width: 768px) {
      padding-bottom: 33px;
      padding-top: 34px;
    }

    h2 {
      margin: 0 0 34px;
      @media all and (min-width: 768px) {
        margin: 0 0 37px;
      }
    }

    .account-promo-list {
      max-width: 1138px;
      margin: 0 auto;
      padding: 0 0 10px;
      @media all and (max-width: 767px) {
        display: inline-block;
        vertical-align: top;
        padding: 0 0 58px;
      }
      li {
        @media all and (max-width: 767px) {
          padding: 4px 0 7px 40px;
          position: relative;
          width: auto;
          text-align: left;
        }
        .fas {
          @media all and (min-width: 768px) {
            padding: 0 7px 7px 0;
          }

          @media all and (max-width: 767px) {
            position: absolute;
            left: 0;
            top: 0;
            padding: 0;
            font-size: 2rem;
            line-height: 1.34;
          }
        }

        h3 {
          font-size: 1.8rem;
          line-height: 1.34;

          @media all and (max-width: 767px) {
            font-size: 1.2rem;
            line-height: 1.67;
            margin: 0;
          }
        }

        p {
          display: none;
        }
      }
    }
    a.action,
    .action {
      &.primary {
        padding: 18px 30px 17px;

        @media all and (min-width: 768px) {
          padding: 12px 30px 12px;
        }
      }
    }
  }

  .cms-block {
    &.promise {
      margin-top: 98px;
      @media all and (max-width: 767px) {
        margin-top: 32px;
      }
    }
  }

  .page-main {
    .categories-list {
      @media all and (max-width: 767px) {
        margin: 0 -10px;
        padding: 35px 14px 14px;
        .block-content {
          margin: 0 -14px;
        }

        .slick-arrow {
          display: none !important;
        }
      }
    }
  }

  @media all and (max-width: 767px) {
    .main-info-block {
      .categories-list {
        order: unset;
      }

      .account-promo {
        order: 1;
      }

      .promise {
        order: 3;
      }
    }
  }

  .store-description {
    @media all and (max-width: 767px) {
      order: 1;
    }
  }
}

















