/* Variables */
@light-blue-color: #2c9cf2;
@gray-tab-border:  #e0e0e0;

#payment-portal-form {
  .field-holder {
    @media all and (min-width: 768px) {
      margin: 0 -7px;
      display: flex;
      flex-wrap: wrap;

      .field {
        padding: 0 7px;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &.forgot-number,
        &.remember-number {
          width: 100%;
        }
      }
    }

    .label {
      font-weight: 600;
      margin: 0 0 8px;
      display: inline-block;
      &::after {
        content: '*';
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-left: 0;
      }
    }

    .field {
      margin: 0 0 10px;
      &.choice {
        .label {
          display: inline;
          font-weight: normal;
          margin: 0;
        }
      }
    }
  }
}

.delete-row {
  vertical-align: middle;
  span {
    cursor: pointer;
    color: @cart-links-color;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    &:hover {
      opacity: .5;
    }
  }
}

.payment-details-table {
  thead,
  tfoot,
  tbody {
    th,
    td {
      width: 33.333333%;
    }
  }
}

.payment-details-table {
  @media all and (max-width: 767px) {
    thead,
    tfoot,
    tbody {
      th,
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  thead {
    th {
      padding-top: 0;
      padding-bottom: 8px;
      font-weight: 600;
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  tfoot,
  tbody {
    td {
      padding-top: 0;
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      .add-row {
        width: 100%;
        padding: 9px 8px 8px;
        font-size: 1rem;
        line-height: 13px;
        font-weight: 600;
      }
    }
  }
}





