/* Variables */
@light-blue-color: #2c9cf2;
@gray-tab-border:  #e0e0e0;

/* Product */
.catalog-product-view {
  .page-main {
    max-width: 1280px;
    padding-bottom: 41px;
  }

  .page-main-description {
    max-width: 1220px;
    align-self: center;
    margin-right: 20px;
  }
  
  .page-wrapper {
    > .breadcrumbs {
      padding-bottom: 39px;
    }
  }

  &.page-layout-1column {
    .product-info-main {
      @media all and (min-width: 768px) {
        width: 40.6%;
      }
    }

    .product {
      &.media {
        margin-bottom: 51px;
        @media all and (min-width: 768px) {
          width: 47.017%;
          margin-left: 2.4%;
        }

        @media all and (max-width: 767px) {
          margin: 0;
          padding: 20px 0 0;
        }

        .fotorama__nav-wrap {
          @media all and (max-width: 767px) {
            display: none !important;
          }
        }
      }
    }
  }

  .fotorama__stage {
    margin: 0 0 12px;
    @media all and (max-width: 767px) {
      margin: 0 0 13px;
    }
  }

  .fotorama__nav--thumbs {
    .fotorama__nav__frame {
      padding: 0 5px 0 0 !important;
    }
  }

  .fotorama__thumb-border {
    display: none;
  }

  .fotorama__thumb {
    cursor: pointer;
  }

  .table-wrapper {
    .table {
      &:not(.totals) {
        &:not(.cart) {
          &:not(.table-comparison) {
            > tbody {
              > tr {
                td[data-th] {
                  &::before {
                    padding-right: 3px;
                    content: attr(data-th) ': ';
                    display: inline-block;
                    color: @color-black;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .product {
    &.info {
      &.detailed {
        padding: 0 0 22px;
        border-bottom: 2px solid @gray-tab-border;
        @media all and (max-width: 767px) {
          padding: 0 0 6px;
          margin-bottom: 51px;
        }

        .additional-attributes {
          line-height: 1.64;
          padding: 0 0 4px;

          > tbody {
            > tr {
              > th {
                display: none;
              }

              > td {
                padding: 0 !important;
              }
            }
          }
        }
      }
    }
  }

  .review-ratings {
    float: none;
    max-width: none;
    @media all and (max-width: 767px) {
      margin-bottom: 9px;
    }
  }

  .review-col {
    float: left;
    padding: 1px 20px 0 0;
    min-width: 24%;
    @media all and (max-width: 767px) {
      float: none;
      padding: 0;
    }

    .review-title {
      margin: 0 0 9px;
      font-size: 1.4rem;
      line-height: 1.36;
      font-weight: 600;
      @media all and (max-width: 767px) {
        margin: 0 0 10px;
      }
    }
  }

  .review-content-col {
    overflow: hidden;
  }

  .review-item {
    margin: 0 0 27px;
    padding: 2px 7px 30px;
    border-bottom: 2px solid @gray-tab-border;
    @media all and (max-width: 767px) {
      padding: 2px 0 30px;
    }
    &:last-child {
      border-bottom: 0;
      margin: 0;
    }
  }

  .review-list {
    .rating-summary {
      .rating-result {
        &::before {
          font-size: 1.4rem;
          letter-spacing: 9.5px;
        }
        > span {
          &::before {
            font-size: 1.4rem;
            letter-spacing: 9.5px;
          }
        }
      }
    }
  }

  .review-content {
    margin-bottom: 10px;
  }

  .review-details {
    font-size: 1rem;
    line-height: 2;
    p {
      margin: 0;
    }
  }

  .review-ratings {
    .rating-label {
      padding: 1px 17px 0 0;
    }
  }

  #product_info_upsell,
  #catalog_product_related {
    margin: 0 0 100px;
    @media all and (max-width: 767px) {
      margin: 0 0 27px;
      .block-content {
        margin: 0 36px 0 -3px;
      }
    }

    .title {
      padding: 0;
      @media all and (max-width: 767px) {
        text-align: center;
        margin-bottom: 14px;
      }

      strong {
        margin: 0;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 33px;
        text-transform: uppercase;
        @media all and (max-width: 767px) {
          font-size: 1.6rem;
          line-height: 22px;
        }
      }
    }

    .block-content {
      display: block !important;
    }

    .slick-next {
      right: -45px;
    }

    .slick-prev {
      left: -35px;
    }

    .products {
      margin: 0;
      ol,
      ul {
        &:not(.slick-initialized) {
          display: none;
        }
      }
    }

    .slick-list {
      overflow: visible;
    }

    .product-item {
      width: 100%;
      padding: 0 10px;
      @media all and (max-width: 767px) {
        padding: 0 2px;
      }
    }

    .slick-slide {
      visibility: hidden;
      opacity: 0;
      transition: all .5s;
      @media all and (max-width: 767px) {
        opacity: .5;
      }

      &.slick-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .product-addto-links {
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
    @media all and (max-width: 767px) {
      justify-content: center;
    }

    .towishlist {
      order: 1;
    }

    .block-requisition-list {
      order: 2;
      margin: 0 16px 0 0;
    }

    .tocompare {
      order: 3;
    }

    .mailto {
      order: 4;
    }

    @media all and (max-width: 767px) {
      .towishlist {
        order: 1;
      }

      .tocompare {
        order: 2;
      }

      .mailto {
        order: 3;
      }

      .block-requisition-list {
        order: 4;
      }
    }
  }

  .swatch-attribute {
    padding: 0 0 7px;
    .swatch-attribute-label {
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 9px;
      display: inline-block;
    }

    .swatch-option {
      &.text {
        margin: 0 9px 9px 0;
        padding: 14px 8px;
        width: auto;
        min-width: 46px;
        &:not(.disabled) {
          &:hover {
            outline: none;
          }
        }
      }

      &.color {
        min-width: 46px;
        height: 46px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 0;
        outline: none;
        -webkit-transition: opacity .3s;
        -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
        -o-transition: opacity .3s;
        transition: opacity .3s;
        &.selected {
          opacity: .5;
        }
        &:not(.disabled) {
          &:hover {
            outline: none;
            border: 0;
            opacity: .5;
          }
        }
      }
    }
  }

  .swatch-opt {
    margin: 20px 0 4px;
  }
}

.social-button {
  .requisition-list-action {
    padding: 0 0 0 47px;
    vertical-align: top;
  }

  .requisition-list-button {
    color: @color-black;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;

    &:hover {
      color: @light-blue-color;
    }

    &::before {
      content: '\f0cb';
      font: 1.4rem 'Font Awesome 5 Free Solid';
      margin: 0;
      position: absolute;
      left: 7px;
      top: 10px;
      color: #fff;
    }

    &.action {
      &::after {
        content: "\f107";
        font: .8rem "Font Awesome 5 Free Solid";
        position: absolute;
        left: 22px;
        top: 8px;
        color: #fff;
      }

      &.active {
        &::after {
          content: "\f106";
          font: .8rem "Font Awesome 5 Free Solid";
          color: #fff !important;
        }
      }

      &:hover {
        &::after {
          color: #fff;
        }
      }
    }
  }
}

.requisition-list-action {
  font-size: 1.2rem;
  line-height: 1.67;
  font-weight: 600;

  .items {
    max-width: 196px;
    min-width: 196px;
    left: 3px;
    margin-top: 6px;
    border: 2px solid @light-blue-color;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &::after,
    &::before {
      display: none;
    }

    li {
      padding: 3px 0 3px 24px;
      border-top: 2px solid @light-blue-color;
      &:first-child {
        border: 0;
      }

      &:hover {
        background: none !important;
        color: @light-blue-color;
      }
    }

    .item {
      .action {
        &.new {
          font-weight: inherit;
          &::before {
            content: '\f067';
            margin: -1px 4px 0 -18px;
            font: 1.2rem 'Font Awesome 5 Free Solid';
          }
        }
      }
    }
  }
}

#reviews {
  padding: 0;
  @media all and (max-width: 767px) {
    margin: 6px 0 0;
    padding: 12px 0 25px;
    border-top: 2px solid @gray-tab-border;
    line-height: 1.5;
  }
}

.review-toolbar {
  margin: 0 0 31px;
  border-top: 2px solid @gray-tab-border;
}

.review-form {
  max-width: 399px;
  padding: 0 0 0 7px;
  @media all and (max-width: 767px) {
    padding: 0;
  }
  .fieldset {
    margin: 0 0 1px;

    .field {
      margin: 0 0 28px;

      &.review-field-text {
        padding: 10px 0 0;

        .label {
          margin: 0 0 13px;
        }

        textarea {
          height: 55px;
        }
      }
    }

    .label {
      margin: 0 0 4px;
      font-size: 1.4rem;
      line-height: 19px;
      font-weight: 600;
    }

    .review-field-ratings {
      .label {
        margin: 0 0 10px;
      }
    }

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"] {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
  }

  .action {
    &.submit {
      &.primary {
        width: 289px;
        max-width: 100%;
        padding: 11px 15px;
        font-size: 1.2rem;
        line-height: 1.67;
        background: none;
        text-transform: none;
        color: @color-dark-grey;
        border-color: @color-gray3;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        @media all and (max-width: 767px) {
          width: 100%;
        }

        &:hover {
          background: @color-gray3;
        }
      }
    }
  }
}

.review-form {
  .review-field-rating {
    .label {
      font-weight: normal;
      @media all and (max-width: 767px) {
        margin: 0;
        font-size: 1.2rem;
        line-height: 19px;
        font-weight: 400;
      }
    }

    .control {
      height: 20px;
      margin: 11px 0 0;
    }

    @media all and (max-width: 767px) {
      overflow: hidden;
      .label {
        float: left;
        margin: 0 24px 0 0 !important;
      }

      .control {
        overflow: hidden;
        margin: 1px 0 0;
      }
    }
  }
}

.review-control-vote {
  &::before {
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
    font: 1.4rem/1.25 "Font Awesome 5 Free Solid";
    letter-spacing: 9px;
    height: 17px;
  }

  label {
    &::before {
      color: @color-yellow;
      font: 1.4rem/1.25 "Font Awesome 5 Free Solid";
      letter-spacing: 9px;
      height: 17px;
    }
  }

  .rating-1 {
    &::before {
      content: '\f005';
    }
  }

  .rating-2 {
    &::before {
      content: '\f005' '\f005';
    }
  }

  .rating-3 {
    &::before {
      content: '\f005' '\f005' '\f005';
    }
  }

  .rating-4 {
    &::before {
      content: '\f005' '\f005' '\f005' '\f005';
    }
  }

  .rating-5 {
    &::before {
      content: '\f005' '\f005' '\f005' '\f005' '\f005';
    }
  }
}

.product {
  &.data {
    &.items {
      margin: 0;
      @media all and (max-width: 767px) {
        border: 0;
      }

      &.active {
        > div.item {
          &.content {
            display: block;
          }
        }
      }

      &:first-child {
        > .item {
          &.title {
            > .switch {
              padding-top: 22px !important;
              @media all and (min-width: 768px) {
                padding-top: 18px !important;
              }
            }
          }
        }
      }

      > .item {
        &.title {
          border-top: 2px solid @gray-tab-border;

          > .switch {
            margin: 0;
            padding: 30px 0 10px !important;
            border: 0;
            background: none !important;
            color: @color-black;
            font-size: 2.4rem;
            line-height: 30px;
            font-weight: 600;
            text-transform: uppercase;
            height: auto;
            @media all and (max-width: 767px) {
              padding: 18px 0 10px !important;
            }

            &:hover,
            &:visited,
            &:active {
              color: @color-black;
            }

            &#tab-label-reviews-title {
              padding-top: 22px !important;
            }
          }
        }

        &.content {
          padding: 0 0 21px;
          border: 0;
          font-size: 1.2rem;
          line-height: 1.67;
          font-weight: 400;
          @media all and (max-width: 767px) {
            padding: 0 0 15px;
          }

          .description {
            padding: 0 0 28px;
            @media all and (max-width: 767px) {
              padding: 0;
            }
          }
        }
      }

      &.block-opener {
        > .item {
          &.title {
            border-top: 2px solid @gray-tab-border;

            > .switch {
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              cursor: pointer;
              transition: opacity .3s;
              position: relative;
              &::before {
                content: "\f107";
                position: absolute;
                right: 16px;
                top: 29px;
                font: 1.8rem "Font Awesome 5 Free Solid";
              }

              &:hover {
                opacity: .7;
                background: none;
              }
            }
          }

          &.content {
            display: none;
          }
        }

        &.active {
          > .item {
            &.title {
              > .switch {
                &::before {
                  content: "\f106";
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .product {
    &.data {
      &.items {
        > .item {
          &.title {
            margin: 0;
            float: none;
          }

          &.content {
            float: none;
            margin: 0;
          }
        }
      }
    }
  }
}

#product-review-container {
  margin: -8px 0 0;
  @media all and (max-width: 767px) {
    margin: 0;
  }
}

.product-info-main {
  .page-title-wrapper {
    h1 {
      font-size: 3.6rem;
      line-height: 49px;
      margin: 0 0 20px;

      @media all and (max-width: 767px) {
        font-size: 2.4rem;
        line-height: 1.375;
        margin: 0 0 25px;
      }
    }
  }

  .product-info-stock-sku {
    display: block;
    padding: 0 0 13px;
    text-align: left;
    overflow: hidden;
    @media all and (max-width: 767px) {
      padding: 0 0 14px;
    }

    .sku,
    .stock {
      padding: 0 20px 0 0;
      float: left;
      .value {
        font-weight: 400;
      }
    }

    @media all and (max-width: 767px) {
      .sku {
        padding-right: 0;
      }
    }

    .stock {
      color: @light-blue-color;
      font-weight: 600;
      &::before {
        content: attr(title)':';
      }
    }
  }

  .product {
    &.attribute {
      &.sku {
        .type {
          margin: 0;
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .rating-summary {
    margin: 1px 18px 0 4px;
    @media all and (max-width: 767px) {
      margin-right: 10px;
    }
  }

  .product-info-price {
    margin: 0;
    border: 0;

    .price-box {
      color: @color-black;
      display: flex;
      width: 100%;
      padding: 0;
      .price-container {
        font-size: 2.4rem;
        .price-label {
          display: none;
        }

        > span {
          margin: 0;
        }

        .price {
          font-weight: 400;
          font-size: 2.4rem;
          line-height: 33px;
        }
      }

      .old-price {
        font-size: 2.4rem;

        .price-label {
          display: none;
        }

        .price-wrapper {
          .price {
            font-weight: 400;
            text-decoration: line-through;
          }
        }
      }

      .special-price {
        order: 1;

        .price {
          font-weight: 600;
        }
      }

      .special-price,
      .old-price {
        margin: 0 10px 0 0;
      }
    }
  }

  .old-price {
    color: @color-dark-grey;
    .price-label {
      display: none;
    }
  }

  .product-add-form {
    padding: 0;
    .fieldset {
      margin: 0;
    }
  }

  .fieldset {
    > .field {
      overflow: hidden;
      margin: 0 0 21px;
      padding: 0 0 21px;
      border-bottom: 1px solid @light-border-color;
      max-width: 265px;
      @media all and (max-width: 767px) {
        border-bottom: 0;
        padding: 0;
      }

      &.qty {
        margin-top: 18px;
      }

      .label {
        float: left;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.4;
        margin: 6px 8px 0 0;
        @media all and (max-width: 767px) {
          margin: 11px 1px 0 0;
        }
      }

      .control {
        float: left;

        .qty-btn {
          float: left;
          background: none;
          box-shadow: none;
          border: 0;
          transition: opacity .3s;
          height: 34px;
          font-size: 1.2rem;
          padding: 0 10px;
          @media all and (max-width: 767px) {
            padding: 0 16px;
            height: 44px;
          }
        }

        .input-text {
          float: left;
          width: 38px;
          height: 34px;
          font-size: 1.8rem;
          border-radius: 10px;
          border: 1px solid @color-dark-grey;
          text-align: center;
          padding: 0 6px;
          @media all and (max-width: 767px) {
            width: 54px;
            height: 44px;
          }
        }
      }
    }
  }

  .product-options-bottom,
  .box-tocart {
    margin: 0 0 34px;
    @media all and (max-width: 767px) {
      margin: 0 0 25px;
    }
    .actions {
      overflow: hidden;
    }

    .action {
      &.primary {
        float: left;
        font-size: 1.4rem;
        line-height: 1.43;
        width: 232px;
        margin: 0 10px 10px 0;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 22px;
        text-align: center;
        @media all and (max-width: 767px) {
          margin: 0 0 20px;
          width: 100% !important;
        }
      }

      &.btn-question {
        width: 212px;
        border: 1px solid @swatch-disabled-color;
        background: @color-white;
        color: @color-dark-grey;
        text-transform: none;
        font-size: 1.2rem;
        line-height: 1.67;
        text-align: center;
        padding-top: 11px;
        padding-bottom: 11px;
        border-radius: 20px;
        transition: all .3s;
        @media all and (max-width: 767px) {
          margin: 0 0 20px;
          width: 100% !important;
        }

        &:hover {
          background: @swatch-disabled-color;
        }
      }
    }
  }
}

.product-social-links {
  @media all and (max-width: 767px) {
    margin-bottom: 6px;
  }

  .action {
    &.tocompare,
    &.mailto.friend,
    &.towishlist {
      vertical-align: top;
      text-transform: none;
      letter-spacing: 0;
      color: @color-black;
      font-size: 1.2rem;
      line-height: 1.5;
      font-weight: 400;
      margin: 0 16px 0 0;
      transition: color .3s;
      @media all and (max-width: 767px) {
        margin-bottom: 19px;
      }

      &::before {
        font: 2rem/1 'Font Awesome 5 Free';
        color: @light-blue-color;
        width: auto;
        height: auto;
        padding: 0 1px 0 0;
        margin: 0 14px 0 0;
        vertical-align: top;
      }

      &:hover {
        color: @light-blue-color;
      }
    }

    &.tocompare {
      @media all and (max-width: 639px) {
        display: inline-block;
      }
    }

    &.towishlist {
      &::before {
        content: '\f004';

      }
    }

    &.tocompare {
      &::before {
        content: '\f0c8';
      }
    }

    &.mailto {
      &.friend {
        &::before {
          content: '\f0e0';
        }
      }
    }
  }
}

.table-wrapper {
  &.grouped {
    max-width: 330px;
    margin: 0 0 8px;
    table {
      tr {
        > th {
          font-size: 1.6rem;
          line-height: 22px;
          font-weight: 400;
          padding: 0 0 11px;

          &.qty {
            text-align: center;
          }
        }

        > td {
          padding: 11px 0 10px;
          &::before {
            display: none !important;
          }

          &.item {
            padding-right: 20px;
          }
        }
      }
    }

    .product-item-name {
      margin: 0 0 3px;
    }

    .price-box {
      .price {
        font-size: 1.2rem;
        line-height: 1.67;
        font-weight: 600;
      }
    }

    .old-price {
      text-decoration: line-through;
    }

    .control {
      &.qty {
        white-space: nowrap;
        font-size: 0;
        line-height: 0;
        .qty-btn {
          display: inline-block;
          vertical-align: top;
          background: none;
          box-shadow: none;
          border: 0;
          transition: opacity .3s;
          height: 34px;
          font-size: 1.2rem;
          padding: 0 10px;
          @media all and (max-width: 767px) {
            padding: 0 16px;
            height: 44px;
          }
        }

        .input-text {
          display: inline-block;
          vertical-align: top;
          width: 40px !important;
          height: 34px;
          font-size: 1.8rem;
          border-radius: 10px;
          border: 1px solid @color-dark-grey;
          @media all and (max-width: 767px) {
            width: 54px;
            height: 44px;
          }
        }
      }
    }
  }

  @media all and (max-width: 639px) {
    &.table-wrapper {
      border: 0;
      margin: 0 0 20px;
      .table {
        &:not(.totals) {
          &:not(.cart) {
            &:not(.table-comparison) {
              display: table;
              > tbody {
                display: table-row-group;
                > tr {
                  display: table-row;
                  td {
                    display: table-cell;
                  }

                  th {
                    display: none;
                  }

                  td {
                    padding: 10px 22px 12px;
                    &.qty {
                      padding: 10px 0 12px;
                      .control {
                        &.qty {
                          width: 143px;
                          .input-text {
                            width: 54px !important;
                          }
                        }
                      }
                    }
                  }
                }
              }

              > thead {
                > tr {
                  > th {
                    display: table-cell;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}






