@charset "UTF-8";

// Default Variables


@slick-font-family: "Font Awesome 5 Free Solid";
@slick-arrow-background: #fff;
@slick-arrow-color: #4a4a4a;
@slick-dot-color: #fff;
@slick-dot-color-active: @slick-dot-color;
@slick-prev-character: "\f104";
@slick-next-character: "\f105";
@slick-dot-character: "•";
@slick-dot-size: 6px;
@slick-opacity-default: 0.75;
@slick-opacity-on-hover: .6;
@slick-opacity-not-active: 0.25;

/* Slider */
.slick-loading .slick-list{
  background: #fff url('@{slick-loader-path}ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 2;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 36%;
  padding: 0;
  border: none;
  outline: none;
  background: none;

  @media all and (max-width: 767px) {
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover, &:focus {
    outline: none;
    background: none;
    color: transparent;
    border: 0;
  }

  &:hover{
    &:before {
      opacity: @slick-opacity-on-hover;
    }
  }

  &.slick-disabled:before {
    opacity: @slick-opacity-not-active;
  }
}

.slick-prev:not(.primary),
.slick-next:not(.primary) {
  box-shadow: none;
}

.slick-prev:before, .slick-next:before {
  font-family: @slick-font-family;
  font-size: 30px;
  line-height: 1;
  color: @slick-arrow-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity .3s;

  & when ( @slick-font-family = 'slick' ) {
    /* Icons */
    @font-face {
      font-family: 'slick';
      font-weight: normal;
      font-style: normal;
      src: url('@{slick-font-path}slick.eot');
      src: url('@{slick-font-path}slick.eot?#iefix') format('embedded-opentype'), url('@{slick-font-path}slick.woff') format('woff'), url('@{slick-font-path}slick.ttf') format('truetype'), url('@{slick-font-path}slick.svg#slick') format('svg');
    }
  }
}

.slick-prev {
  left: 0;
  @media all and (min-width: 1440px) {
    left: -45px;
  }
  [dir="rtl"] & {
    left: auto;
    right: 0;
    @media all and (min-width: 1440px) {
      right: -45px;
    }
  }
  &:before {
    content: @slick-prev-character;
    [dir="rtl"] & {
      content: @slick-next-character;
    }
  }
}

.slick-next {
  right: 0;
  @media all and (min-width: 1440px) {
    right: -45px;
  }
  [dir="rtl"] & {
    left: 0;
    right: auto;
    @media all and (min-width: 1440px) {
      left: -45px;
    }
  }
  &:before {
    content: @slick-next-character;
    [dir="rtl"] & {
      content: @slick-prev-character;
    }
  }
}

/* Dots */

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 29px;
  left: 0;
  right: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    z-index: 2;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 2px 0 3px;
    padding: 0;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      box-shadow: none;

      &:hover,
      &:focus {
        outline: none;

        &:before {
          background: @slick-dot-color-active;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 11px;
        height: 11px;
        border: 1px solid @slick-dot-color;
        transition: background .3s;
        box-sizing: border-box;
        border-radius: 50%;
      }
    }

    &.slick-active button:before {
      background: @slick-dot-color-active;
    }
  }
}
