<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                    <td class="footer">
                        <p>
                            {{trans "Please be careful when sharing these login details with others."}}
                            <br>
                            {{trans "You can now place orders on our Website: %store_name" store_name=$store.getFrontendName() |raw}} | {{trans "Livingstone International"}}</p>

                        <p class="copyright">{{block class='Magento\\Theme\\Block\\Html\\Footer' area='frontend' template='Magento_Theme::html/copyright.phtml'}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
