<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>
<li>
    <div data-block="minicart" class="minicart-wrapper">
        <a class="action showcart"
           data-mage-init='{"dropdown":{}}'
           data-toggle="dropdown"
           data-trigger-keypress-button="true"
           href="<?= /* @escapeNotVerified */ $block->getShoppingCartUrl() ?>" title="<?= /* @escapeNotVerified */ __('My Cart') ?>"
           data-bind="scope: 'minicart_content'"
        >
            <i class="fas fa-shopping-cart"></i>
            <span class="counter qty empty"
                  data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
                <span class="counter-label"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
            </span>
        </a>
        <?php if ($block->getIsNeedToDisplaySideBar()): ?>
            <div class="block block-minicart" data-target="dropdown">
                <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
                <?= $block->getChildHtml('minicart.addons') ?>
            </div>
        <?php endif ?>
        <script>
            window.checkout = <?= /* @escapeNotVerified */ $block->getSerializedConfig() ?>;
        </script>
        <script type="text/x-magento-init">
        {
            "[data-block='minicart']": {
                "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
            },
            "*": {
                "Magento_Ui/js/block-loader": "<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>"
            }
        }
        </script>
    </div>
</li>

