<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
$blockId = str_replace(['/','\\','.'], '_', $block->getNameInLayout());
?>
<?php $_product = $block->getProduct(); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
            <div class="control" data-control="<?= $blockId . '-' . $_product->getId() ?>" data-mage-init='{"qtyControl": {"storage": "<?= 'qty-control_' . $blockId ?>"}}'>
                <button type="button" class="qty-btn" data-role="decrement">
                    <i class="fas fa-minus"></i>
                </button>
                <input type="number"
                       name="qty"
                       maxlength="2"
                       min="1"
                       max="99"
                       step="1"
                       value="<?= $block->getProductDefaultQty() ?>"
                       title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                       class="input-text qty"
                       data-role="input"
                       data-validate='{"required-number":true,"validate-item-quantity":{"minAllowed":1,"maxAllowed":99}}'
                />
                <button type="button" class="qty-btn" data-role="increment">
                    <i class="fas fa-plus"></i>
                </button>
            </div>


        </div>
        <?php endif; ?>
        <?= $block->getChildHtml('', true) ?>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
