// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email extend styles
//  _____________________________________________

//  This file should be used for theme-specific styles for emails that extend or modify the styles in _email.less
//  This will allow you to edit email styles without copying and editing the _email.less file

//  Importing fonts from an external CSS file, rather than embedding @font-face declarations inside the <style> tag,
//  as the latter will cause font rendering issues if the web fonts are inaccessible.

//
//  Email variables
//  _____________________________________________

//  Structure
@email-header__padding: @indent__base;
@indent__m-s: 15px;
@indent__xxl: @indent__base * 2.5; // 40px

//  Content
@email-content__padding__xxl: @indent__xxl;
@email-content__line-height: 1.213;
@email-content__middle-line-height: 1.43;
@email-content__big-line-height: 1.5;
@email-body__width: 749px;

//  Colors
@_color-greyish-brown: #4a4a4a;
@_color-very-light-pink: #e0e0e0;
@_color-brown-grey: #878787;
@_color-navy: #01172f;

@email__background-color: #d2d1d1;
@email__text-color: @_color-greyish-brown;
@email__link-color: #2c9cf2;
@email__dark-blue-color: #273271;

//  Sizes
@font-size__xxs: floor(.72 * @font-size__base); // 10px

@import url("@{baseUrl}css/email-fonts.css");

body {
    line-height: @email-content__line-height;
}

a {
    color: @email__link-color;
}

table {
    color: @email__text-color;
}

.wrapper {
    #customer_create_account_email_template & {
        max-width: 550px;
    }

    #sales_email_order_template &,
    #sales_email_order_guest_template & {
        max-width: 750px;
    }
}

.wrapper-inner {
    padding-top: @email-content__padding__xxl;
    padding-bottom: @email-content__padding__xxl;
    .main {
        width: 100%;
    }
}

.header {
    padding: @email-header__padding;
    text-align: center;

    .logo {
        display: inline-block;
        text-decoration: none !important;

        &:hover {
            text-decoration: none !important;
        }

        img {
            vertical-align: middle;
            margin: 0 @indent__base 0 0;
        }

        strong {
            color: @color-white;
            vertical-align: middle;
            text-transform: uppercase;
            font-size: @font-size__l;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

.main-content {
    padding: @indent__m @indent__l;
    font-family: @font-family__sans-serif;

    td {
        font-family: @font-family__sans-serif;
    }
}

.main-table {
    width: 100%;
}

.greeting {
    margin-bottom: @indent__m;
    line-height: @email-content__big-line-height;

    &.order-greeting {
        margin-bottom: @indent__m-s;
    }

    .customer-name,
    .guest-name {
        text-transform: uppercase;
    }
}

.email-intro {
    p {
        margin-bottom: @indent__m-s;
    }
}

.info-title {
    margin: 0 0 @indent__l;
    line-height: @email-content__middle-line-height;
    font-weight: bold;
    text-transform: uppercase;
    color: @email__dark-blue-color;
}

.summary-list,
.info-list {
    margin: 0 0 @indent__m;
    padding: 0;
    list-style: none;
    line-height: @email-content__line-height;

    li {
        margin: 0;

        a {
            color: @email__text-color;
        }

        dl,
        dt {
            display: inline;
            margin: 0;
        }

        dt {
            font-weight: normal;
        }
    }
}


.email-information {
    .email-items,
    .order-details {
        th,
        td {
            border: 1px solid @_color-very-light-pink;
            font-size: @font-size__s;
        }

        th {
            padding: 0 10px;
            line-height: 2;
            color: @color-white;
            background-color: @_color-greyish-brown;
            text-align: center;
        }

        td {
            color: @_color-greyish-brown;
            background-color: @_color-very-light-pink;
            text-align: left;
        }
    }

    .email-items {
        font-size: @font-size__s;

        th {
            font-weight: normal;

            &.item-sku {
                width: 18%;
            }

            &.item-info {
                width: 31.6%;
            }

            &.item-price {
                width: 13.8%;
            }

            &.item-qty {
                width: 7.5%;
            }
        }

        td {
            background-color: @color-white;
            padding: 10px 5px;

            &.product-sku {
                text-transform: uppercase;
            }

            .product-name {
                font-weight: normal;
                padding: 0;
            }
        }

        .order-totals {
            th,
            td {
                color: @_color-greyish-brown;
                background-color: @_color-very-light-pink;
                text-align: left;
                vertical-align: middle;
                padding: 0 5px;
                line-height: 2;
                font-weight: normal;
                border: 1px solid @_color-very-light-pink;
            }

            .subtotal > td {
                color: @color-white;
                background-color: @_color-brown-grey;
                padding: 5px;
            }

            .spacer > td {
                font-size: 0;
                padding: 0;
                margin: 0;
                background-color: transparent;
                border: none;
            }

            .grand_total {
                th, td {
                    color: @color-white;
                    background-color: @_color-navy;
                    padding: 5px;
                }
            }

        }
    }

    .order-details {
        margin-top: @indent__l;

        .address-details,
        .method-info {
            padding: 0 !important;

            h3 {
                font-size: @font-size__s;
                line-height: 2;
                color: @color-white;
                background-color: @_color-greyish-brown;
                text-transform: uppercase;
                text-align: center;
            }

            p,
            dl {
                padding: 5px;
                line-height: @email-content__big-line-height;
            }
        }
    }
}

.footer {
    font-size: @font-size__s;
    font-family: @font-family__sans-serif;
    background-color: @email-content__background-color;
    padding: @indent__xl @indent__l @indent__m-s;

    table {
        width: 100%;

        td {
            padding-bottom: @email-body__padding;
            width: 33%;

            p {
                margin-bottom: 0;

                &.phone {
                    a {
                        color: inherit;
                    }
                }
            }
        }
    }

    td {
        font-family: @font-family__sans-serif;
    }

    p {
        margin: 0 0 @indent__m-s;
    }

    .copyright {
        padding-top: @indent__m-s;
        font-size: @font-size__xxs;
        border-top: 1px solid @email__dark-blue-color;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .header,
    .main-content,
    .footer {
        padding: @email-body__padding @indent__s !important;
    }

    .footer {
        td {
            display: block;
            width: auto !important;
        }
    }
}
