<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Magento\RequisitionList\Block\Requisition\View\Details
 */
?>
<div class="requisition-toolbar">
    <div class="requisition-toolbar-actions">
        <span class="mobile-label"><?= $block->escapeHtml(__('With Selected')) ?></span>
        <?= $block->getChildHtml('massactions') ?>
    </div>
</div>
