.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .sales-order-view {
    .order-details-items {
      margin-bottom: @indent__s !important;
      border: @border-width__base solid @border-color__base;

      .table-wrapper.order-items {
        float: none;
        border: none;
        margin: 0;

        table.table-order-items {
          display: block !important;

          > thead {
            display: none;
          }

          > tbody {
            display: block !important;
            > tr {
              display: block !important;
              border-bottom: @border-width__base solid @border-color__base;
              &:last-child {
                border-bottom: none;
              }
              > td {
                display: block !important;
                padding: @indent__s 0 @indent__s !important;
              }
            }
          }

          .product-item-name {
            display: inline-block;
            margin: 0;
          }
        }
      }
    }
    .block-order-details-view {
      border: @border-width__base solid @border-color__base;
      padding: @indent__s;

      .block-title {
        border-bottom: @border-width__base solid @border-color__base;
        padding-bottom: @indent__s;
        > strong {
          .lib-font-size(24);
          font-weight: @font-weight__light;
        }
      }

      .block-content {
        .box-title {
          padding: @indent__s 0 @indent__s;
          margin: 0 !important;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .sales-order-view {
    .order-links {
      display: none;
    }
    .order-details-items {
      border: none;
    }
  }
}
