<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\NegotiableQuote\Block\Checkout\Link $block
 * @see \Magento\NegotiableQuote\Block\Checkout\Link
 */
?>

<form class="form negotiable-quote request" id="negotiable-quote-form">
    <?php if ($block->isQuoteRequestEnabled()): ?>
        <button type="button"
                data-role="create-negotiable-quote"
                title="<?php $block->escapeHtml(__('Request a Quote')) ?>"
                class="action primary gray <?php if(!$block->isQuoteRequestAllowed()): ?> disabled<?php endif; ?> ">
            <span><?php /* @noEscape */
                echo __('Request a Quote') ?></span>
        </button>
        <?php if(!$block->isQuoteRequestAllowed()): ?>
            <div class="message-info message info">
                <div><?= $block->escapeHtml($block->getDisallowMessage()) ?></div>
            </div>
        <?php endif; ?>
    <?php endif; ?>
</form>
<div id="negotiable-quote-popup" data-mage-init='{
    "Magento_NegotiableQuote/js/create-negotiable-quote": {
        "moveUrl": "<?= /* @escapeNotVerified */ $block->escapeJsQuote($block->getCreateNegotiableQuoteUrl()) ?>",
        "url": "<?= /* @escapeNotVerified */ $block->escapeJsQuote($block->getCheckQuoteDiscountsUrl()) ?>"
        }
    }' data-role="negotiable-quote-popup" class="modal-container">
    <div class="negotiable-quote-errors messages">
        <div class="message error-wrap error" data-role="error-wrap"></div>
    </div>
    <form class="form form-quote-popup"
          id="add-quote-form"
          method="post"
          data-action="comment-form"
          enctype="multipart/form-data"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'>
        <fieldset class="fieldset info">
            <div class="field quote-message required">
                <label class="label" for="quote-message">
                    <span><?= /* @noEscape */ __('Add your comment') ?></span>
                </label>
                <div class="control">
                        <textarea name="quote-message" id="quote-message"
                                  rows="4"
                                  class="textarea"
                                  data-validate="{required:true}"></textarea>
                </div>
            </div>
            <div class="field quote-name required">
                <label class="label" for="quote-name">
                    <span><?= /* @noEscape */ __('Quote name') ?></span>
                </label>
                <div class="control">
                    <input type="text" name="quote-name" id="quote-name" value=""
                           title="<?= $block->escapeHtml(__('Quote name')) ?>" class="input-text"
                           data-validate="{required:true}">
                </div>
            </div>
            <div class="field quote-attach-file" data-role="attach-wrapper">
                <div data-mage-init='{"Magento_NegotiableQuote/js/quote/add-files": {
                                    "maxSizeB" : "<?= /* @escapeNotVerified */ $block->escapeJsQuote($block->getMaxFileSize()) ?>",
                                    "maxSizeMb" : "<?= /* @escapeNotVerified */ $block->escapeJsQuote($block->getMaxFileSizeMb()) ?>",
                                    "extensions" : "<?= /* @escapeNotVerified */ $block->escapeJsQuote($block->getAllowedExtensions()) ?>"
                                    }}' class="field-attachment" data-role="send-files">
                    <label tabindex="0" data-mage-init='{"Magento_NegotiableQuote/js/quote/add-file": {}}' for="add-file-0">
                        <input name="files[0]" data-role="add-file" id="add-file-0" type="file">
                        <?= /* @noEscape */ __('Attach file') ?>
                    </label>
                </div>
                <div class="attachments-list" data-role="added-files"></div>
                <div class="attachments-list" data-role="history-added-files"></div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" data-action="save-quote"
                        title="<?= $block->escapeHtml(__('Send Request')) ?>">
                    <span><?= /* @noEscape */ __('Send Request') ?></span>
                </button>
            </div>
            <div class="secondary">
                <button class="cancel-quote-request action"
                        title="<?= $block->escapeHtml(__('Cancel')) ?>">
                    <span><?= /* @noEscape */ __('Cancel') ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
