<?php
// @codingStandardsIgnoreFile

/** @var \Magento\Banner\Block\Widget\Banner $block */

$displayMode = $block->getDisplayMode();
$id = $block->escapeHtmlAttr($block->getUniqueId());
?>
<?php if ($displayMode == 'fixed'): ?>
    <div class="widget block block-banners">
        <ul class="banner-items" data-mage-init='{"bannerSlider": {"banner": {"ids": "<?= $block->getData('banner_ids') ?>"}}}'></ul>
    </div>
<?php else: ?>
    <div class="widget block block-banners" data-bind="scope: 'banner'" <?= /* @noEscape */  $block->getWidgetAttributes() ?>>
        <ul class="banner-items">
            <!-- ko foreach: getItems<?= $block->escapeHtml($block->getUniqueId()) ?>() -->
            <li class="banner-item" data-bind="attr: {'data-banner-id': $data.bannerId}">
                <div class="banner-item-content" data-bind="html: $data.html"></div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "banner": {
                        "component": "Magento_Banner/js/view/banner"
                    }
                }
            }
        }
    }
    </script>
<?php endif; ?>
